/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-column-documentID {
  width: 200px;
}

.mat-column-creatiedatum {
  width: 110px;
}

.mat-column-actions {
  width: 80px;
}
