<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-content>
                <div class="table-wrapper historie">
                    <table mat-table [dataSource]="parameters" matSort>
                        <ng-container matColumnDef="identificatie">
                            <th mat-header-cell *matHeaderCellDef> {{'identificatie' | translate}} </th>
                            <td mat-cell *matCellDef="let row">{{row.zaaktype.identificatie}}</td>
                        </ng-container>

                        <ng-container matColumnDef="omschrijving">
                            <th mat-header-cell *matHeaderCellDef> {{'naam' | translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                <read-more [text]="row.zaaktype.omschrijving" [maxLength]="100"></read-more>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="doel">
                            <th mat-header-cell *matHeaderCellDef> {{'doel' | translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                <read-more [text]="row.zaaktype.doel" [maxLength]="100"></read-more>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="model">
                            <th mat-header-cell *matHeaderCellDef> {{'caseDefinition' | translate}} </th>
                            <td mat-cell *matCellDef="let row"> {{row.caseDefinition | empty:'naam'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="groep">
                            <th mat-header-cell *matHeaderCellDef> {{'groep' | translate}} </th>
                            <td mat-cell *matCellDef="let row"> {{row.defaultGroep | empty:'naam'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="behandelaar">
                            <th mat-header-cell *matHeaderCellDef> {{'behandelaar' | translate}} </th>
                            <td mat-cell *matCellDef="let row"> {{row.defaultBehandelaar | empty:'naam'}} </td>
                        </ng-container>
                        <ng-container matColumnDef="url" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef></th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-flat-button [routerLink]="['/admin/parameters/', row.zaaktype.uuid]"
                                        title="{{ 'actie.bewerken' | translate}}">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row
                            *matHeaderRowDef="['identificatie','omschrijving', 'doel', 'model', 'groep', 'behandelaar', 'url']; sticky: true"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['identificatie', 'omschrijving', 'doel', 'model', 'groep', 'behandelaar', 'url'];"></tr>
                    </table>
                    <p *ngIf="parameters.data.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
