<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-chip-list class="list" *ngIf="zaakZoekObject" selectable="false" fxLayout="row">
    <mat-chip *ngIf="zaakZoekObject.indicatieOpschorting" color="accent" selected
              [matTooltip]="('indicatieOpschorting' | translate) +': '+ zaakZoekObject.redenOpschorting">O
    </mat-chip>
    <mat-chip *ngIf="zaakZoekObject.indicatieVerlenging"
              [matTooltip]="('indicatieVerlenging' | translate) +': '+ zaakZoekObject.redenVerlenging">V
    </mat-chip>
    <mat-chip *ngIf="zaakZoekObject.indicatieHeropend" color="accent" selected
              [matTooltip]="('indicatieHeropend' | translate) +': '+ zaakZoekObject.statusToelichting">H
    </mat-chip>
    <mat-chip *ngIf="zaakZoekObject.indicatieDeelzaak" [matTooltip]="'indicatieDeelzaak' | translate">DZ</mat-chip>
    <mat-chip *ngIf="zaakZoekObject.indicatieHoofdzaak" [matTooltip]="'indicatieHoofdzaak' | translate">HZ</mat-chip>
</mat-chip-list>

<mat-chip-list class="view" *ngIf="zaak" selectable="false" fxLayout="row">
    <mat-chip *ngIf="zaak.isOpgeschort" color="accent" selected [matTooltip]="zaak.redenOpschorting">{{'indicatieOpschorting' | translate}}</mat-chip>
    <mat-chip *ngIf="zaak.isVerlengd" [matTooltip]="zaak.redenVerlenging">{{'indicatieVerlenging' | translate}}</mat-chip>
    <mat-chip *ngIf="zaak.isHeropend" color="accent" selected [matTooltip]="zaak.status.toelichting">{{'indicatieHeropend' | translate}}</mat-chip>
    <mat-chip *ngIf="zaak.isDeelzaak"
              [matTooltip]="'indicatie.relatie.toelichting' | translate: {'identificatie': getHoofdzaakID()}">{{'indicatieDeelzaak' | translate}}
    </mat-chip>
    <mat-chip *ngIf="zaak.isHoofdzaak"
              [matTooltip]="getDeelZaakToelichting() | translate: getDeelZaakArgs()">{{'indicatieHoofdzaak' | translate}}
    </mat-chip>
</mat-chip-list>
