<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<mat-sidenav-container autosize>
    <mat-sidenav #actionsSideNav mode="over" position="end" [ngSwitch]="action">
        <zac-klant-zoek *ngSwitchCase="'ZOEK_INITIATOR'" (klant)="initiatorGeselecteerd($event)" [acties]="acties" [initiator]="true"></zac-klant-zoek>
        <zac-locatie-zoek *ngSwitchCase="'ZOEK_LOCATIE'" (locatie)="locatieGeselecteerd($event)"></zac-locatie-zoek>
    </mat-sidenav>
    <div class="content">
        <div class="form">
            <mfb-form *ngIf="createZaakFields" (formSubmit)="onFormSubmit($event)" [formFields]="createZaakFields" [config]="formConfig"></mfb-form>
        </div>
    </div>
</mat-sidenav-container>

