/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-mdc-list .mat-mdc-list-item {
  height: 52px;

  &:hover {
    box-shadow: 0 0 0 1px #e0e0e0;
  }

  .sub-text {
    font-size: 12px;
    font-style: italic;
  }

  .help-icon {
    font-size: 18px;
    height: auto;
  }
}

.entity-type {
  font-size: 12px;
  font-weight: bold;
}

.align-self-end {
  align-self: flex-end;
  flex: 1 0 auto;
}
