<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="zoek-wrapper" fxLayout="column" fxLayoutGap="5px">
    <div fxLayoutGap="16px">
        <label class="form-label" for="werkvoorraadVan_radio" fxFlex="15"
               fxFlex.lt-md="25">{{'werkvoorraad.van' | translate}}</label>

        <mat-radio-group aria-labelledby="werkvoorraadVan_radio" id="werkvoorraadVan_radio"
                         [(ngModel)]="dataSource.zoekParameters.selectie" fxFlex="35" fxFlex.lt-md="75"
                         (ngModelChange)="switchTypeAndSearch()">
            <mat-radio-button *ngFor="let selectie of dataSource.selecties" [id]="selectie + '_radiobutton'"
                              [value]="selectie">
                {{ selectie | translate}}
            </mat-radio-button>
        </mat-radio-group>
    </div>
    <div fxLayoutGap="16px">
        <label fxFlex="15" fxFlex.lt-md="25"></label>
        <ng-container *ngIf="dataSource.zoekParameters.selectie === 'groep'">
            <mat-form-field appearance="standard" fxFlex="35" fxFlex.lt-md="75">
                <mat-label>{{'groep' | translate}}</mat-label>
                <mat-select (selectionChange)="searchAndGoToFirstPage()" [(ngModel)]="dataSource.zoekParameters.groep"
                            id="groep_filter">
                    <mat-option>{{'groep.-kies-' | translate}}</mat-option>
                    <mat-option *ngFor="let groep of groepen"
                                [value]="groep.id">
                        {{groep.naam | translate}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>

        <ng-container *ngIf="dataSource.zoekParameters.selectie === 'zaaktype'">
            <mat-form-field appearance="standard" fxFlex="35" fxFlex.lt-md="75">
                <mat-label>{{'zaaktype' | translate}}</mat-label>
                <mat-select (selectionChange)="searchAndGoToFirstPage()"
                            [(ngModel)]="dataSource.zoekParameters.zaaktype"
                            id="zaaktype_filter">
                    <mat-option>{{'zaaktype.-kies-' | translate}}</mat-option>
                    <mat-option *ngFor="let zaakType of zaakTypes" [value]="zaakType.identificatie">
                        {{zaakType.omschrijving}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </ng-container>
    </div>
</div>

<div class="table-wrapper" [class.loading]="utilService.loading$ | async">
    <table mat-table matSort multiTemplateDataRows
           cdkDropList
           cdkDropListLockAxis="x"
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="dataSource.drop($event)">

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel() | translate"
                              id="selectAll_checkbox">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row) | translate"
                              [id]="row.identificatie +'_checkbox'">

                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="identificatie">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'zaak.identificatie' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.identificatie }}
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'status' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.status | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="zaaktype">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'zaaktype' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.zaaktype | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="groep">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'groep' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.groep | empty: 'naam' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="startdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="'startdatum'">
                {{ 'startdatum' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.startdatum | datum | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="einddatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'einddatum' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.einddatum | datum | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="einddatumGepland">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'einddatumGepland' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.einddatumGepland | datum | empty }}
                <mat-icon class="warning" [title]="'msg.datum.overschreden' | translate"
                          *ngIf="isAfterDate(row.einddatumGepland)">warning
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="behandelaar">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'behandelaar' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.behandelaar | empty: 'naam' }}
            </td>
        </ng-container>
        <ng-container matColumnDef="uiterlijkeEinddatumAfdoening">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'uiterlijkeEinddatumAfdoening' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.uiterlijkeEinddatumAfdoening | datum | empty }}
                <mat-icon class="error" [title]="'msg.datum.overschreden' | translate"
                          *ngIf="isAfterDate(row.uiterlijkeEinddatumAfdoening)">warning
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="toelichting">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'toelichting' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.toelichting | translate | empty }}
            </td>
        </ng-container>

        <ng-container matColumnDef="url" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <button (click)="resetSearchCriteria()" title="{{ 'actie.zoekopdracht.wissen' | translate }}"
                        mat-flat-button id="wisZoekopdracht_button">
                    <mat-icon>replay</mat-icon>
                </button>
                <zac-column-picker [columnSrc]="dataSource.columns"
                                   (columnsChanged)="dataSource.updateColumns($event)"></zac-column-picker>
            </th>
            <td mat-cell *matCellDef=" let row">
                <button mat-flat-button [routerLink]="['/zaken', row.identificatie]" (click)="$event.stopPropagation()"
                        [id]="'zaakBekijken_' + row.identificatie +'_button'"
                        title="{{ 'actie.zaak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button (click)="assignToMe(row, $event)"
                        [id]="'kenZaakAanMijToe_' + row.identificatie +'_button'"
                        mat-flat-button
                        title="{{ 'actie.mij.toekennen' | translate }}"
                        *ngIf="showAssignToMe(row)">
                    <mat-icon>person_add_alt_1</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="dataSource.visibleColumns.length">
                <div class="row-detail"
                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
                        <ng-container *ngFor="let column of dataSource.detailExpandColumns" [ngSwitch]="column">
                            <zac-static-text *ngSwitchCase="'groep'" fxFlex="33" [label]="column | translate"
                                             [value]="row.groep | empty: 'naam'"></zac-static-text>
                            <zac-static-text *ngSwitchCase="'behandelaar'" fxFlex="33" [label]="column | translate"
                                             [value]="row.behandelaar | empty: 'naam'"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'einddatumGepland'" fxFlex="33"
                                             [label]="column | translate"
                                             [value]="row.einddatumGepland | datum"
                                             [icon]="einddatumGeplandIcon"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'uiterlijkeEinddatumAfdoening'" fxFlex="33"
                                             [label]="column | translate"
                                             [value]="row.uiterlijkeEinddatumAfdoening | datum"
                                             [icon]="uiterlijkeEinddatumAfdoeningIcon"></zac-static-text>

                            <zac-static-text *ngSwitchDefault fxFlex="33" [label]="column | translate"
                                             [value]="row[column] | datum | translate"></zac-static-text>
                        </ng-container>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="dataSource.visibleColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource.visibleColumns"
            class="row"
            [class.expanded-row]="expandedRow === row"
            (click)="expandedRow = expandedRow === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            class="collapsed-row"></tr>
    </table>

    <ng-container *ngIf="dataSource.totalItems === 0">
        <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
    </ng-container>

    <mat-paginator #paginator
                   [length]="dataSource.totalItems"
                   [pageIndex]="0"
                   [pageSize]="25"
                   (page)="pageChange()"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   sticky>
    </mat-paginator>
</div>

<div [hidden]="!isSelected()">
    <div class="buttons">
        <button (click)="openVerdelenScherm()" color="accent" id="verdelen_button" mat-raised-button
                title="{{ 'actie.verdelen' | translate }}">
            {{'actie.verdelen' | translate}}
            <mat-icon [matBadgeHidden]="!isSelected()" [matBadge]=countSelected() matBadgeColor="primary"
                      matBadgeSize="small">assignment_ind
            </mat-icon>
        </button>
        <button (click)="openVrijgevenScherm()" color="accent" id="vrijgeven_button" mat-raised-button
                title="{{ 'actie.vrijgeven' | translate }}">
            {{'actie.vrijgeven' | translate}}
            <mat-icon [matBadgeHidden]="!isSelected()" [matBadge]=countSelected() matBadgeColor="primary"
                      matBadgeSize="small">clear_all
            </mat-icon>
        </button>
    </div>
</div>
