/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

#zoekSelectie {
  padding: 15px;
}

#zoekSelectie mat-form-field {
  padding-right: 25px;
}

mat-radio-button {
  padding-left: 15px;
}

#groepSelectie {
  margin-left: 15px;
}

#zaaktypeSelectie {
  margin-left: 15px;
}

.mat-radio-container {
  .mat-radio-outer-circle, .mat-radio-inner-circle {
    height: 18px;
    width: 18px;
  }

  .mat-radio-button .mat-radio-ripple {
    width: 38px;
    height: 38px;
  }
}
