<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper" [class.loading]="utilService.loading$ | async">
    <table mat-table matSort matSortDisableClear matSortDirection="desc" matSortActive="IDENTIFICATIE"
           multiTemplateDataRows cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dataSource.drop($event)">

        <ng-container matColumnDef="select_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef>
                <mat-checkbox (change)="$event ? masterToggle() : null"
                              [checked]="selection.hasValue() && isAllSelected()"
                              [indeterminate]="selection.hasValue() && !isAllSelected()"
                              [aria-label]="checkboxLabel() | translate"
                              id="selectAll_checkbox">
                </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
                <mat-checkbox (click)="$event.stopPropagation()"
                              (change)="$event ? selection.toggle(row) : null"
                              [checked]="selection.isSelected(row)"
                              [aria-label]="checkboxLabel(row) | translate"
                              [id]="row.identificatie +'_checkbox'">
                </mat-checkbox>
            </td>
        </ng-container>

        <ng-container matColumnDef="zaak.identificatie_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <input matInput placeholder="..." (keyup.enter)="filtersChange()"
                           [(ngModel)]="dataSource.zoekParameters.zoeken['IDENTIFICATIE']">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="zaak.identificatie">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="IDENTIFICATIE">{{ 'zaak.identificatie' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.identificatie }}</td>
        </ng-container>


        <ng-container matColumnDef="status_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-select placeholder="{{ 'status.-kies-' | translate }}" id="status_filter" (selectionChange)="filtersChange()"
                                [(ngModel)]="dataSource.zoekParameters.filters['ZAAK_STATUS']">
                        <mat-option>{{ 'status.-kies-' | translate }}</mat-option>
                        <mat-option *ngFor="let value of getFilters('ZAAK_STATUS')" [value]="value">{{ value }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_STATUS">{{ 'status' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.statustypeOmschrijving | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="zaaktype_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-select id="zaaktype_filter" (selectionChange)="filtersChange()" placeholder="{{'zaaktype.-kies-' | translate}}"
                                [(ngModel)]="dataSource.zoekParameters.filters['ZAAK_ZAAKTYPE']">
                        <mat-option>{{ 'zaaktype.-kies-' | translate }}</mat-option>
                        <mat-option *ngFor="let value of  getFilters('ZAAK_ZAAKTYPE')" [value]="value">{{ value }}</mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="zaaktype">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_ZAAKTYPE">{{ 'zaaktype' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.zaaktypeOmschrijving | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="omschrijving_filter">
            <th mat-header-cell *matHeaderCellDef id="omschrijving_filter">
                <mat-form-field appearance="standard">
                    <input matInput placeholder="..." (keyup.enter)="filtersChange()"
                           [(ngModel)]="dataSource.zoekParameters.zoeken['ZAAK_OMSCHRIJVING']">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="omschrijving">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'omschrijving' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.omschrijving | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="groep_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-select id="groep_filter" (selectionChange)="filtersChange()" placeholder="{{'groep.-kies-' | translate}}"
                                [(ngModel)]="dataSource.zoekParameters.filters['ZAAK_GROEP']">
                        <mat-option>{{ 'groep.-kies-' | translate }}</mat-option>
                        <mat-option *ngFor="let value of getFilters('ZAAK_GROEP')" [value]="value">
                            {{ value == '-NULL-' ? ('-geen-' | translate) : value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="groep">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_GROEP">{{ 'groep' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.groepNaam | empty}}</td>
        </ng-container>

        <ng-container matColumnDef="startdatum_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-label>{{'startdatum' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="startdatumPicker">
                        <input readonly matStartDate placeholder="van" [(ngModel)]="dataSource.zoekParameters.datums['ZAAK_STARTDATUM'].van">
                        <input readonly matEndDate placeholder="tot" [(ngModel)]="dataSource.zoekParameters.datums['ZAAK_STARTDATUM'].tot">
                    </mat-date-range-input>
                    <mat-datepicker-toggle *ngIf="!hasDate('ZAAK_STARTDATUM')" matSuffix [for]="startdatumPicker"></mat-datepicker-toggle>
                    <mat-icon *ngIf="hasDate('ZAAK_STARTDATUM')" matSuffix (click)="clearDate($event, 'ZAAK_STARTDATUM')">clear</mat-icon>
                    <mat-date-range-picker (closed)="filtersChange()" disabled="false" #startdatumPicker></mat-date-range-picker>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="startdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_STARTDATUM">{{ 'startdatum' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.startdatum | datum | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="einddatumGepland_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-label>{{'streefdatum' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="streefdatumPicker">
                        <input readonly matStartDate placeholder="van" [(ngModel)]="dataSource.zoekParameters.datums['ZAAK_EINDDATUM_GEPLAND'].van">
                        <input readonly matEndDate placeholder="tot" [(ngModel)]="dataSource.zoekParameters.datums['ZAAK_EINDDATUM_GEPLAND'].tot">
                    </mat-date-range-input>
                    <mat-datepicker-toggle *ngIf="!hasDate('ZAAK_EINDDATUM_GEPLAND')" matSuffix [for]="streefdatumPicker"></mat-datepicker-toggle>
                    <mat-icon *ngIf="hasDate('ZAAK_EINDDATUM_GEPLAND')" matSuffix
                              (click)="clearDate($event, 'ZAAK_EINDDATUM_GEPLAND')">clear
                    </mat-icon>
                    <mat-date-range-picker (closed)="filtersChange()" disabled="false" #streefdatumPicker></mat-date-range-picker>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="einddatumGepland">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_EINDDATUM_GEPLAND">{{ 'einddatumGepland' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.einddatumGepland | datum | empty }}
                <mat-icon *ngIf="isAfterDate(row.einddatumGepland)" class="warning" [title]="'msg.datum.overschreden' | translate"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="dagenTotStreefdatum_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="dagenTotStreefdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'dagenTotStreefdatum' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.einddatumGepland | dagen | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="behandelaar_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-select id="behandelaar_filter" (selectionChange)="filtersChange()" placeholder="{{'behandelaar.-kies-' | translate}}"
                                [(ngModel)]="dataSource.zoekParameters.filters['ZAAK_BEHANDELAAR']">
                        <mat-option>{{ 'behandelaar.-kies-' | translate }}</mat-option>
                        <mat-option *ngFor="let value of getFilters('ZAAK_BEHANDELAAR')" [value]="value">
                            {{ value == '-NULL-' ? ('-geen-' | translate) : value }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="behandelaar">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_BEHANDELAAR">{{ 'behandelaar' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.behandelaarNaam | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="uiterlijkeEinddatumAfdoening_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <mat-label>{{'uiterlijkedatumafdoening' | translate}}</mat-label>
                    <mat-date-range-input [rangePicker]="fataledatumPicker">
                        <input readonly matStartDate placeholder="van"
                               [(ngModel)]="dataSource.zoekParameters.datums['ZAAK_UITERLIJKE_EINDDATUM_AFDOENING'].van">
                        <input readonly matEndDate placeholder="tot" [(ngModel)]="dataSource.zoekParameters.datums['ZAAK_UITERLIJKE_EINDDATUM_AFDOENING'].tot">
                    </mat-date-range-input>
                    <mat-datepicker-toggle *ngIf="!hasDate('ZAAK_UITERLIJKE_EINDDATUM_AFDOENING')" matSuffix [for]="fataledatumPicker"></mat-datepicker-toggle>
                    <mat-icon *ngIf="hasDate('ZAAK_UITERLIJKE_EINDDATUM_AFDOENING')" matSuffix
                              (click)="clearDate($event, 'ZAAK_UITERLIJKE_EINDDATUM_AFDOENING')">clear
                    </mat-icon>
                    <mat-date-range-picker (closed)="filtersChange()" disabled="false" #fataledatumPicker></mat-date-range-picker>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="uiterlijkeEinddatumAfdoening">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_UITERLIJKE_EINDDATUM_AFDOENING">
                {{ 'uiterlijkeEinddatumAfdoening' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.uiterlijkeEinddatumAfdoening | datum | empty }}
                <mat-icon class="error" [title]="'msg.datum.overschreden' | translate"
                          *ngIf="isAfterDate(row.uiterlijkeEinddatumAfdoening)">warning
                </mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="dagenTotFataledatum_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="dagenTotFataledatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'dagenTotFataledatum' | translate }} </th>
            <td mat-cell *matCellDef="let row">{{ row.uiterlijkeEinddatumAfdoening | dagen | empty }} </td>
        </ng-container>

        <ng-container matColumnDef="toelichting_filter">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field appearance="standard">
                    <input matInput placeholder="..." (keyup.enter)="filtersChange()"
                           [(ngModel)]="dataSource.zoekParameters.zoeken['ZAAK_TOELICHTING']">
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="toelichting">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'toelichting' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.toelichting | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="openstaandeTaken_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>

        <ng-container matColumnDef="openstaandeTaken">
            <th mat-header-cell cdkDrag *matHeaderCellDef mat-sort-header="ZAAK_AANTAL_OPENSTAANDE_TAKEN">{{ 'openstaandeTaken' | translate | empty}}</th>
            <td mat-cell *matCellDef="let row">{{ row.aantalOpenstaandeTaken }}</td>
        </ng-container>

        <ng-container matColumnDef="url_filter" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <button mat-icon-button (click)="reset()" title="{{ 'actie.zoekopdracht.wissen' | translate }}" id="wisZoekopdracht_button">
                    <mat-icon>replay</mat-icon>
                </button>
            </th>
        </ng-container>

        <ng-container matColumnDef="url" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <zac-column-picker [columnSrc]="dataSource.columns" (columnsChanged)="dataSource.updateColumns($event)"></zac-column-picker>
            </th>
            <td mat-cell *matCellDef=" let row">
                <button mat-flat-button [routerLink]="['/zaken', row.identificatie]" (click)="$event.stopPropagation()"
                        [id]="'zaakBekijken_' + row.identificatie +'_button'" title="{{ 'actie.zaak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </button>
                <button mat-flat-button [id]="'kenZaakAanMijToe_' + row.identificatie +'_button'" title="{{ 'actie.mij.toekennen' | translate }}"
                        (click)="assignToMe(row, $event)" *ngIf="showAssignToMe(row)">
                    <mat-icon>person_add_alt_1</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [colSpan]="dataSource.visibleColumns.length">
                <div class="row-detail"
                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
                        <ng-container *ngFor="let column of dataSource.detailExpandColumns" [ngSwitch]="column">
                            <zac-static-text *ngSwitchCase="'groep'" fxFlex="33" [label]="column | translate"
                                             [value]="row.groepNaam | empty"></zac-static-text>
                            <zac-static-text *ngSwitchCase="'behandelaarNaam'" fxFlex="33" [label]="column | translate"
                                             [value]="row.behandelaarNaam | empty"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'einddatumGepland'" fxFlex="33" [label]="column | translate"
                                             [value]="row.einddatumGepland | datum"
                                             [icon]="einddatumGeplandIcon"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'dagenTotStreefdatum'" fxFlex="33" [label]="column | translate"
                                             [value]="row.einddatumGepland | dagen"
                                             [icon]="einddatumGeplandIcon"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'uiterlijkeEinddatumAfdoening'" fxFlex="33" [label]="column | translate"
                                             [value]="row.uiterlijkeEinddatumAfdoening | datum"
                                             [icon]="uiterlijkeEinddatumAfdoeningIcon"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'dagenTotFataledatum'" fxFlex="33" [label]="column | translate"
                                             [value]="row.uiterlijkeEinddatumAfdoening | dagen"></zac-static-text>

                            <zac-static-text *ngSwitchDefault fxFlex="33" [label]="column | translate"
                                             [value]="row[column] | datum | translate"></zac-static-text>
                        </ng-container>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="dataSource.visibleColumns; sticky: true"></tr>
        <tr mat-header-row
            *matHeaderRowDef="dataSource.filterColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource.visibleColumns"
            class="row"
            [class.expanded-row]="expandedRow === row"
            (click)="expandedRow = expandedRow === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            class="collapsed-row"></tr>
    </table>

    <ng-container *ngIf="dataSource.totalItems === 0"><p>{{'msg.geen.gegevens.gevonden' | translate}}</p></ng-container>
    <mat-paginator #paginator [length]="dataSource.totalItems" [pageIndex]="0" [pageSize]="25"
                   (page)="pageChange()" [pageSizeOptions]="[10, 25, 50, 100]" sticky>
    </mat-paginator>
</div>

<div [hidden]="!isSelected()">
    <div class="buttons">
        <button (click)="openVerdelenScherm()" color="accent" id="verdelen_button" mat-raised-button
                title="{{ 'actie.verdelen' | translate }}">
            {{'actie.verdelen' | translate}}
            <mat-icon [matBadgeHidden]="!isSelected()" [matBadge]=countSelected() matBadgeColor="primary"
                      matBadgeSize="small">assignment_ind
            </mat-icon>
        </button>
        <button (click)="openVrijgevenScherm()" color="accent" id="vrijgeven_button" mat-raised-button
                title="{{ 'actie.vrijgeven' | translate }}">
            {{'actie.vrijgeven' | translate}}
            <mat-icon [matBadgeHidden]="!isSelected()" [matBadge]=countSelected() matBadgeColor="primary"
                      matBadgeSize="small">clear_all
            </mat-icon>
        </button>
    </div>
</div>
