<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="naam">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="naam"> {{'naam' | translate}} </th>
            <td mat-cell *matCellDef="let object"> {{object.naam | empty}} </td>
        </ng-container>
        <ng-container matColumnDef="creatiedatum">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="creatiedatum"> {{'creatiedatumTijd' | translate}} </th>
            <td mat-cell *matCellDef="let object"> {{object.creatiedatum | datum | empty}} </td>
        </ng-container>
        <ng-container matColumnDef="zaakIdentificatie">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="zaakIdentificatie"> {{'zaakIdentificatie' | translate}} </th>
            <td mat-cell *matCellDef="let object"> {{object.zaakIdentificatie}} </td>
        </ng-container>
        <ng-container matColumnDef="zaaktypeOmschrijving">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="zaaktypeOmschrijving"> {{'zaaktype' | translate}} </th>
            <td mat-cell *matCellDef="let object"> {{object.zaaktypeOmschrijving}} </td>
        </ng-container>

        <ng-container matColumnDef="url" stickyEnd id="taakButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let object">
                <button mat-flat-button
                        [id]="'taakBekijken_' + object.id +'_button'"
                        [routerLink]="['/taken', object.id]"
                        title="{{ 'actie.taak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5"><p>{{'msg.geen.gegevens.gevonden' | translate}}</p></td>
        </tr>
    </table>

    <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
</div>
