<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="content" fxLayout="row wrap">

    <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'naam' | translate"
                     [value]="parameters.zaaktype.omschrijving"></zac-static-text>
    <zac-static-text fxFlex="66" fxFlex.lt-md="100" [label]="'doel' | translate"
                     [value]="parameters.zaaktype.doel"></zac-static-text>
    <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'identificatie' | translate"
                     [value]="parameters.zaaktype.identificatie"></zac-static-text>
    <zac-static-text fxFlex="66" fxFlex.lt-md="100" [label]="'uuid' | translate"
                     [value]="parameters.zaaktype.uuid"></zac-static-text>
    <zac-static-text fxFlex="33" [label]="'defaultBehandelaar' | translate"
                     [value]="parameters.defaultBehandelaar?.naam"></zac-static-text>
    <zac-static-text fxFlex="66" fxFlex.lt-md="100" [label]="'defaultGroep' | translate"
                     [value]="parameters.defaultGroep?.naam | empty"></zac-static-text>
    <zac-static-text fxFlex="33" [label]="'caseModel' | translate"
                     [value]="parameters.caseModel.naam"></zac-static-text>

</div>
