<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<mat-tab-group>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>emoji_people</mat-icon>
            {{'actie.zoeken.persoon' | translate}}
        </ng-template>
        <zac-persoon-zoek (persoon)="klantGeselecteerd($event)"></zac-persoon-zoek>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>business</mat-icon>
            {{'actie.zoeken.bedrijf' | translate}}
        </ng-template>
        <zac-bedrijf-zoek (bedrijf)="klantGeselecteerd($event)"></zac-bedrijf-zoek>
    </mat-tab>
</mat-tab-group>
