<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container tablet-bottom-toolbar">
    <mat-sidenav #taakMenuSideNav [mode]="(utilService.isTablet$|async) ?'over':'side'" [opened]="!(utilService.isTablet$|async)"
                 (mouseenter)="collapseSideNav(false)" (mouseleave)="collapseSideNav(true)">
        <zac-side-nav [menu]="menu" [collapsed]="collapsed"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav #verkorteZaakSideNav [mode]="(utilService.isTablet$|async) ?'over':'side'" [opened]="!(utilService.isTablet$|async)" position="end">
        <zac-zaak-verkort [zaakUuid]="taak.zaakUUID" (zaakLoadedEmitter)="onZaakLoaded($event)"></zac-zaak-verkort>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-header>
                <mat-card-title>{{'taak' | translate}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                    <div [fxFlex]="100/3" fxFlex.lt-md="50">
                        <zac-static-text [label]="'naam' | translate" [value]="taak.naam"></zac-static-text>
                        <zac-static-text [label]="'taak.status' | translate" [value]="'taak.status.'+taak.status | translate"></zac-static-text>
                    </div>

                    <div [fxFlex]="100/3" fxFlex.lt-md="50">
                        <zac-static-text [label]="'groep' | translate" [value]="taak.groep.naam"></zac-static-text>
                        <zac-behandelaar-veld [taakId]="taak.id" [zaakUuid]="taak.zaakUUID" [behandelaar]="taak.behandelaar"
                                              [laatKnopZien]="taak.rechten[taakRechten.TOEKENNEN_AAN_MIJ]"
                                              (behandelaarGewijzigd)="ophalenTaak()"></zac-behandelaar-veld>
                    </div>

                    <div [fxFlex]="100/3" fxFlex.lt-md="100" fxLayout.sm="row">
                        <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                            <mat-divider></mat-divider>
                        </div>
                        <zac-static-text fxFlex.sm="50" [label]="'creatiedatum' | translate" [value]="taak.creatiedatumTijd | datum | empty"></zac-static-text>
                        <zac-static-text fxFlex.sm="50" [label]="'streefdatum' | translate" [value]="taak.streefdatum | datum | empty"></zac-static-text>
                    </div>

                    <div fxFlex="100">
                        <zac-edit [label]="'toelichting' | translate" [value]="taak.toelichting | empty" (onSave)="editTaak($event, 'toelichting')"></zac-edit>
                    </div>
                </div>
            </mat-card-content>
        </mat-card>

        <mat-card fxFlex="100" *ngIf="formulier">
            <mat-card-content>
                <mfb-form *ngIf="formulier" (formSubmit)="onFormSubmit($event)" [formFields]="formulier.form" [config]="formConfig"></mfb-form>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="bottom-toolbar" *ngIf="utilService.isTablet$|async">

    <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="taakMenuSideNav.toggle(); verkorteZaakSideNav.close()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

    <div fxLayout="row" fxFlex fxLayoutAlign="end center">
        <button mat-icon-button (click)="verkorteZaakSideNav.toggle(); taakMenuSideNav.close()">
            <mat-icon>folder_open</mat-icon>
        </button>
    </div>

</mat-toolbar>
