/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

@media (max-width: 960px) {
  .mat-mdc-drawer.mat-mdc-drawer-end {
    max-width: 50%;
  }
}

@media (max-width: 500px) {
  .mat-mdc-drawer.mat-mdc-drawer-end {
    max-width: 75%;
  }
}

.mat-mdc-slide-toggle {
  right: 30px;
  position: absolute;
}

