<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field appearance="fill" class="full-width">
    <mat-label>{{data.label | translate}}</mat-label>
    <input [formControl]="data.formControl" [id]="data.id + '_autocompletefield'" [matAutocomplete]="auto"
           matInput type="text" [maxlength]="data.maxlength">
    <mat-icon matSuffix *ngIf="isSearching()">search</mat-icon>
    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="data.optionValue ? option[data.optionValue] : option">
            {{(data.optionLabel ? option[data.optionLabel] : option) | translate}}
        </mat-option>
    </mat-autocomplete>
    <mat-hint *ngIf="data.hint" [align]="data.hint.align">{{data.hint.label | translate}}</mat-hint>
    <mat-error *ngIf="data.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
