<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="form">
    <div *ngIf="betrokkeneRoltypeField" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="100">
            <mfb-form-field [field]="betrokkeneRoltypeField"></mfb-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="100">
            <mfb-form-field [field]="bsnFormField"></mfb-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="66">
            <mfb-form-field [field]="geslachtsnaamFormField"></mfb-form-field>
        </div>
        <div fxFlex="33">
            <mfb-form-field [field]="geboortedatumFormField"></mfb-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="66">
            <mfb-form-field [field]="postcodeFormField"></mfb-form-field>
        </div>
        <div fxFlex="33">
            <mfb-form-field [field]="huisnummerFormField"></mfb-form-field>
        </div>
    </div>
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="100">
            <mfb-form-field [field]="gemeenteCodeFormField"></mfb-form-field>
        </div>
    </div>
    <button mat-flat-button color="primary" [disabled]="!isValid() || loading" (click)="zoekPersonen()">Zoek
        <mat-icon class="spinner" *ngIf="loading">
            <mat-progress-spinner color="warn" diameter="20" mode="indeterminate"></mat-progress-spinner>
        </mat-icon>
    </button>
</div>

<div class="table-wrapper">
    <table mat-table [dataSource]="personen" matSort>
        <ng-container matColumnDef="bsn">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'bsn' | translate}} </th>
            <td *matCellDef="let persoon" mat-cell>{{persoon.bsn | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="naam">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'naam' | translate}} </th>
            <td *matCellDef="let persoon" mat-cell>{{persoon.naam | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="geboortedatum">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'geboortedatum' | translate}} </th>
            <td *matCellDef="let persoon" mat-cell>{{persoon.geboortedatum | datum | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="inschrijfadres">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'inschrijfadres' | translate}} </th>
            <td *matCellDef="let persoon" mat-cell>{{persoon.inschrijfadres | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="acties" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-flat-button color="primary" (click)="selectPersoon(row)" title="{{ 'actie.selecteren' | translate}}">
                    <mat-icon>emoji_people</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="persoonColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: persoonColumns;"></tr>
    </table>
    <p *ngIf="personen.data.length == 0 && !loading">{{foutmelding ? foutmelding : 'msg.geen.gegevens.gevonden' | translate}}</p>
    <p *ngIf="loading ">{{'msg.loading' | translate}}</p>
</div>
