<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="sidenav-title">
    <h3>
        <mat-icon>person_add_alt_1</mat-icon>
        {{(initiator ? 'actie.initiator.toevoegen' : 'actie.betrokkene.toevoegen') | translate}}</h3>
    <button mat-icon-button (click)="sideNav.close()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<!--Initiator-->
<mat-tab-group mat-stretch-tabs="false" *ngIf="initiator">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>emoji_people</mat-icon>
            {{'betrokkene.persoon' | translate}}
        </ng-template>
        <zac-persoon-zoek (persoon)="klantGeselecteerd($event)"></zac-persoon-zoek>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>business</mat-icon>
            {{'betrokkene.bedrijf' | translate}}
        </ng-template>
        <zac-bedrijf-zoek (bedrijf)="klantGeselecteerd($event)"></zac-bedrijf-zoek>
    </mat-tab>
</mat-tab-group>

<!--Betrokkene-->
<mat-tab-group mat-stretch-tabs="false" *ngIf="!initiator">
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>emoji_people</mat-icon>
            {{'betrokkene.persoon' | translate}}
        </ng-template>
        <div class="form betrokkene-form">
            <div class="flex-row flex-col-sm gap-10">
                <mfb-form-field class="flex-1" [field]="betrokkeneRoltype"></mfb-form-field>
                <mfb-form-field class="flex-1" [field]="betrokkeneToelichting"></mfb-form-field>
            </div>
        </div>
        <zac-persoon-zoek (persoon)="klantGeselecteerd($event)"></zac-persoon-zoek>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon>business</mat-icon>
            {{'betrokkene.bedrijf' | translate}}
        </ng-template>
        <div class="form">
            <div class="flex-row flex-col-sm gap-10">
                <mfb-form-field class="flex-1" [field]="betrokkeneRoltype"></mfb-form-field>
                <mfb-form-field class="flex-1" [field]="betrokkeneToelichting"></mfb-form-field>
            </div>
        </div>
        <zac-bedrijf-zoek (bedrijf)="klantGeselecteerd($event)"></zac-bedrijf-zoek>
    </mat-tab>
</mat-tab-group>
