<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field appearance="fill" class="full-width" floatLabel="always">
    <mat-label>{{data.label | translate}}</mat-label>
    <mat-select placeholder="{{(data.required ? data.label+'.-kies-' : data.label+'.-geen-') | translate}}"
                [compareWith]="data.compareWithFn" [formControl]="data.formControl" [id]="data.id + '_select'"
                [required]="data.required">
        <mat-select-trigger>
            {{(data.optionLabel ? data.formControl.value[data.optionLabel] : data.formControl.value) | translate}}
        </mat-select-trigger>
        <mat-option [value]="" *ngIf="!data.required">
            {{data.label + '.-geen-' | translate}}
        </mat-option>
        <mat-option *ngFor="let option of data.options | async"
                    [value]="data.optionValue ? option[data.optionValue] : option">
            {{(data.optionLabel ? option[data.optionLabel] : option) | translate}}
            <div class="suffix" *ngIf="data.optionSuffix">
                {{option[data.optionSuffix] | translate}}
            </div>
        </mat-option>
    </mat-select>
    <mat-hint *ngIf="data.hint" [align]="data.hint.align">{{data.hint.label | translate}}</mat-hint>
    <mat-error *ngIf="data.formControl.invalid">{{getErrorMessage()}}</mat-error>
</mat-form-field>
