/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.form {
  min-width: 800px;
}

.form ::ng-deep .static-text {
  margin: 0 5px;
}

mat-divider {
  margin: 5px;
}

[sticky-top] {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  align-self: flex-start;
  background: #FFFFFF;
  z-index: 1;
}

::ng-deep .type-label .static-text-label {
  color: #ff4081;
}
