<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="form" [class.loading]="utilService.loading$ | async">
    <div sticky-top fxLayout="row" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="100">
            <mat-form-field appearance="fill" class="full-width">
                <mat-label>{{'trefwoorden' | translate}}</mat-label>
                <input [formControl]="zoekenControl" id="zoekVeld" matInput (keyup.enter)="zoek.emit()" maxlength="100">
                <mat-progress-bar *ngIf="isLoadingResults && slow" mode="indeterminate"></mat-progress-bar>
            </mat-form-field>
        </div>
    </div>

    <ng-container *ngFor="let item of zoekResultaat.resultaten">
        <ng-container [ngSwitch]="item.type">
            <zac-zaak-zoek-object *ngSwitchCase="'ZAAK'" [sideNav]="sideNav" [zaak]="getZaak(item)"></zac-zaak-zoek-object>
            <zac-taak-zoek-object *ngSwitchCase="'TAAK'" [sideNav]="sideNav" [taak]="getTaak(item)"></zac-taak-zoek-object>
            <zac-document-zoek-object *ngSwitchCase="'DOCUMENT'" [sideNav]="sideNav" [infoObject]="item"></zac-document-zoek-object>
        </ng-container>
        <mat-divider></mat-divider>
    </ng-container>

    <p *ngIf="zoekResultaat.totaal == 0 && !isLoadingResults">{{'msg.geen.gegevens.gevonden' | translate}}</p>
    <mat-paginator #paginator
                   [pageIndex]="0"
                   [pageSize]="10"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   sticky>
    </mat-paginator>
</div>
