<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="form">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="100">
            <mfb-form-field [field]="zoekFormField"></mfb-form-field>
        </div>
    </div>

    <button mat-flat-button color="primary" [disabled]="loading" (click)="zoeken()">Zoek
        <mat-icon class="spinner" *ngIf="loading">
            <mat-progress-spinner color="warn" diameter="20" mode="indeterminate"></mat-progress-spinner>
        </mat-icon>
    </button>
</div>

<div *ngIf="zoekResultaat">
    <ng-container *ngFor="let item of zoekResultaat.results">
        <ng-container [ngSwitch]="item.type">
            <mat-card *ngSwitchCase="'ZAAK'">
                Zaak {{item.identificatie}}
            </mat-card>
            <mat-card *ngSwitchCase="'DOCUMENT'">
                Document {{item.identificatie}}
            </mat-card>
        </ng-container>
    </ng-container>
    <p *ngIf="zoekResultaat.count == 0 && !loading">{{'msg.geen.gegevens.gevonden' | translate}}</p>
    <p *ngIf="loading ">{{'msg.loading' | translate}}</p>
</div>
