<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-content>
                <div class="table-wrapper" [ngClass]="{'table-loading-shade':isLoadingResults}">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="code">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'tabel' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.code}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="naam">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'naam' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.naam}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="systeem">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'systeem' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.systeem ? ('actie.ja' | translate) : ('actie.nee' | translate)}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="waarden">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'rijen' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.aantalWaarden}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="id" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>
                                <button mat-icon-button
                                        id="toevoegen"
                                        [routerLink]="'/admin/referentietabellen/new'"
                                        title="{{ 'actie.toevoegen' | translate}}">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <button mat-flat-button
                                        [routerLink]="['/admin/referentietabellen/', row.id]"
                                        id="edit"
                                        title="{{ 'actie.bewerken' | translate}}">
                                    <mat-icon>visibility</mat-icon>
                                </button>
                                <button mat-flat-button
                                        *ngIf="!row.systeem"
                                        id="verwijderen"
                                        title="{{ 'actie.verwijderen' | translate}}"
                                        (click)="verwijderReferentieTabel(row)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                        <tr mat-row *matNoDataRow>
                            <td [colSpan]="columns.length">
                                {{'msg.geen.gegevens.gevonden' | translate}}
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
