<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-chip-list class="list" *ngIf="lijst" selectable="false" fxLayout="row">
    <mat-chip *ngIf="indicaties['VERGRENDELD'].visible" color="accent" selected
              [matTooltip]="getTooltipFor('VERGRENDELD')">
        V
    </mat-chip>
    <mat-chip *ngIf="indicaties['GEBRUIKSRECHTEN'].visible" color="accent" selected
              [matTooltip]="getTooltipFor('GEBRUIKSRECHTEN')">
        G
    </mat-chip>
    <mat-chip *ngIf="indicaties['ONDERTEKEND'].visible"
              [matTooltip]="getTooltipFor('ONDERTEKEND')">
        O
    </mat-chip>
</mat-chip-list>

<mat-chip-list class="view" *ngIf="!lijst" selectable="false" fxLayout="row">
    <mat-chip *ngIf="indicaties['VERGRENDELD'].visible" color="accent" selected
              [matTooltip]="'msg.document.vergrendeld' | translate: indicaties['VERGRENDELD'].args">
        {{'indicatie.VERGRENDELD' | translate}}
    </mat-chip>
    <mat-chip *ngIf="indicaties['GEBRUIKSRECHTEN'].visible" color="accent" selected>
        {{'indicatie.GEBRUIKSRECHTEN' | translate}}
    </mat-chip>
    <mat-chip *ngIf="indicaties['ONDERTEKEND'].visible"
              [matTooltip]="indicaties['ONDERTEKEND'].tooltipSuffix">
        {{'indicatie.ONDERTEKEND' | translate}}
    </mat-chip>
</mat-chip-list>
