<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-chip-list class="list" *ngIf="lijst" selectable="false" fxLayout="row">
    <ng-container *ngFor="let indicatie of indicaties">
        <mat-chip *ngIf="indicatie.visible"
                  [color]="indicatie.primary ? 'accent' : null"
                  [selected]="indicatie.primary ? true : null"
                  [matTooltip]="indicatie.tooltip().list">
            {{indicatie.content().list}}
        </mat-chip>
    </ng-container>
</mat-chip-list>

<mat-chip-list class="view" *ngIf="!lijst" selectable="false" fxLayout="row">
    <ng-container *ngFor="let indicatie of indicaties">
        <mat-chip *ngIf="indicatie.visible"
                  [color]="indicatie.primary ? 'accent' : null"
                  [selected]="indicatie.primary"
                  [matTooltip]="indicatie.tooltip().view">
            {{indicatie.content().view}}
        </mat-chip>
    </ng-container>
</mat-chip-list>
