<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field subscriptSizing="dynamic">
    <mat-select panelClass="facet-filter-options" id="{{label+'_filter'}}" (selectionChange)="change()"
                placeholder="{{ (label+'.-kies-') | translate }}"
                [(ngModel)]="selected">
        <mat-option>{{ (label + '.-kies-') | translate }}</mat-option>
        <mat-option *ngFor="let value of getFilters()" [value]="value.naam">
            {{ value.naam == '-NULL-'
                ? (label + '.-geen-' | translate)
                : isVertaalbaar(label)
                        ? (VERTAALBARE_FACETTEN[label] + value.naam | translate)
                        : value.naam }}
        </mat-option>
    </mat-select>
</mat-form-field>
