<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div fxLayout="row wrap" class="zaak-wrapper">
    <div [fxFlex]="100/3">
        <zac-static-text [label]="'Zaak' | translate"
                         class="type-label"
                         [icon]="viewIcon"
                         (iconClicked)="open(zaak)"
                         [value]="zaak.identificatie"></zac-static-text>
        <zac-static-text [label]="'zaaktype' | translate"
                         [value]="zaak.zaaktypeOmschrijving"></zac-static-text>
        <zac-static-text [label]="'status' | translate"
                         [value]="zaak.statustypeOmschrijving"></zac-static-text>
    </div>
    <div [fxFlex]="100/3">
        <zac-static-text [label]="'initiator' | translate"
                         [value]="zaak.initiatorIdentificatie"></zac-static-text>
        <zac-static-text [label]="'behandelaar' | translate"
                         [value]="zaak.behandelaarNaam"></zac-static-text>
        <zac-static-text [label]="'resultaat' | translate"
                         [value]="zaak.resultaattypeOmschrijving"></zac-static-text>
    </div>
    <div [fxFlex]="100/3">
        <zac-static-text [label]="'startdatum' | translate"
                         [value]="zaak.startdatum | datum"></zac-static-text>
        <zac-static-text [label]="'einddatumGepland' | translate"
                         [value]="zaak.einddatumGepland | datum"></zac-static-text>
        <zac-static-text [label]="'uiterlijkeEinddatumAfdoening' | translate"
                         [value]="zaak.uiterlijkeEinddatumAfdoening | datum"></zac-static-text>
    </div>
    <div [fxFlex]="100" class="toelichting">
        <zac-static-text [label]="'omschrijving' | translate"
                         [value]="zaak.omschrijving"></zac-static-text>
        <zac-static-text [label]="'toelichting' | translate"
                         [value]="zaak.toelichting"></zac-static-text>
    </div>
</div>
