<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-content>
                <div class="table-wrapper" [ngClass]="{'table-loading-shade':isLoadingResults}">
                    <table mat-table [dataSource]="dataSource">
                        <ng-container matColumnDef="mailTemplateNaam">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'mailTemplateNaam' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.mailTemplateNaam}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="mail">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'mail' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{'mail.' + row.mail | translate}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="onderwerp">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'onderwerp' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                {{row.onderwerp}}
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="parent">
                            <th mat-header-cell *matHeaderCellDef>
                                {{'parent' | translate}}
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon *ngIf="!row.parent" color="primary">done</mat-icon>
                                <mat-icon *ngIf="row.parent">close</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="id" stickyEnd>
                            <th mat-header-cell *matHeaderCellDef>
                                <button mat-icon-button
                                        id="toevoegen"
                                        title="{{ 'actie.toevoegen' | translate}}">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <a mat-flat-button
                                   [routerLink]="['/admin/mailtemplates/', row.id]"
                                   id="edit"
                                   title="{{ 'actie.bewerken' | translate}}">
                                    <mat-icon>visibility</mat-icon>
                                </a>
                                <button mat-flat-button
                                        *ngIf="row.parent"
                                        id="verwijderen"
                                        title="{{ 'actie.verwijderen' | translate}}"
                                        (click)="verwijderMailtemplate(row)">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </td>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columns"></tr>
                        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
                        <tr mat-row *matNoDataRow>
                            <td [colSpan]="columns.length">
                                {{'msg.geen.gegevens.gevonden' | translate}}
                            </td>
                        </tr>
                    </table>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
