<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper" [class.loading]="utilService.loading$ | async">
    <table mat-table matSort multiTemplateDataRows
           cdkDropList
           cdkDropListLockAxis="x"
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="dataSource.drop($event)">

        <ng-container matColumnDef="naam">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="'taaknaam'">
                {{ 'taak' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.naam }}
            </td>
        </ng-container>

        <ng-container matColumnDef="status">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'status' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ 'taak.status.' + row.status | translate }}
            </td>
        </ng-container>

        <ng-container matColumnDef="zaakIdentificatie">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'zaakIdentificatie' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.zaakIdentificatie }}
            </td>
        </ng-container>

        <ng-container matColumnDef="zaaktypeOmschrijving">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'zaaktypeOmschrijving' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.zaaktypeOmschrijving | empty }}
            </td>
        </ng-container>

        <ng-container matColumnDef="creatiedatumTijd">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="'creatiedatum'">
                {{ 'startdatum' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.creatiedatumTijd | datum }}
            </td>
        </ng-container>

        <ng-container matColumnDef="streefdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="'streefdatum'">
                {{ 'streefdatum' | translate}}
            </th>
            <td mat-cell *matCellDef="let row">
                <div>
                    {{ row.streefdatum | datum | empty }}
                    <mat-icon class="warning" [title]="'msg.datum.overschreden' | translate"
                              *ngIf="isAfterDate(row.streefdatum)">warning
                    </mat-icon>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="groep">
            <th mat-header-cell cdkDrag *matHeaderCellDef>
                {{ 'groep' | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.groep | empty: 'naam' }}
            </td>
        </ng-container>

        <ng-container matColumnDef="url_filter" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="url" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <button (click)="resetSearchCriteria()" title="{{ 'actie.zoekopdracht.wissen' | translate }}"
                        mat-flat-button id="wisZoekopdracht_button">
                    <mat-icon>replay</mat-icon>
                </button>
                <zac-column-picker [columnSrc]="dataSource.columns"
                                   (columnsChanged)="dataSource.updateColumns($event)"></zac-column-picker>
            </th>
            <td mat-cell *matCellDef="let row">
                <button mat-flat-button
                        (click)="$event.stopPropagation()" [id]="'taakBekijken_' + row.id +'_button'"
                        [routerLink]="['/taken', row.id]"
                        title="{{ 'actie.taak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [colSpan]="dataSource.visibleColumns.length">
                <div class="row-detail"
                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
                        <ng-container *ngFor="let column of dataSource.detailExpandColumns" [ngSwitch]="column">
                            <zac-static-text *ngSwitchCase="'groep'" fxFlex="33" [label]="column | translate"
                                             [value]="row.groep | empty: 'naam'"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'status'" fxFlex="33" [label]="column | translate"
                                             [value]="'taak.status.' + row.status | translate"></zac-static-text>

                            <zac-static-text *ngSwitchCase="'streefdatum'" fxFlex="33"
                                             [label]="column | translate"
                                             [value]="row.streefdatum | datum"
                                             [icon]="streefdatumIcon"></zac-static-text>

                            <zac-static-text *ngSwitchDefault fxFlex="33" [label]="column | translate"
                                             [value]="row[column] | datum | translate"></zac-static-text>
                        </ng-container>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr *matHeaderRowDef="dataSource.visibleColumns; sticky:true"
            mat-header-row></tr>
        <ng-container *ngIf="dataSource.hasFilter()">
            <tr mat-header-row
                *matHeaderRowDef="dataSource.filterColumns; sticky:true"></tr>
        </ng-container>
        <tr mat-row *matRowDef="let row; columns: dataSource.visibleColumns"
            class="row"
            [class.expanded-row]="expandedRow === row"
            (click)="expandedRow = expandedRow === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            class="collapsed-row"></tr>
    </table>

    <ng-container *ngIf="dataSource.totalItems === 0">
        <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
    </ng-container>

    <mat-paginator #paginator
                   [length]="dataSource.totalItems"
                   [pageIndex]="0"
                   [pageSize]="25"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   sticky>
    </mat-paginator>
</div>
