<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field appearance="fill" class="full-width">

    <button *ngFor="let icon of data.icons" mat-icon-button type="button" matSuffix (click)="icon.iconClicked.next()">
        <mat-icon>{{icon.icon}}</mat-icon>
    </button>

    <mat-label>{{data.label | translate}}</mat-label>
    <input [formControl]="data.formControl" [id]="data.id + '_tekstfield'" [required]="data.required" matInput>
    <mat-hint *ngIf="data.hint" [align]="data.hint.align">{{data.hint.label | translate}}</mat-hint>
    <mat-error *ngIf="data.formControl.invalid">{{getErrorMessage()}}</mat-error>

</mat-form-field>
