<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="behandelaar">
    <label class="behandelaar-label">{{ 'behandelaar' | translate }}</label>
    <button mat-icon-button title="{{ 'actie.mij.toekennen' | translate }}" (click)="toekennen()" *ngIf="laatKnopZien">
        <mat-icon>person_add_alt</mat-icon>
    </button>
    <div class="behandelaar-content" [ngClass]="behandelaar?.naam.length > 1 ? 'behandelaar-ingevuld' : 'behandelaar-leeg'">{{ behandelaar?.naam | empty }}</div>
</div>
