<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field subscriptSizing="dynamic" floatLabel="never">
    <mat-label>{{label | translate}}</mat-label>
    <mat-date-range-input [rangePicker]="datumPicker" (change)="change()">
        <input matStartDate placeholder="van" [formControl]="dateVan">
        <input matEndDate placeholder="tot" [formControl]="dateTM">
    </mat-date-range-input>
    <mat-datepicker-toggle *ngIf="!hasRange()" matSuffix [for]="datumPicker"></mat-datepicker-toggle>
    <mat-icon *ngIf="hasRange()" matSuffix (click)="clearDate($event)">clear</mat-icon>
    <mat-date-range-picker (closed)="change()" disabled="false" #datumPicker></mat-date-range-picker>
</mat-form-field>
