<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<form [formGroup]="formGroup" (ngSubmit)="submit()">
    <ng-container *ngFor="let row of data">
        <div fxLayout="row" fxLayout.lt-md="column"
             fxLayoutGap="10px" fxFlexFill>
            <div [fxFlex]="100/row.length" *ngFor="let tile of row">
                <mfb-form-field [field]="tile"></mfb-form-field>
            </div>
        </div>
    </ng-container>

    <div fxLayout="row" fxLayoutAlign="start" *ngIf="config">
        <button mat-flat-button color="accent"
                *ngIf="config.partialButtonText || config.partialButtonIcon"
                [disabled]="formGroup.invalid"
                (click)="partial()" id="partial_button"
                type="button">
            <mat-icon *ngIf="config.partialButtonIcon">{{config.partialButtonIcon}}</mat-icon>
            {{config.partialButtonText | translate}}
        </button>
        <button mat-flat-button color="primary"
                [disabled]="formGroup.invalid"
                id="opslaan_button"
                type="submit">
            <mat-icon *ngIf="config.saveButtonIcon">{{config.saveButtonIcon}}</mat-icon>
            {{config.saveButtonText | translate}}
        </button>
        <button mat-flat-button
                *ngIf="config.cancelButtonText || config.cancelButtonIcon"
                (click)="cancel()" id="annuleren_button"
                type="button">
            <mat-icon *ngIf="config.cancelButtonIcon">{{config.cancelButtonIcon}}</mat-icon>
            {{config.cancelButtonText | translate}}
        </button>
    </div>
</form>
