/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */


.zaak-gegevens {
  flex-grow: 4;
}

mat-card {
  margin: 10px 0;
}

.mat-mdc-card-content {
  padding: 0;
}

.title {
  padding: 16px 0 0 16px;
  margin: 16px 0;
  border-top: 1px solid lightgray;
  color: #0000008a;
  font-size: 14px;
  font-weight: 500;
}

.content {
  padding: 0 16px;

  zac-static-text {
    min-width: 50%;
  }
}
