/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.title {
  text-align: center;
  width: 100%;
}

.spacer {
  flex: 1 1 auto;
}

.mat-subheading-2 {
  margin: 5px 0;
  text-align: center;
}

.mat-toolbar {
  & button {
    margin: 0 5px;
  }

  #gebruikersProfiel_button {
    padding: 0;
  }
}
