/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.status-label {
  display: inline-flex;
  padding: 7px 12px;
  align-items: center;
  cursor: default;
  min-height: 32px;
  height: 1px;
  border-radius: 3px;
  font-size: 14px;
  box-sizing: border-box;
}

.status-label-default {
  background-color: #e0e0e0;
}

.status-label-primary {
  background: #3f51b5;
  color: white;
}

.status-label-success {
  background-color: #3F691F;
  color: white;
}
