<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container tablet-bottom-toolbar">
    <mat-drawer-content class="flex-col gap-10">
        <div class="flex-row flex-wrap flex flex-col-xs gap-10">
            <mat-card appearance="outlined" class="flex-1 w15 w100-md">
                <mat-card-header>
                    <mat-card-title>{{'persoonsgegevens' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <zac-skeleton-loader [loading$]="persoon$"
                                         [options]="{layout: skeletonLayout.FIELDS, fields:6, fieldsPerRow:1}">
                        <div id="persoonsgegevens" class="content flex-col flex-wrap">
                            <zac-static-text class="flex-1" [label]="'naam' | translate"
                                             [value]="persoon?.naam"></zac-static-text>
                            <zac-static-text class="flex-1" [label]="'burgerservicenummer' | translate"
                                             [value]="bsn"></zac-static-text>
                            <zac-static-text class="flex-1" [label]="'geboortedatum' | translate"
                                             [value]="persoon?.geboortedatum | datum"></zac-static-text>
                            <zac-static-text class="flex-1" [label]="'inschrijfadres' | translate"
                                             [value]="persoon?.inschrijfadres | empty"></zac-static-text>
                            <zac-static-text class="flex-1" [label]="'telefoonnummer' | translate"
                                             [value]="persoon?.telefoonnummer | empty"></zac-static-text>
                            <zac-static-text class="flex-1" [label]="'emailadres' | translate"
                                             [value]="persoon?.emailadres | empty"></zac-static-text>
                        </div>
                    </zac-skeleton-loader>
                </mat-card-content>
            </mat-card>


            <zac-klant-zaken-tabel class="flex-grow" [klantIdentificatie]="bsn"></zac-klant-zaken-tabel>

        </div>
        <zac-klant-contactmomenten-tabel [bsn]="bsn"></zac-klant-contactmomenten-tabel>
    </mat-drawer-content>

</mat-drawer-container>

