<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container tablet-bottom-toolbar">
    <mat-drawer-content fxLayout="column" fxLayoutGap="10px">
        <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutGap="10px">
            <mat-card fxFlex="calc(15%-10px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>{{'persoonsgegevens' | translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <zac-skeleton-loader [loading$]="persoon$"
                                         [options]="{layout: skeletonLayout.FIELDS, fields:6, fieldsPerRow:1}">
                        <div id="persoonsgegevens" class="content" fxLayout="column wrap">
                            <zac-static-text fxFlex="" [label]="'naam' | translate"
                                             [value]="persoon?.naam"></zac-static-text>
                            <zac-static-text fxFlex="" [label]="'burgerservicenummer' | translate"
                                             [value]="bsn"></zac-static-text>
                            <zac-static-text fxFlex="" [label]="'geboortedatum' | translate"
                                             [value]="persoon?.geboortedatum | datum"></zac-static-text>
                            <zac-static-text fxFlex="" [label]="'inschrijfadres' | translate"
                                             [value]="persoon?.inschrijfadres | empty"></zac-static-text>
                            <zac-static-text fxFlex="" [label]="'telefoonnummer' | translate"
                                             [value]="persoon?.telefoonnummer | empty"></zac-static-text>
                            <zac-static-text fxFlex="" [label]="'emailadres' | translate"
                                             [value]="persoon?.emailadres | empty"></zac-static-text>
                        </div>
                    </zac-skeleton-loader>
                </mat-card-content>
            </mat-card>


            <zac-klant-zaken-tabel fxFlex="calc(85%-10px)" [klantIdentificatie]="bsn"></zac-klant-zaken-tabel>

        </div>
        <zac-klant-contactmomenten-tabel [bsn]="bsn"></zac-klant-contactmomenten-tabel>
    </mat-drawer-content>

</mat-drawer-container>

