<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-chip-list class="view" *ngIf="!lijst" selectable="false" fxLayout="row">
    <mat-chip *ngIf="infoObject.ondertekening" color="accent" selected
              [matTooltip]="infoObject.ondertekening.soort + ' - ' + (infoObject.ondertekening.datum | datum)">{{'indicatieOndertekend' | translate}}</mat-chip>
    <mat-chip *ngIf="infoObject.gelockedDoor" color="accent" selected
              [matTooltip]="'msg.document.vergrendeld' | translate: {gebruiker: infoObject.gelockedDoor.naam}">{{'indicatieVergrendeld' | translate}}</mat-chip>
</mat-chip-list>

<mat-chip-list class="list" *ngIf="lijst" selectable="false" fxLayout="row">
    <mat-chip *ngIf="infoObject.ondertekening" color="accent" selected
              [matTooltip]="('indicatieOndertekend' | translate) + ': ' +infoObject.ondertekening.soort + ' - ' + (infoObject.ondertekening.datum | datum)">O
    </mat-chip>
    <mat-chip *ngIf="infoObject.gelockedDoor" color="accent" selected
              [matTooltip]="'msg.document.vergrendeld' | translate: {gebruiker: infoObject.gelockedDoor.naam}">V
    </mat-chip>
</mat-chip-list>
