<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field appearance="standard">
    <mat-select id="{{label+'_filter'}}" (selectionChange)="changed.emit([_selected])" placeholder="{{ (label+'.-kies-') | translate }}"
                [(ngModel)]="_selected">
        <mat-option>{{ (label + '.-kies-') | translate }}</mat-option>
        <mat-option *ngFor="let value of getFilters()" [value]="value">{{ value == '-NULL-' ? (label + '.-geen-' | translate) : value }}</mat-option>
    </mat-select>
</mat-form-field>
