<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card appearance="outlined">
    <mat-card-title>{{'zoeken.filter.' + (label | lowercase) | translate}}</mat-card-title>
    <mat-card-content class="klant-filter">
        <mat-form-field>
            <input matInput placeholder="{{'bsn.vestigingsnummer.rsin' | translate}}" (blur)="change()" (keyup.enter)="change()" [(ngModel)]="value">
            <mat-icon [ngClass]="{'active': dialogOpen}" matSuffix (click)="openDialog()">person</mat-icon>
        </mat-form-field>
    </mat-card-content>
</mat-card>
