<ng-container [ngSwitch]="options.layout" *ngIf="showLoader$|async">
    <ng-container *ngSwitchCase="layoutOptions.CARD">
        <mat-card @loadingFadeIn>
            <ngx-skeleton-loader [theme]="cardHeaderTheme" appearance="line"></ngx-skeleton-loader>
            <mat-card-content>
                <div class="content flex-row flex-wrap">

                    <div *ngFor="let field of getFields(options.fields)" class="flex-1">
                        <div class="label-value-loading">
                            <label>
                                <ngx-skeleton-loader [theme]="labelTheme" appearance="line"></ngx-skeleton-loader>
                            </label>
                            <div>
                                <ngx-skeleton-loader [theme]="valueTheme" appearance="line"></ngx-skeleton-loader>
                            </div>
                        </div>
                    </div>

                    <div class="label-value-loading flex-1">
                        <label>
                            <ngx-skeleton-loader [theme]="labelTheme" appearance="line"></ngx-skeleton-loader>
                        </label>
                        <div>
                            <ngx-skeleton-loader [theme]="valueFullwidthTheme" appearance="line"></ngx-skeleton-loader>
                        </div>
                    </div>

                </div>
            </mat-card-content>
        </mat-card>
    </ng-container>

    <ng-container *ngSwitchCase="layoutOptions.TABLE">
        <div class="row" @loadingFadeIn>
            <ngx-skeleton-loader [theme]="tableTheme" appearance="line"></ngx-skeleton-loader>
        </div>
    </ng-container>
    <ng-container *ngSwitchCase="layoutOptions.FIELDS">
        <div class="content flex-row flex-wrap" @loadingFadeIn>

            <div *ngFor="let field of getFields(options.fields)" class="flex-1">
                <div class="label-value-loading">
                    <label>
                        <ngx-skeleton-loader [theme]="labelTheme" appearance="line"></ngx-skeleton-loader>
                    </label>
                    <div>
                        <ngx-skeleton-loader [theme]="valueTheme" appearance="line"></ngx-skeleton-loader>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="loading-wrapper">
            <ngx-skeleton-loader @loadingFadeIn [theme]="valueTheme" appearance="line"></ngx-skeleton-loader>
        </div>
    </ng-container>
</ng-container>

<ng-container *ngIf="!(showLoader$|async)">
    <ng-content></ng-content>
</ng-container>
