<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card>
    <mat-card-header>
        <mat-card-title>{{'zaken'| translate}}</mat-card-title>
        <mat-slide-toggle [(ngModel)]="inclusiefAfgerondeZaken" color="primary"
                          id="zakenAfgerondeToon_toggle"
                          (change)="filtersChanged()">{{ 'toonAfgerondeZaken' | translate }}</mat-slide-toggle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-wrapper">
            <table mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="identificatie_filter">
                    <th mat-header-cell *matHeaderCellDef>
                        <zac-tekst-filter [value]="zoekParameters.zoeken.ZAAK_IDENTIFICATIE"
                                          (changed)="zoekParameters.zoeken.ZAAK_IDENTIFICATIE = $event; filtersChanged()"></zac-tekst-filter>
                    </th>
                </ng-container>
                <ng-container matColumnDef="identificatie">
                    <th mat-header-cell *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_IDENTIFICATIE"> {{'zaak.identificatie' | translate}} </th>
                    <td mat-cell *matCellDef="let object"> {{object.identificatie | empty}} </td>
                </ng-container>
                <ng-container matColumnDef="betrokkene_filter">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field subscriptSizing="dynamic">
                            <mat-select id="betrokkeneRoltype_filter"
                                        [placeholder]="'betrokkeneRoltype.-kies-' | translate"
                                        [formControl]="betrokkeneSelectControl"
                                        (selectionChange)="filtersChanged()">
                                <mat-option>{{'betrokkeneRoltype.-kies-' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_INITIATOR">{{'betrokkeneRoltype.INITIATOR' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_MEDE_INITIATOR">{{'betrokkeneRoltype.MEDE_INITIATOR' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_BELANGHEBBENDE">{{'betrokkeneRoltype.BELANGHEBBENDE' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_BESLISSER">{{'betrokkeneRoltype.BESLISSER' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_ADVISEUR">{{'betrokkeneRoltype.ADVISEUR' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_KLANTCONTACTER">{{'betrokkeneRoltype.KLANTCONTACTER' | translate}}</mat-option>
                                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_ZAAKCOORDINATOR">{{'betrokkeneRoltype.ZAAKCOORDINATOR' | translate}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </th>
                </ng-container>
                <ng-container matColumnDef="betrokkene">
                    <th mat-header-cell *matHeaderCellDef>{{ 'betrokkeneRoltype' | translate }}</th>
                    <td mat-cell *matCellDef="let object">
                        <div *ngFor="let betrokkene of getBetrokkenheid(object)">
                            {{'betrokkeneRoltype.' + betrokkene | translate}}
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="status_filter">
                    <th mat-header-cell *matHeaderCellDef>
                        <zac-facet-filter label="status"
                                          [filter]="zoekParameters.filters.ZAAK_STATUS"
                                          [opties]="this.zoekResultaat.filters.ZAAK_STATUS"
                                          (changed)="zoekParameters.filters.ZAAK_STATUS = $event; filtersChanged()">
                        </zac-facet-filter>
                    </th>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef
                        [mat-sort-header]="sorteerVeld.ZAAK_STATUS">{{ 'status' | translate }}</th>
                    <td mat-cell *matCellDef="let object">{{ object.statustypeOmschrijving | empty }}</td>
                </ng-container>

                <ng-container matColumnDef="startdatum_filter">
                    <th mat-header-cell *matHeaderCellDef>
                        <zac-date-range-filter label="startdatum"
                                               [range]="zoekParameters.datums.ZAAK_STARTDATUM"
                                               (changed)="zoekParameters.datums.ZAAK_STARTDATUM = $event; filtersChanged()">
                        </zac-date-range-filter>
                    </th>
                </ng-container>
                <ng-container matColumnDef="startdatum">
                    <th mat-header-cell *matHeaderCellDef
                        [mat-sort-header]="sorteerVeld.ZAAK_STARTDATUM"> {{'startdatum' | translate}} </th>
                    <td mat-cell *matCellDef="let object"> {{object.startdatum | datum | empty}} </td>
                </ng-container>

                <ng-container matColumnDef="zaaktype_filter">
                    <th mat-header-cell *matHeaderCellDef>
                        <zac-facet-filter label="zaaktype"
                                          [filter]="zoekParameters.filters.ZAAKTYPE"
                                          [opties]="zoekResultaat.filters.ZAAKTYPE"
                                          (changed)="zoekParameters.filters.ZAAKTYPE = $event; filtersChanged()">
                        </zac-facet-filter>
                    </th>
                </ng-container>
                <ng-container matColumnDef="zaaktype">
                    <th mat-header-cell *matHeaderCellDef
                        [mat-sort-header]="sorteerVeld.ZAAK_ZAAKTYPE"> {{'zaaktype' | translate}} </th>
                    <td mat-cell *matCellDef="let object"> {{object.zaaktypeOmschrijving}} </td>
                </ng-container>

                <ng-container matColumnDef="omschrijving_filter">
                    <th mat-header-cell *matHeaderCellDef id="omschrijving_filter">
                        <zac-tekst-filter [value]="zoekParameters.zoeken.ZAAK_OMSCHRIJVING"
                                          (changed)="zoekParameters.zoeken.ZAAK_OMSCHRIJVING = $event; filtersChanged()"></zac-tekst-filter>
                    </th>
                </ng-container>
                <ng-container matColumnDef="omschrijving">
                    <th mat-header-cell *matHeaderCellDef
                        [mat-sort-header]="sorteerVeld.ZAAK_OMSCHRIJVING"> {{'omschrijving' | translate}} </th>
                    <td mat-cell *matCellDef="let object"> {{object.omschrijving | empty}} </td>
                </ng-container>

                <ng-container matColumnDef="url_filter" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef id="url_filter"></th>
                </ng-container>
                <ng-container matColumnDef="url" stickyEnd id="zaakButtons">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let object">
                        <a mat-icon-button [routerLink]="['/zaken', object.identificatie]"
                           [id]="'zaakBekijken_' + object.uuid +'_button'"
                           title="{{ 'actie.zaak.bekijken' | translate }}">
                            <mat-icon>visibility</mat-icon>
                        </a>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columns;"></tr>
                <tr mat-header-row *matHeaderRowDef="filterColumns;"></tr>
                <tr mat-row *matRowDef="let row; columns: columns;"></tr>
            </table>
        </div>
        <mat-paginator #paginator
                       [pageIndex]="0"
                       [pageSize]="10"
                       [pageSizeOptions]="[10, 25, 50, 100]">
        </mat-paginator>
    </mat-card-content>
</mat-card>
