<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div fxLayout>
    <mat-expansion-panel fxFlex="calc(100%-20px)"
                         [expanded]="klantExpanded"
                         (expandedChange)="klantExpandedChanged($event)">
        <mat-expansion-panel-header>
            <mat-panel-title>{{'initiator.titel'| translate}}</mat-panel-title>
            <mat-panel-description>
                <zac-skeleton-loader [loading$]="persoon$">{{persoon?.naam}}</zac-skeleton-loader>
                <div>
                    <button *ngIf="persoon && isVerwijderbaar" [title]="'actie.verwijderen' | translate" mat-icon-button
                            (click)="$event.stopPropagation(); delete.emit(persoon)">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <a *ngIf="persoon" mat-flat-button [routerLink]="['/persoon', persoon.bsn]"
                       (click)="$event.stopPropagation()"
                       [id]="'persoonBekijken_' + persoon.bsn +'_button'"
                       title="{{ 'actie.persoon.bekijken' | translate }}">
                        <mat-icon>visibility</mat-icon>
                    </a>
                </div>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <zac-skeleton-loader [loading$]="persoon$"
                             [options]="{layout: skeletonLayout.FIELDS, fields:4, fieldsPerRow:5}">
            <div id="persoonsgegevens" class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                <div [fxFlex]="100/6" fxFlex.lt-md="50">
                    <zac-static-text [label]="'burgerservicenummer' | translate"
                                     [value]="bsn"></zac-static-text>
                </div>
                <div [fxFlex]="100/6" fxFlex.lt-md="50">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text [label]="'geboortedatum' | translate"
                                     [value]="persoon?.geboortedatum | datum | empty"></zac-static-text>
                </div>
                <div [fxFlex]="100/6" fxFlex.lt-md="50">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text [label]="'inschrijfadres' | translate"
                                     [value]="persoon?.inschrijfadres | empty"></zac-static-text>
                </div>
                <div [fxFlex]="100/6" fxFlex.lt-md="50">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text [label]="'telefoonnummer' | translate"
                                     [value]="persoon?.telefoonnummer | empty"></zac-static-text>
                </div>
                <div [fxFlex]="100/6" fxFlex.lt-md="50">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text [label]="'emailadres' | translate"
                                     [value]="persoon?.emailadres | empty"></zac-static-text>
                </div>
                <div [fxFlex]="100/6" fxFlex.lt-md="50">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                </div>
            </div>
        </zac-skeleton-loader>
    </mat-expansion-panel>
</div>
