<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<h1 *ngIf="data.length == 1" mat-dialog-title>{{'msg.verdelen.zaak' | translate}}</h1>
<h1 *ngIf="data.length != 1" mat-dialog-title>{{ 'msg.verdelen.zaken' | translate:{aantal: data.length} }}</h1>

<div mat-dialog-content>
    <mat-form-field appearance="fill" fxFlex="100">
        <mat-label>{{'actie.medewerker.selecteren' | translate}}</mat-label>
        <input type="text" matInput [formControl]="medewerkerControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="getNaam">
            <mat-option *ngFor="let medewerker of filteredMedewerkers | async" [value]="medewerker">{{ medewerker.naam }}</mat-option>
        </mat-autocomplete>
    </mat-form-field>

</div>
<div mat-dialog-actions>
    <button [disabled]="getMedewerker() == null || loading" mat-button color="primary" (click)="verdeel()">
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        {{'actie.verdelen' | translate}}
    </button>
    <button [disabled]="loading" mat-button (click)="close()">{{'actie.annuleren' | translate}}</button>
</div>
