<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<h1 *ngIf="data.length == 1" mat-dialog-title>{{'msg.verdelen.zaak' | translate}}</h1>
<h1 *ngIf="data.length != 1" mat-dialog-title>{{ 'msg.verdelen.zaken' | translate:{aantal: data.length} }}</h1>

<div mat-dialog-content>
    <mfb-form-field [field]="medewerkerFormItem"></mfb-form-field>
</div>
<div mat-dialog-actions>
    <button [disabled]="medewerkerFormItem.data.formControl.pending ||
    medewerkerFormItem.data.formControl.invalid || loading" mat-button color="primary" (click)="verdeel()"
            id="zakenVerdelen_button">
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        {{'actie.verdelen' | translate}}
    </button>
    <button [disabled]="loading" autofocus mat-button (click)="close()">{{'actie.annuleren' | translate}}</button>
</div>
