<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <mat-card>
            <mat-card-content>
                <mfb-form-field [field]="naamFormField" (click)="$event.stopPropagation()"></mfb-form-field>
                <mfb-form-field [field]="mailFormField" (click)="$event.stopPropagation()"></mfb-form-field>
                <mfb-form-field [field]="onderwerpFormField" (click)="$event.stopPropagation()"></mfb-form-field>
                <mfb-form-field [field]="bodyFormField" (click)="$event.stopPropagation()"></mfb-form-field>

                <div class="button-group" fxLayout="row" fxLayoutAlign="start">
                    <button mat-flat-button color="primary"
                            id="opslaan_button"
                            type="submit"
                            [disabled]="isInvalid()"
                            (click)="saveMailtemplate()">
                        {{'actie.opslaan' | translate}}
                    </button>
                    <button mat-flat-button
                            id="annuleren_button"
                            type="button"
                            (click)="cancel()">
                        {{'actie.annuleren' | translate}}
                    </button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-sidenav-content>
</mat-sidenav-container>
