<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="form">
    <div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px" fxFlexFill>
        <div fxFlex="66">
            <mfb-form-field [field]="postcodeFormField"></mfb-form-field>
        </div>
        <div fxFlex="33">
            <mfb-form-field [field]="huisnummerFormField"></mfb-form-field>
        </div>
    </div>
    <button mat-flat-button color="primary" [disabled]="!isValid() || loading" (click)="zoekAdres()">Zoek
        <mat-icon class="spinner" *ngIf="loading">
            <mat-progress-spinner color="warn" diameter="20" mode="indeterminate"></mat-progress-spinner>
        </mat-icon>
    </button>
</div>

<div class="table-wrapper">
    <table mat-table [dataSource]="adressen" matSort>
        <ng-container matColumnDef="straat">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'straat' | translate}} </th>
            <td *matCellDef="let adres" mat-cell>{{adres.straat | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="huisnummer">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'huisnummer' | translate}} </th>
            <td *matCellDef="let adres" mat-cell>{{adres.huisnummer | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="postcode">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'postcode' | translate}} </th>
            <td *matCellDef="let adres" mat-cell>{{adres.postcode | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="woonplaats">
            <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'woonplaats' | translate}} </th>
            <td *matCellDef="let adres" mat-cell>{{adres.woonplaats | empty}}</td>
        </ng-container>
        <ng-container matColumnDef="acties" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let row">
                <button mat-flat-button color="primary" (click)="selectAdres(row)" title="{{ 'actie.selecteren' | translate}}">
                    <mat-icon>emoji_people</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="adressenColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: adressenColumns;"></tr>
    </table>
    <p *ngIf="adressen.data.length == 0 && !loading">{{'msg.geen.gegevens.gevonden' | translate}}</p>
    <p *ngIf="loading ">{{'msg.loading' | translate}}</p>
</div>
