<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-content>
    <p *ngIf="data.planItem.toelichting" class="readonly" [innerHTML]="data.planItem.toelichting"></p>
    <mfb-form-field [field]="radioFormField"></mfb-form-field>
    <mfb-form-field *ngIf="redenFormField.formControl.enabled" [field]="redenFormField"></mfb-form-field>
    <mfb-form-field *ngIf="sendMailFormField.formControl.enabled" [field]="sendMailFormField"></mfb-form-field>
    <mfb-form-field *ngIf="sendMailFormField.formControl.value" [field]="ontvangerFormField"></mfb-form-field>
</div>
<div mat-dialog-actions>
    <button [disabled]="loading || formFieldsInvalid()"
            mat-button color="primary" (click)="afronden()" id="intakeAfronden_button">
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        {{'planitem.INTAKE_AFRONDEN' | translate}}
    </button>

    <button [disabled]="loading" mat-button (click)="close()">{{'actie.annuleren' | translate}}</button>
</div>
