/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */
.readonly {
  white-space: pre-wrap;
}

.mat-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  align-items: flex-start;
}

.mat-checkbox {
  margin-bottom: 10px;
}
