<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper" [class.loading]="utilService.loading$ | async">
    <table mat-table matSort matSortDisableClear [matSortDirection]="dataSource.zoekParameters.sorteerRichting"
           [matSortActive]="dataSource.zoekParameters.sorteerVeld"
           multiTemplateDataRows cdkDropList cdkDropListLockAxis="x" cdkDropListOrientation="horizontal" (cdkDropListDropped)="dataSource.drop($event)">

        <ng-container matColumnDef="zaak.identificatie_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-tekst-filter [value]="dataSource.zoekParameters.zoeken[zoekVeld.ZAAK_IDENTIFICATIE]"
                                  (changed)="dataSource.zoekParameters.zoeken[zoekVeld.ZAAK_IDENTIFICATIE] = $event; filtersChange()"></zac-tekst-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="zaak.identificatie">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_IDENTIFICATIE">{{ 'zaak.identificatie' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.identificatie }}</td>
        </ng-container>

        <ng-container matColumnDef="status_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-facet-filter label="status"
                                  [selected]="dataSource.zoekParameters.filters[filterVeld.ZAAK_STATUS]"
                                  [opties]="this.dataSource.beschikbareFilters[filterVeld.ZAAK_STATUS]"
                                  (changed)="dataSource.zoekParameters.filters[filterVeld.ZAAK_STATUS] = $event; filtersChange()">
                </zac-facet-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_STATUS">{{ 'status' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.statustypeOmschrijving | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="zaaktype_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-facet-filter label="zaaktype"
                                  [selected]="dataSource.zoekParameters.filters[filterVeld.ZAAK_ZAAKTYPE]"
                                  [opties]="this.dataSource.beschikbareFilters[filterVeld.ZAAK_ZAAKTYPE]"
                                  (changed)="dataSource.zoekParameters.filters[filterVeld.ZAAK_ZAAKTYPE] = $event; filtersChange()">
                </zac-facet-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="zaaktype">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_ZAAKTYPE">{{ 'zaaktype' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.zaaktypeOmschrijving | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="omschrijving_filter">
            <th mat-header-cell *matHeaderCellDef id="omschrijving_filter">
                <zac-tekst-filter [value]="dataSource.zoekParameters.zoeken[zoekVeld.ZAAK_OMSCHRIJVING]"
                                  (changed)="dataSource.zoekParameters.zoeken[zoekVeld.ZAAK_OMSCHRIJVING] = $event; filtersChange()"></zac-tekst-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="omschrijving">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'omschrijving' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.omschrijving | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="groep_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-facet-filter label="groep"
                                  [selected]="dataSource.zoekParameters.filters[filterVeld.ZAAK_GROEP]"
                                  [opties]="this.dataSource.beschikbareFilters[filterVeld.ZAAK_GROEP]"
                                  (changed)="dataSource.zoekParameters.filters[filterVeld.ZAAK_GROEP] = $event; filtersChange()">
                </zac-facet-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="groep">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_GROEP">{{ 'groep' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.groepNaam | empty}}</td>
        </ng-container>

        <ng-container matColumnDef="startdatum_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-datum-filter label="startdatum"
                                  [range]="dataSource.zoekParameters.datums[datumVeld.ZAAK_STARTDATUM]" (changed)="filtersChange()">
                </zac-datum-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="startdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_STARTDATUM">{{ 'startdatum' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.startdatum | datum | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="einddatum_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-datum-filter label="einddatum"
                                  [range]="dataSource.zoekParameters.datums[datumVeld.ZAAK_EINDDATUM]" (changed)="filtersChange()">
                </zac-datum-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="einddatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_EINDDATUM">{{ 'einddatum' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.einddatum | datum | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="einddatumGepland_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-datum-filter label="streefdatum"
                                  [range]="dataSource.zoekParameters.datums[datumVeld.ZAAK_EINDDATUM_GEPLAND]" (changed)="filtersChange()">
                </zac-datum-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="einddatumGepland">
            <th mat-header-cell cdkDrag *matHeaderCellDef [mat-sort-header]="sorteerVeld.ZAAK_EINDDATUM_GEPLAND">{{ 'einddatumGepland' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.einddatumGepland | datum | empty }}
                <mat-icon *ngIf="isAfterDate(row.einddatumGepland)" class="warning" [title]="'msg.datum.overschreden' | translate"></mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="dagenTotStreefdatum_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="dagenTotStreefdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'dagenTotStreefdatum' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.einddatumGepland | dagen | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="uiterlijkeEinddatumAfdoening_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-datum-filter label="uiterlijkedatumafdoening"
                                  [range]="dataSource.zoekParameters.datums[datumVeld.ZAAK_UITERLIJKE_EINDDATUM_AFDOENING]" (changed)="filtersChange()">
                </zac-datum-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="uiterlijkeEinddatumAfdoening">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="sorteerVeld.ZAAK_UITERLIJKE_EINDDATUM_AFDOENING">{{ 'uiterlijkeEinddatumAfdoening' | translate }}</th>
            <td mat-cell *matCellDef="let row">
                {{ row.uiterlijkeEinddatumAfdoening | datum | empty }}
                <mat-icon class="error" [title]="'msg.datum.overschreden' | translate" *ngIf="isAfterDate(row.uiterlijkeEinddatumAfdoening)">warning</mat-icon>
            </td>
        </ng-container>

        <ng-container matColumnDef="dagenTotFataledatum_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="dagenTotFataledatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'dagenTotFataledatum' | translate }} </th>
            <td mat-cell *matCellDef="let row">{{ row.uiterlijkeEinddatumAfdoening | dagen | empty }} </td>
        </ng-container>

        <ng-container matColumnDef="toelichting_filter">
            <th mat-header-cell *matHeaderCellDef>
                <zac-tekst-filter [value]="dataSource.zoekParameters.zoeken[zoekVeld.ZAAK_TOELICHTING]"
                                  (changed)="dataSource.zoekParameters.zoeken[zoekVeld.ZAAK_TOELICHTING] = $event; filtersChange()"></zac-tekst-filter>
            </th>
        </ng-container>
        <ng-container matColumnDef="toelichting">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'toelichting' | translate }}</th>
            <td mat-cell *matCellDef="let row">{{ row.toelichting | empty }}</td>
        </ng-container>

        <ng-container matColumnDef="openstaandeTaken_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="openstaandeTaken">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="sorteerVeld.ZAAK_AANTAL_OPENSTAANDE_TAKEN">{{ 'openstaandeTaken' | translate | empty}}</th>
            <td mat-cell *matCellDef="let row">{{ row.aantalOpenstaandeTaken }}</td>
        </ng-container>

        <ng-container matColumnDef="indicaties_filter">
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="indicaties">
            <th mat-header-cell cdkDrag *matHeaderCellDef>{{ 'indicaties' | translate | empty}}</th>
            <td mat-cell *matCellDef="let row">
                <zac-zaak-indicaties [zaakZoekObject]="row"></zac-zaak-indicaties>
            </td>
        </ng-container>

        <ng-container matColumnDef="url_filter" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <zac-zoekopdracht [werklijst]="dataSource.werklijst"
                                  [zoekParameters]="dataSource.zoekParameters"
                                  [filtersChanged]="dataSource.filtersChanged$"
                                  (zoekopdracht)="dataSource.zoekopdrachtChanged($event)"></zac-zoekopdracht>
            </th>
        </ng-container>
        <ng-container matColumnDef="url" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <button (click)="resetColumns()" title="{{ 'actie.kolommen.reset' | translate }}" mat-icon-button id="wisKolommen_button">
                    <mat-icon>replay</mat-icon>
                </button>
                <zac-column-picker [columnSrc]="dataSource.columns" (columnsChanged)="dataSource.updateColumns($event)"></zac-column-picker>
            </th>
            <td mat-cell *matCellDef=" let row">
                <a mat-flat-button [routerLink]="['/zaken', row.identificatie]" (click)="$event.stopPropagation()"
                   [id]="'zaakBekijken_' + row.identificatie +'_button'" title="{{ 'actie.zaak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </a>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [colSpan]="dataSource.visibleColumns.length">
                <div class="row-detail"
                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
                        <ng-container *ngFor="let column of dataSource.detailExpandColumns" [ngSwitch]="column">
                            <zac-static-text *ngSwitchCase="zoekenColumn.EINDDATUM_GEPLAND" [value]="row.einddatumGepland | datum" [icon]="einddatumGeplandIcon"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.DAGEN_TOT_STREEFDATUM" [value]="row.einddatumGepland | dagen"
                                             [icon]="einddatumGeplandIcon"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.UITERLIJKE_EINDDATUM_AFDOENING" [value]="row.uiterlijkeEinddatumAfdoening | datum"
                                             [icon]="uiterlijkeEinddatumAfdoeningIcon"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.DAGEN_TOT_FATALEDATUM" [value]="row.uiterlijkeEinddatumAfdoening | dagen"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.STARTDATUM" [value]="row.startdatum | datum"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.ZAAK_DOT_IDENTIFICATIE" [value]="row.identificatie"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.GROEP" [value]="row.groepNaam"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.ZAAKTYPE" [value]="row.zaaktypeOmschrijving"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.STATUS" [value]="row.statustypeOmschrijving"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchCase="zoekenColumn.OPENSTAANDE_TAKEN" [value]="row.aantalOpenstaandeTaken"
                                             fxFlex="33" [label]="column | translate"></zac-static-text>
                            <zac-static-text *ngSwitchDefault [label]="column | translate" [value]="row[column] | translate"
                                             fxFlex="33"></zac-static-text>
                            <div fxFlex="33" *ngSwitchCase="zoekenColumn.INDICATIES" class="static-text">
                                <label class="static-text-label">{{'indicaties' | translate}}</label>
                                <div class="static-text-content">
                                    <zac-zaak-indicaties [zaakZoekObject]="row"></zac-zaak-indicaties>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="dataSource.visibleColumns; sticky: true"></tr>
        <tr mat-header-row *matHeaderRowDef="dataSource.filterColumns; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource.visibleColumns" class="row" [class.expanded-row]="expandedRow === row"
            (click)="expandedRow = expandedRow === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="collapsed-row"></tr>
    </table>

    <ng-container *ngIf="dataSource.totalItems === 0"><p>{{'msg.geen.gegevens.gevonden' | translate}}</p></ng-container>
    <div class="pagination-wrapper">
        <zac-csv-export-button [zoekParameters]="this.dataSource.zoekParameters"
                               [filename]="'title.zaken.mijn' | translate"></zac-csv-export-button>
        <mat-paginator #paginator [length]="dataSource.totalItems" [pageIndex]="dataSource.zoekParameters.page" [pageSize]="dataSource.zoekParameters.rows"
                       [pageSizeOptions]="[10, 25, 50, 100]" sticky>
        </mat-paginator>
    </div>
</div>
