<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper" [class.loading]="utilService.loading$ | async">
    <table mat-table matSort multiTemplateDataRows
           cdkDropList
           cdkDropListLockAxis="x"
           cdkDropListOrientation="horizontal"
           (cdkDropListDropped)="dataSource.drop($event)">

        <ng-container *ngFor="let column of dataSource.columns | visibleColumn:true | noStickyColumn"
                      [matColumnDef]="column.model + '_filter'">
            <th mat-header-cell *matHeaderCellDef>
                <mat-form-field *ngIf="column.filter" appearance="standard" class="full-width">
                    <mat-label>- Kies een {{column.model}} -</mat-label>
                    <mat-select (valueChange)="zaaktypeChange(column)" [(value)]="column.filter.value"
                                [id]="column.filter.id + '_filter'">
                        <mat-option>- Kies een {{column.model}} -</mat-option>
                        <mat-option *ngFor="let value of column.filter.values" [value]="value">
                            {{column.filter.viewValue ? value[column.filter.viewValue] : value}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </th>
        </ng-container>

        <ng-container matColumnDef="identificatie">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnZaakIdentificatie.sort"
                [disabled]="!columnZaakIdentificatie.sort">
                {{ columnZaakIdentificatie.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.identificatie | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnStatus.sort"
                [disabled]="!columnStatus.sort">
                {{ columnStatus.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.status | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="zaaktype">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnZaaktype.sort"
                [disabled]="!columnZaaktype.sort">
                {{ columnZaaktype.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.zaaktype | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="groep">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnGroep.sort"
                [disabled]="!columnGroep.sort">
                {{ columnGroep.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.groep?.naam | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="startdatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnStartdatum.sort"
                [disabled]="!columnStartdatum.sort">
                {{ columnStartdatum.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.startdatum | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="einddatum">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnEinddatum.sort"
                [disabled]="!columnEinddatum.sort">
                {{ columnEinddatum.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.einddatum | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="einddatumGepland">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnEinddatumGepland.sort"
                [disabled]="!columnEinddatumGepland.sort">
                {{ columnEinddatumGepland.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.einddatumGepland | empty }}
                <mat-icon class="warning" [title]="'msg.datum.overschreden' | translate"
                          *ngIf="isAfterDate(row.einddatumGepland)">warning
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="aanvrager">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnAanvrager.sort"
                [disabled]="!columnAanvrager.sort">
                {{ columnAanvrager.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.aanvrager | translate | empty }}
            </td>
        </ng-container>
        <ng-container matColumnDef="uiterlijkeEinddatumAfdoening">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnUiterlijkeEinddatumAfdoening.sort"
                [disabled]="!columnUiterlijkeEinddatumAfdoening.sort">
                {{ columnUiterlijkeEinddatumAfdoening.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.uiterlijkeEinddatumAfdoening | translate | empty }}
                <mat-icon class="error" [title]="'msg.datum.overschreden' | translate"
                          *ngIf="isAfterDate(row.uiterlijkeEinddatumAfdoening)">warning
                </mat-icon>
            </td>
        </ng-container>
        <ng-container matColumnDef="toelichting">
            <th mat-header-cell cdkDrag *matHeaderCellDef
                [mat-sort-header]="columnToelichting.sort"
                [disabled]="!columnToelichting.sort">
                {{ columnToelichting.label | translate }}
            </th>
            <td mat-cell *matCellDef="let row">
                {{ row.toelichting | translate | empty }}
            </td>
        </ng-container>

        <ng-container matColumnDef="url_filter" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
        </ng-container>
        <ng-container matColumnDef="url" stickyEnd>
            <th mat-header-cell *matHeaderCellDef>
                <button (menuClosed)="dataSource.updateColumns()" [matMenuTriggerFor]="menu" mat-flat-button
                        title="{{ 'filters' | translate }}">
                    <mat-icon>view_column</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <mat-selection-list [(ngModel)]="dataSource.selectedColumns">
                        <mat-list-option (click)="$event.stopPropagation()" [selected]="column.visible"
                                         checkboxPosition="before"
                                         [value]="column"
                                         *ngFor="let column of dataSource.columns | noStickyColumn">
                            {{column.label | translate}}
                        </mat-list-option>
                    </mat-selection-list>
                </mat-menu>
            </th>
            <td mat-cell *matCellDef=" let row">
                <button (click)="$event.stopPropagation()" [id]="'zaakBekijken_' + row.identificatie +'_button'"
                        [routerLink]="['/zaken', row.uuid]"
                        mat-flat-button
                        title="{{ 'actie.zaak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>

        <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let row" [attr.colspan]="(dataSource.columns | visibleColumn: true).length">
                <div class="row-detail"
                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                    <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
                        <ng-container *ngFor="let column of dataSource.columns | visibleColumn:false">
                            <zac-static-text fxFlex="33" [label]="column.label | translate"
                                             [value]="row[column.model] | translate"></zac-static-text>
                        </ng-container>
                    </div>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row
            *matHeaderRowDef="dataSource.columns | visibleColumn:true | columnToString; sticky:true"></tr>
        <tr mat-header-row
            *matHeaderRowDef="dataSource.columns | visibleColumn:true | columnToString:'_filter'; sticky:true"></tr>
        <tr mat-row *matRowDef="let row; columns: dataSource.columns | visibleColumn:true | columnToString;"
            class="row"
            [class.expanded-row]="expandedRow === row"
            (click)="expandedRow = expandedRow === row ? null : row"></tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']"
            class="collapsed-row"></tr>
    </table>

    <ng-container *ngIf="dataSource.totalItems === 0">
        <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
    </ng-container>

    <mat-paginator #paginator
                   [length]="dataSource.totalItems"
                   [pageIndex]="0"
                   [pageSize]="25"
                   [pageSizeOptions]="[10, 25, 50, 100]"
                   sticky>
    </mat-paginator>
</div>
