/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.grid {
  padding: 0 16px;
}

.grid-column {
  margin: 0 12px;
}

.draggable {
  cursor: grabbing;
}

.placeholder {
  background: #ddd;
  border: dotted 1px #aaa;
  border-radius: 30px;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cardtype {
  color: #0000008A;
  margin-top: -20px;
  position: relative;
  top: 6px;
  left: 12px;
}

.delete {
  margin-bottom: -20px;
  position: relative;
  z-index: 2;
}

.mode-slider {
  flex-shrink: 0;
  height: 40px;
  line-height: 40px;
}

.menu-title {
  font-size: 14px;
  text-align: center;
}

::ng-deep.mat-menu-panel {
  max-width: none;
}

.hint {
  margin-top: 140px;
}
