<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<ng-container *ngFor="let row of grid">
    <div class="grid-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
        <mat-card *ngFor="let card of row " [fxFlex]="100/(width<grid[0].length?width:grid[0].length)+'%'">
            <mat-card-header>
                <mat-card-title>
                    {{card.title | translate}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content" [ngSwitch]="card.objectType">
                <zac-informatieobjecten-card
                        [data]="card" *ngSwitchCase="'INFORMATIEOBJECT'">
                </zac-informatieobjecten-card>
                <zac-taken-card
                        [data]="card" *ngSwitchCase="'TAAK'">
                </zac-taken-card>
                <zac-zaken-card
                        [data]="card" *ngSwitchCase="'ZAAK'">
                </zac-zaken-card>
                <zac-zaak-waarschuwingen-card
                        [data]="card" *ngSwitchCase="'ZAAK-WAARSCHUWING'">
                </zac-zaak-waarschuwingen-card>
            </mat-card-content>
        </mat-card>
    </div>
</ng-container>
<ng-container *ngIf="showHint">
    <div class="table-wrapper">
        <p><br/><br/><br/>
            <button routerLink="/signaleringen/settings" id="hint_button" mat-button>
                {{'msg.geen.cards.hint' | translate }}
            </button>
        </p>
    </div>
</ng-container>
