<!--
  ~ SPDX-FileCopyrightText: 2023 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content class="flex-col gap-20">
        <form [formGroup]="definitieFormGroup">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{'formulierDefinitie'| translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="flex-row flex-wrap gap-20">
                        <mat-form-field class="w50" floatLabel="always">
                            <mat-label>{{'naam' | translate}}</mat-label>
                            <input matInput (keyup)="updateSysteemnaam()" formControlName="naam">
                        </mat-form-field>
                        <mat-form-field class="w50" floatLabel="always">
                            <mat-label>{{'systeemnaam' | translate}}</mat-label>
                            <input matInput formControlName="systeemnaam">
                        </mat-form-field>
                    </div>
                    <div class="flex-row">
                        <mat-form-field class="w100" floatLabel="always">
                            <mat-label>{{'beschrijving' | translate}}</mat-label>
                            <input matInput formControlName="beschrijving">
                        </mat-form-field>
                    </div>
                    <div class="flex-row">
                        <mat-form-field class="row w100" floatLabel="always">
                            <mat-label>{{'uitleg' | translate}}</mat-label>
                            <textarea matInput formControlName="uitleg"></textarea>
                        </mat-form-field>
                    </div>

                    <div class="button-group flex-row">
                        <button mat-raised-button color="primary"
                                [disabled]="bezigMetOpslaan || definitieFormGroup.invalid"
                                (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
                        <button mat-raised-button [disabled]="bezigMetOpslaan"
                                (click)="annuleren()">{{"actie.annuleren" | translate}}</button>
                    </div>
                </mat-card-content>
            </mat-card>
            <mat-card>
                <mat-card-header>
                    <mat-card-title>{{'veldDefinities'| translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-table [dataSource]="dataSource">
                    <ng-container matColumnDef="label">
                            <mat-header-cell *matHeaderCellDef>{{'label' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'label' | translate}}</mat-label>
                                    <input matInput formControlName="label" (keyup)="updateSysteemnaamVeld(element)">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="systeemnaam">
                            <mat-header-cell *matHeaderCellDef>{{'systeemnaam' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'systeemnaam' | translate}}</mat-label>
                                    <input matInput formControlName="systeemnaam">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="beschrijving">
                            <mat-header-cell *matHeaderCellDef>{{'beschrijving' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'beschrijving' | translate}}</mat-label>
                                    <input matInput formControlName="beschrijving">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="helptekst">
                            <mat-header-cell *matHeaderCellDef>{{'helptekst' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'helptekst' | translate}}</mat-label>
                                    <input matInput formControlName="helptekst">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="veldtype">
                            <mat-header-cell *matHeaderCellDef>{{'veldtype' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">

                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'veldtype' | translate}}</mat-label>
                                    <mat-select formControlName="veldtype"
                                                (selectionChange)="onVeldtypeChange($event, element)" required>
                                        <mat-option *ngFor="let type of getVeldtypes()" [value]="type">
                                            {{ type }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>

                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="defaultWaarde">
                            <mat-header-cell *matHeaderCellDef>{{'defaultWaarde' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'defaultWaarde' | translate}}</mat-label>
                                    <input *ngIf="!isTekstvlak(element)" matInput formControlName="defaultWaarde">
                                    <input *ngIf="isTekstvlak(element)" matInput formControlName="defaultWaarde"
                                           (click)="openTekstvlakEditDialog(element)">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="verplicht">
                            <mat-header-cell *matHeaderCellDef>{{'verplicht' | translate}}</mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-checkbox formControlName="verplicht"></mat-checkbox>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="meerkeuzeOpties">
                            <mat-header-cell *matHeaderCellDef>
                                {{'meerkeuzeOpties' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'meerkeuzeOpties' | translate}}</mat-label>
                                    <input matInput formControlName="meerkeuzeOpties">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="volgorde">
                            <mat-header-cell *matHeaderCellDef>
                                {{'volgorde' | translate}}
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <mat-form-field class="full-width" floatLabel="always" subscriptSizing="dynamic">
                                    <mat-label>{{'volgorde' | translate}}</mat-label>
                                    <input matInput formControlName="volgorde">
                                </mat-form-field>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="acties">
                            <mat-header-cell *matHeaderCellDef>
                                <button mat-icon-button
                                        id="toevoegen"
                                        (click)="addVeldDefinities()"
                                        title="{{ 'actie.toevoegen' | translate}}">
                                    <mat-icon>add_circle</mat-icon>
                                </button>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let element;" [formGroup]="element">
                                <button mat-icon-button
                                        id="remove"
                                        (click)="removeVeldDefinitie(element)"
                                        title="{{ 'actie.verwijderen' | translate}}">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="veldColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: veldColumns;"></mat-row>
                    </mat-table>
                    <ng-container *ngIf="definitieFormGroup?.get('veldDefinities').value.length === 0">
                        <p>{{'msg.geen.gegevens.gevonden'  | translate}}</p>
                    </ng-container>
                </mat-card-content>
            </mat-card>
        </form>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Uitleg meerkeuze opties
                </mat-panel-title>
            </mat-expansion-panel-header>
            <small>
                <b>RADIO, CHECKBOXES EN KEUZELIJST</b><br/>
                Mogelijke waarden:<br/>
                <ul>
                    <li>Een lijst <b>;</b> gescheiden, bijvoorbeeld: Ja;Nee;Weet ik niet;Anders</li>
                    <li>Een referentietabel <b>REF:CODE</b>, bijvoorbeeld: REF:AFZENDER</li>
                </ul>
                Beschikbare referentietabellen: [{{referentieLijsten.join(', ')}}]
                <br/>
                <br/>
                <b>DOCUMENTEN_LIJST</b><br/>
                Mogelijke waarden:<br/>
                <ul>
                    <li><b>ZAAK</b>: Alle zaak documenten</li>
                    <li><b>ZAAK_VERZENDBAAR</b>: Alleen verzendbare documenten van een zaak</li>
                    <li>een <i><b>systeemnaam</b></i> van een veld definitie op een reeds ingediend formulier</li>
                </ul>
            </small>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Uitleg speciale systeemnamen
                </mat-panel-title>
            </mat-expansion-panel-header>
            <small>
                <ul>
                    <li><b>zaak-opschorten</b>: de zaak opschorten (met aantal dagen tot de fatale datum van de taak)
                        indien het CHECKBOX veld is aangevinkt
                    </li>
                    <li><b>zaak-hervatten</b>: de zaak hervatten indien het CHECKBOX veld is aangevinkt</li>
                    <li><b>taak-fatale-datum</b>: de taak fatale datum wordt aangepast volgens de gekozen DATUM waarde
                    </li>
                    <li><b>taak-toekennen-groep</b>: de taak wordt toegekend aan de gekozen GROEP_KEUZELIJST waarde</li>
                    <li><b>taak-toekennen-behandelaar</b>: de taak wordt toegekend aan de gekozen MEDEWERKER_KEUZELIJST
                        waarde
                    </li>
                </ul>
                Indien het niet mogelijk is om de gekozen conditie uit te voeren zal het veld niet worden weergegeven.
            </small>
        </mat-expansion-panel>

    </mat-sidenav-content>
</mat-sidenav-container>
