/*
 * SPDX-FileCopyrightText: 2023 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */


.mdc-data-table__cell, .mdc-data-table__header-cell {
  padding: 0 16px 0 0;
}

p {
  text-align: center;
}


mat-card, mat-expansion-panel {
  .mat-expansion-panel-header {
    padding: 0 14px;
  }

  .mat-expansion-panel-header-title {
    font-weight: 100;
    margin: 0;
  }

  margin: 10px;
}


.mail-panel {
  .mat-expansion-panel-header-title {
    font-weight: 500;
    margin: 0;
  }

  .mat-expanded .mat-expansion-panel-header-title {
    color: #000;
  }

  mat-slide-toggle {
    padding: 5px 0;
  }
}

.mat-column-verplicht {
  max-width: 75px;
}

.mat-column-volgorde {
  max-width: 100px;
}

.mat-column-acties {
  max-width: 50px;
}

.button-group {
  padding-left: 10px;
}


::ng-deep .editor {
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-right: 20px;

  .NgxEditor__MenuBar {
    background-color: whitesmoke;
  }

  .NgxEditor {
    background-color: #fdfdfd;
    border-radius: 0;
    border: none;
  }

  .CodeMirror {
    border: 1px solid #eee;
    height: auto;
    width: max-content;
    margin-bottom: 0.7rem;

    pre {
      white-space: pre !important;
    }
  }
}
