<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-stepper orientation="vertical">
    <mat-step [stepControl]="algemeenFormGroup">
        <ng-template matStepLabel>{{"gegevens.algemeen" | translate}}</ng-template>

        <form [formGroup]="algemeenFormGroup" fxLayout="row wrap">

            <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'naam' | translate"
                             [value]="parameters.zaaktype.omschrijving"></zac-static-text>
            <zac-static-text fxFlex="66" fxFlex.lt-md="100" [label]="'doel' | translate"
                             [value]="parameters.zaaktype.doel"></zac-static-text>
            <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'identificatie' | translate"
                             [value]="parameters.zaaktype.identificatie"></zac-static-text>
            <zac-static-text fxFlex="66" fxFlex.lt-md="100" [label]="'uuid' | translate"
                             [value]="parameters.zaaktype.uuid"></zac-static-text>


            <div fxFlex="100">
                <mat-form-field fxFlex="33" appearance="standard" floatLabel="always">
                    <mat-label>{{'defaultBehandelaar' | translate}}</mat-label>
                    <mat-select placeholder="Selecteer een optie" [formControl]="behandelaarControl" [compareWith]="compareObject">
                        <mat-option (onSelectionChange)="parameters.defaultBehandelaar = b" *ngFor="let b of medewerkers | async" [value]="b">
                            {{ b.naam }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field fxFlex="33" appearance="standard" floatLabel="always">
                    <mat-label>{{'defaultGroep' | translate}}</mat-label>
                    <mat-select placeholder="Selecteer een optie" [formControl]="groepControl" [compareWith]="compareObject">
                        <mat-option (onSelectionChange)="parameters.defaultGroep = groep" *ngFor="let groep of groepen | async" [value]="groep">
                            {{ groep.naam }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field fxFlex="33" appearance="standard" floatLabel="always">
                <mat-label>{{'caseDefinition' | translate}}</mat-label>
                <mat-select placeholder="Selecteer een optie" [formControl]="caseDefinitionControl" [compareWith]="compareObject">
                    <mat-option (onSelectionChange)="parameters.caseDefinition = cd" *ngFor="let cd of caseDefinitions | async" [value]="cd">
                        {{ cd.naam }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="buttons" fxFlex="100">
                <button mat-raised-button color="primary" matStepperNext>{{"actie.volgende" | translate}}</button>
                <button mat-raised-button (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="planitemFormGroup">
        <form [formGroup]="planitemFormGroup">
            <ng-template matStepLabel>{{"gegevens.planitems" | translate}}</ng-template>
            <div class="buttons" fxFlex="100">
                <button mat-raised-button matStepperPrevious>{{"actie.terug" | translate}}</button>
                <button mat-raised-button color="primary" (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
            </div>
        </form>
    </mat-step>
</mat-stepper>
