<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <mat-stepper orientation="vertical" linear="true">
            <mat-step [stepControl]="algemeenFormGroup">
                <ng-template matStepLabel>{{"gegevens.algemeen" | translate}}</ng-template>
                <form [formGroup]="algemeenFormGroup" fxLayout="column">
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
                        <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'zaaktypeOmschrijving' | translate"
                                         [value]="parameters.zaaktype.omschrijving"></zac-static-text>
                        <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'doel' | translate"
                                         [value]="parameters.zaaktype.doel"></zac-static-text>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
                        <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'identificatie' | translate"
                                         [value]="parameters.zaaktype.identificatie"></zac-static-text>
                        <zac-static-text fxFlex="33" fxFlex.lt-md="100" [label]="'uuid' | translate"
                                         [value]="parameters.zaaktype.uuid"></zac-static-text>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
                        <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                            <mat-label>{{'caseDefinition' | translate}}</mat-label>
                            <mat-select placeholder="{{'model.-kies-' | translate}}"
                                        (selectionChange)="readPlanItemDefinitions($event)"
                                        [formControl]="caseDefinitionControl" [compareWith]="compareObject">
                                <mat-option *ngFor="let cd of caseDefinitions | async"
                                            [value]="cd">{{ cd.naam }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
                        <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                            <mat-label>{{'groep' | translate}}</mat-label>
                            <mat-select placeholder="{{'groep.-kies-' | translate}}" [formControl]="groepControl"
                                        [compareWith]="compareObject">
                                <mat-option *ngFor="let groep of groepen | async"
                                            [value]="groep">{{ groep.naam }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                            <mat-label>{{'behandelaar' | translate}}</mat-label>
                            <mat-select placeholder="{{'behandelaar.-geen-' | translate}}"
                                        [formControl]="behandelaarControl" [compareWith]="compareObject">
                                <mat-option [value]="">{{'behandelaar.-geen-' | translate}}</mat-option>
                                <mat-option *ngFor="let b of medewerkers | async" [value]="b">{{ b.naam }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div fxLayout="row wrap" fxLayoutGap.gt-sm="20px">
                        <mat-form-field *ngIf="parameters.zaaktype.servicenorm" fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                            <mat-label>{{'einddatumGeplandWaarschuwing' | translate}}</mat-label>
                            <input matInput type="number" min="0" max="31"
                                   [formControl]="einddatumGeplandWaarschuwingControl">
                            <span matSuffix>{{'kalenderdagen' | translate}}</span>
                        </mat-form-field>
                        <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                            <mat-label>{{'uiterlijkeEinddatumAfdoeningWaarschuwing' | translate}}</mat-label>
                            <input matInput type="number" min="0" max="31"
                                   [formControl]="uiterlijkeEinddatumAfdoeningWaarschuwingControl">
                            <span matSuffix>{{'kalenderdagen' | translate}}</span>
                        </mat-form-field>
                    </div>

                    <div class="button-group" fxLayout="row wrap">
                        <button mat-raised-button matStepperNext>{{"actie.volgende" | translate}}</button>
                        <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="humanTaskFormGroup">
                <ng-template matStepLabel>{{"gegevens.humantasks" | translate}}</ng-template>
                <ng-template matStepContent>
                    <form [formGroup]="humanTaskFormGroup" fxLayout="column">
                        <mat-accordion>
                            <mat-expansion-panel fxLayout="column" *ngFor="let humanTaskParameter of humanTaskParameters">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <mat-icon *ngIf="isHumanTaskParameterValid(humanTaskParameter)" color="primary">check_circle_outline</mat-icon>
                                        <mat-icon *ngIf="!isHumanTaskParameterValid(humanTaskParameter)" color="warn">error_outline</mat-icon>
                                        {{humanTaskParameter.planItemDefinition.naam}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="row wrap">
                                    <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                                        <mat-label>{{'groep' | translate}}</mat-label>
                                        <mat-select placeholder="{{'groep.-geen-' | translate}}"
                                                    [formControl]="getHumanTaskControl(humanTaskParameter, 'defaultGroep')" [compareWith]="compareObject">
                                            <mat-option [value]="">{{'groep.-geen-' | translate}}</mat-option>
                                            <mat-option *ngFor="let groep of groepen | async" [value]="groep">{{ groep.naam }}</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div fxLayout="row wrap">
                                    <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard" floatLabel="always">
                                        <mat-label>{{'doorlooptijd.gewenst' | translate}}</mat-label>
                                        <input matInput type="number" [formControl]="getHumanTaskControl(humanTaskParameter, 'doorlooptijd')" min="0"
                                               max="2147483647">
                                        <span matSuffix>{{'kalenderdagen' | translate}}</span>
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="button-group" fxLayout="row wrap">
                            <button mat-raised-button matStepperPrevious>{{"actie.terug" | translate}}</button>
                            <button mat-raised-button matStepperNext>{{"actie.volgende" | translate}}</button>
                            <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
                        </div>
                    </form>
                </ng-template>
            </mat-step>

            <mat-step [stepControl]="UserEventListenerFormGroup">
                <ng-template matStepLabel>{{"gegevens.acties" | translate}}</ng-template>
                <ng-template matStepContent>
                    <form [formGroup]="UserEventListenerFormGroup" fxLayout="column">
                        <mat-accordion>
                            <mat-expansion-panel fxLayout="column" *ngFor="let actieParameter of userEventListenerParameters">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        {{actieParameter.naam}}
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <div fxLayout="row wrap">
                                    <mat-form-field fxFlex="33" fxFlex.lt-md="100" appearance="standard"
                                                    floatLabel="always">
                                        <mat-label>{{'toelichting' | translate}}</mat-label>
                                        <textarea matInput class="toelichting"
                                                  [formControl]="getActieControl(actieParameter, 'toelichting')"
                                                  maxlength="1000"></textarea>
                                    </mat-form-field>
                                </div>
                            </mat-expansion-panel>
                        </mat-accordion>
                        <div class="button-group" fxLayout="row wrap">
                            <button mat-raised-button matStepperPrevious>{{"actie.terug" | translate}}</button>
                            <button mat-raised-button matStepperNext>{{"actie.volgende" | translate}}</button>
                            <button mat-raised-button color="primary" [disabled]="!isValid()" (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
                        </div>
                    </form>
                </ng-template>
            </mat-step>

            <mat-step [stepControl]="zaakbeeindigFormGroup">
                <ng-template matStepLabel>{{"gegevens.beeindiging" | translate}}</ng-template>
                <ng-template matStepContent>
                    <form [formGroup]="zaakbeeindigFormGroup" fxLayout="column">
                        <div class="table-wrapper">
                            <table mat-table [dataSource]="zaakbeeindigParameters">
                                <ng-container matColumnDef="select">
                                    <th mat-header-cell *matHeaderCellDef></th>
                                    <td mat-cell *matCellDef="let parameter">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                                      (change)="changeSelection($event, parameter)"
                                                      [checked]="selection.isSelected(parameter)"
                                                      [disabled]="isZaaknietontvankelijkParameter(parameter)">
                                        </mat-checkbox>
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="reden">
                                    <th mat-header-cell *matHeaderCellDef translate="reden"></th>
                                    <td mat-cell *matCellDef="let parameter">
                                        {{ parameter.zaakbeeindigReden.naam }}
                                    </td>
                                </ng-container>
                                <ng-container matColumnDef="resultaat">
                                    <th mat-header-cell *matHeaderCellDef translate="resultaat"></th>
                                    <td mat-cell *matCellDef="let parameter">
                                        <mat-select placeholder="{{'resultaat.-kies-' | translate}}"
                                                    [formControl]="getZaakbeeindigControl(parameter,'beeindigResultaat')"
                                                    [compareWith]="compareObject">
                                            <mat-option *ngFor="let resultaattype of resultaattypes | async"
                                                        [value]="resultaattype">{{ resultaattype.naam }}</mat-option>
                                        </mat-select>
                                    </td>
                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="['select', 'reden', 'resultaat']"></tr>
                                <tr mat-row *matRowDef="let row; columns: ['select', 'reden', 'resultaat'];"></tr>
                            </table>
                            <p *ngIf="zaakbeeindigParameters.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                        </div>
                        <div class="button-group" fxLayout="row wrap">
                            <button mat-raised-button matStepperPrevious>{{"actie.terug" | translate}}</button>
                            <button mat-raised-button color="primary" [disabled]="!isValid()"
                                    (click)="opslaan()">{{"actie.opslaan" | translate}}</button>
                        </div>
                    </form>
                </ng-template>
            </mat-step>
        </mat-stepper>
    </mat-sidenav-content>
</mat-sidenav-container>

