<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->


<mat-sidenav-container class="container" autosize>
    <mat-sidenav #zoekenSideNav position="end" mode="over">
        <zac-zoeken [zoekenSideNav]="zoekenSideNav"></zac-zoeken>
    </mat-sidenav>
    <mat-sidenav-content>
        <zac-toolbar [zoekenSideNav]="zoekenSideNav"></zac-toolbar>
        <zac-loading></zac-loading>
        <zac-action-bar></zac-action-bar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
