<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-content>
    <p [innerHTML]="data.melding"></p>
    <p *ngIf="data.uitleg" class="uitleg" [innerHTML]="data.uitleg"></p>
</div>
<div mat-dialog-actions>
    <button [disabled]="loading" mat-button color="primary" (click)="confirm()" id="confirmButton">
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        {{'actie.ja' | translate}}
    </button>
    <button [disabled]="loading" autofocus mat-button (click)="cancel()" id="cancelButton">{{'actie.nee' | translate}}</button>
</div>
