<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div mat-dialog-content>
    <mfb-form-field [field]="data.formField"></mfb-form-field>
</div>
<div mat-dialog-actions>
    <button [disabled]="loading || data?.formField.formControl.invalid" mat-button color="primary" (click)="confirm()" id="confirmButton">
        <mat-icon *ngIf="loading">
            <mat-spinner diameter="20"></mat-spinner>
        </mat-icon>
        {{ data.confirmButtonActionKey | translate }}
    </button>
    <button [disabled]="loading" autofocus mat-button (click)="cancel()" id="cancelButton">{{ data.cancelButtonActionKey | translate }}</button>
</div>
