<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="naam">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="naam"> {{'naam' | translate}} </th>
            <td mat-cell *matCellDef="let taak"> {{taak.naam | empty}} </td>
        </ng-container>
        <ng-container matColumnDef="creatiedatumTijd">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="creatiedatumTijd"> {{'creatiedatumTijd' | translate}} </th>
            <td mat-cell *matCellDef="let taak"> {{taak.creatiedatumTijd | datum | empty}} </td>
        </ng-container>
        <ng-container matColumnDef="zaakIdentificatie">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="zaakIdentificatie"> {{'zaakIdentificatie' | translate}} </th>
            <td mat-cell *matCellDef="let taak"> {{taak.zaakIdentificatie}} </td>
        </ng-container>
        <ng-container matColumnDef="zaaktypeOmschrijving">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="zaaktypeOmschrijving"> {{'zaaktypeOmschrijving' | translate}} </th>
            <td mat-cell *matCellDef="let taak"> {{taak.zaaktypeOmschrijving | empty}} </td>
        </ng-container>

        <ng-container matColumnDef="url" stickyEnd id="taakButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let taak">
                <a mat-icon-button
                   [id]="'taakBekijken_' + taak.id +'_button'"
                   [routerLink]="['/taken', taak.id]"
                   title="{{ 'actie.taak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="5"><p>{{'msg.geen.gegevens.gevonden' | translate}}</p></td>
        </tr>
    </table>

    <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
</div>
