<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-form-field appearance="fill" class="full-width">
    <mat-label>{{data.label}}</mat-label>
    <input matInput [matDatepicker]="picker" [formControl]="data.formControl" [required]="data.required"/>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    <mat-hint *ngIf="data.hint" [align]="data.hint.align">{{data.hint.label}}</mat-hint>
    <mat-error *ngIf="data.formControl.invalid">{{data.getErrorMessage()}}</mat-error>
</mat-form-field>
