<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div *ngIf="zaak" [@sideNavToggle]="{value:!collapsed ? 'open' : 'close', params: {width: '72px'}}">
    <mat-toolbar class="toolbar-footer" fxLayout="row">
        <ng-container *ngIf="collapsed">
            <button (click)="toggleMenu()" color="default" id="zaakVerkortUitklappen_button" mat-icon-button
                    title="{{ 'actie.paneel.openen' | translate }}">
                <mat-icon>menu_open</mat-icon>
            </button>
        </ng-container>
        <ng-container *ngIf="!collapsed">
            <div fxLayout="row" fxLayoutAlign="start center">
                <button mat-raised-button [routerLink]="['/zaken', zaak.identificatie]">
                    {{zaak.identificatie}}
                </button>
            </div>

            <div fxLayout="row" fxFlex fxLayoutAlign="end center" fxHide.lt-md>
                <button (click)="toggleMenu()" id="zaakVerkortInklappen_button" mat-icon-button
                        title="{{ 'actie.paneel.sluiten' | translate }}">
                    <mat-icon>cancel</mat-icon>
                </button>
            </div>
        </ng-container>
    </mat-toolbar>
    <div class="content" fxLayout="column wrap" *ngIf="collapsed">
        <button [routerLink]="['/zaken', zaak.identificatie]" [title]="zaak.identificatie + ' openen'" id="zaakDetail_button"
                mat-icon-button>
            <mat-icon>visibility</mat-icon>
        </button>
    </div>
    <div class="content" fxLayout="row wrap" *ngIf="!collapsed">
        <zac-static-text fxFlex="100" [label]="'zaaktype' | translate"
                         [value]="zaak.zaaktype.omschrijving"></zac-static-text>
        <zac-static-text fxFlex="100" [label]="'status' | translate"
                         [value]="zaak.status | empty:'naam'"></zac-static-text>

        <zac-static-text fxFlex="50" [label]="'startdatum' | translate"
                         [value]="zaak.startdatum"></zac-static-text>

        <zac-static-text fxFlex="50" [label]="'einddatumGepland' | translate"
                         [value]="zaak.einddatumGepland"
                         [icon]="einddatumGeplandIcon"></zac-static-text>

        <zac-static-text fxFlex="100" [label]="'toelichting' | translate"
                         [value]="zaak.toelichting"></zac-static-text>
    </div>
</div>

<div *ngIf="!zaak">
    <div class="content" fxLayout="column wrap">
        <ngx-skeleton-loader count="1" appearance="line"
                             [theme]="{ height: '36px', width: '210px' }"></ngx-skeleton-loader>
    </div>
    <div class="content" fxLayout="row wrap">
        <ngx-skeleton-loader count="1" appearance="line"
                             [theme]="{ width: '70px', 'display': 'inline-block' }"></ngx-skeleton-loader>
        <span fxFlexFill></span>
        <ngx-skeleton-loader count="1" appearance="line"
                             [theme]="{ width: '120px', 'white-space': 'pre-line' }"></ngx-skeleton-loader>
        <span fxFlexFill></span>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ width: '80px' }"></ngx-skeleton-loader>
        <span fxFlexFill></span>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ width: '100px' }"></ngx-skeleton-loader>
        <span fxFlexFill></span>
        <ngx-skeleton-loader count="1" appearance="line" fxFlex="80"></ngx-skeleton-loader>
        <span fxFlexFill></span>
        <ngx-skeleton-loader count="1" appearance="line" fxFlex="40"></ngx-skeleton-loader>
    </div>
</div>

<div class="table-wrapper" *ngIf="!collapsed">
    <h2>{{'enkelvoudigInformatieObjecten'|translate}}</h2>
    <table mat-table [dataSource]="(enkelvoudigInformatieObjecten | slice: lowValue : highValue)">
        <ng-container matColumnDef="titel">
            <th mat-header-cell *matHeaderCellDef>{{ 'titel' | translate }}</th>
            <td mat-cell *matCellDef="let informatieObject">{{ informatieObject.titel | empty }}</td>
        </ng-container>
        <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef>{{ 'informatieobject.status' | translate }}</th>
            <td mat-cell *matCellDef="let informatieObject">{{ 'informatieobject.status.' + informatieObject.status |translate| empty }}</td>
        </ng-container>
        <ng-container matColumnDef="url" stickyEnd>
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let informatieObject">
                <button mat-flat-button [routerLink]="['/informatie-objecten', informatieObject.uuid]">
                    <mat-icon>visibility</mat-icon>
                </button>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="objectenColumnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: objectenColumnsToDisplay;"></tr>
    </table>

    <mat-paginator (page)="onPageChanged($event)"
                   [length]="enkelvoudigInformatieObjecten.length"
                   [pageIndex]="0"
                   [pageSize]="5"
                   hidePageSize
                   sticky>
    </mat-paginator>
    <p *ngIf="enkelvoudigInformatieObjecten.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
</div>
