<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content class="flex-col gap-20">

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{'healthCheck.synchroniseer.ztc.title' | translate}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <button (click)="clearZTCCache($event)" [disabled]="loadingZaaktypes" mat-flat-button
                                    color="primary">
                                <mat-icon>{{loadingZaaktypes ? 'sync_lock' : 'sync'}}</mat-icon>
                                {{'healthCheck.synchroniseer.ztc.button' | translate }}</button>
                        </mat-panel-title>
                        <mat-panel-description>
                            {{'healthCheck.synchroniseer.ztc.description' | translate:{ztcCacheTime: (ztcCacheTime | datum: 'medium')} }}
                        </mat-panel-description>
                        <mat-icon>help</mat-icon>
                    </mat-expansion-panel-header>
                    <p>{{'healthCheck.synchroniseer.ztc.uitleg.1' | translate}}
                        <br/>{{'healthCheck.synchroniseer.ztc.uitleg.2' | translate}}</p>

                </mat-expansion-panel>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{'healthCheck.zaaktype.inrichtingscheck' | translate}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="table-wrapper">
                    <table *ngIf="!loadingZaaktypes" mat-table [dataSource]="dataSource" matSort matSortDirection="asc"
                           (matSortChange)="sortData($event)" multiTemplateDataRows>
                        <ng-container matColumnDef="expand">
                            <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon *ngIf=" !row.valide && expandedRow !== row">keyboard_arrow_down</mat-icon>
                                <mat-icon *ngIf="!row.valide && expandedRow === row">keyboard_arrow_up</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="zaaktypeOmschrijving">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header="zaaktypeOmschrijving">{{'zaaktypeOmschrijving'|translate}} </th>
                            <td mat-cell *matCellDef="let row"> {{row.zaaktype.omschrijving}} </td>
                        </ng-container>
                        <ng-container matColumnDef="zaaktypeDoel">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="doel">{{'doel'|translate}} </th>
                            <td mat-cell *matCellDef="let row">
                                <read-more [text]="row.zaaktype.doel" [maxLength]="100"></read-more>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="beginGeldigheid">
                            <th mat-header-cell *matHeaderCellDef
                                mat-sort-header="beginGeldigheid">{{'begin.geldigheid'|translate}} </th>
                            <td mat-cell *matCellDef="let row"> {{row.zaaktype.beginGeldigheid | datum}} </td>
                        </ng-container>
                        <ng-container matColumnDef="valide">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header="valide"></th>
                            <td mat-cell *matCellDef="let row">
                                <mat-icon *ngIf="row.valide" color="primary">check_circle_outline</mat-icon>
                                <mat-icon *ngIf="!row.valide" color="warn">error_outline</mat-icon>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedPrefix">
                            <td mat-cell *matCellDef="let row" colspan="2"></td>
                        </ng-container>
                        <ng-container matColumnDef="expandedTitle">
                            <td mat-cell *matCellDef="let row">
                                <div class="detail flex-col"
                                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                                    <div *ngIf="!row.zaakafhandelParametersValide">{{'zaakafhandelparameters' | translate}}</div>
                                    <div *ngIf="!row.statustypeIntakeAanwezig">{{'statustype' | translate}}</div>
                                    <div *ngIf="!row.statustypeInBehandelingAanwezig">{{'statustype' | translate}}</div>
                                    <div *ngIf="!row.statustypeHeropendAanwezig">{{'statustype' | translate}}</div>
                                    <div *ngIf="!row.statustypeAfgerondAanwezig">{{'statustype' | translate}}</div>
                                    <div *ngIf="row.statustypeAfgerondAanwezig && !row.statustypeAfgerondLaatsteVolgnummer">{{'statustype' | translate}}</div>
                                    <div *ngIf="!row.resultaattypeAanwezig">{{'resultaattype' | translate}}</div>
                                    <div *ngIf="!row.rolInitiatorAanwezig">{{'rol' | translate}}</div>
                                    <div *ngIf="!row.rolBehandelaarAanwezig">{{'rol' | translate}}</div>
                                    <div *ngIf="!row.rolOverigeAanwezig">{{'rol' | translate}}</div>
                                    <div *ngIf="!row.informatieobjecttypeEmailAanwezig">{{'informatieobjecttype' | translate}}</div>
                                    <div *ngIf="row.resultaattypesMetVerplichtBesluit.length && !row.besluittypeAanwezig">{{'besluittype' | translate}}</div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="expandedDetail">
                            <td mat-cell *matCellDef="let row" [attr.colspan]="columnsToDisplay.length -3">
                                <div class="detail flex-col"
                                     [@detailExpand]="row == expandedRow ? 'expanded' : 'collapsed'">
                                    <div *ngIf="!row.zaakafhandelParametersValide">{{'healthCheck.zaaktype.zaakafhandelParametersOngeldig' | translate}}</div>
                                    <div *ngIf="!row.statustypeIntakeAanwezig">{{'healthCheck.zaaktype.geenStatustypeIntakeAanwezig' | translate}}</div>
                                    <div *ngIf="!row.statustypeInBehandelingAanwezig">
                                        {{'healthCheck.zaaktype.geenStatustypeInBehandelingAanwezig' | translate}}
                                    </div>
                                    <div *ngIf="!row.statustypeHeropendAanwezig">{{'healthCheck.zaaktype.geenStatustypeHeropendAanwezig' | translate}}</div>
                                    <div *ngIf="!row.statustypeAfgerondAanwezig">{{'healthCheck.zaaktype.geenStatustypeAfgerondAanwezig' | translate}}</div>
                                    <div *ngIf="row.statustypeAfgerondAanwezig && !row.statustypeAfgerondLaatsteVolgnummer">
                                        {{'healthCheck.zaaktype.statustypeAfgerondLaatsteVolgnummer' | translate}}
                                    </div>
                                    <div *ngIf="!row.resultaattypeAanwezig">{{'healthCheck.zaaktype.geenResultaattypeAanwezig' | translate}}</div>
                                    <div *ngIf="!row.rolInitiatorAanwezig">{{'healthCheck.zaaktype.geenRolInitiatorAanwezig' | translate}}</div>
                                    <div *ngIf="!row.rolBehandelaarAanwezig">{{'healthCheck.zaaktype.geenRolBehandelaarAanwezig' | translate}}</div>
                                    <div *ngIf="!row.rolOverigeAanwezig">{{'healthCheck.zaaktype.geenRolOverigeAanwezig' | translate}}</div>
                                    <div *ngIf="!row.informatieobjecttypeEmailAanwezig">
                                        {{'healthCheck.zaaktype.geenInformatieobjecttypeEmailAanwezig' | translate}}
                                    </div>
                                    <div *ngIf="row.resultaattypesMetVerplichtBesluit.length && !row.besluittypeAanwezig"
                                         [innerHTML]="'healthCheck.zaaktype.geenBesluittypeAanwezig' | translate:{resultaattypes: row.resultaattypesMetVerplichtBesluit.join(', ')}">
                                    </div>
                                </div>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="zoekFilter">
                            <th mat-header-cell *matHeaderCellDef colspan="3">
                                <mat-form-field subscriptSizing="dynamic">
                                    <mat-label>{{'filter' | translate}}</mat-label>
                                    <input matInput (keyup)="applyFilter($event)">
                                </mat-form-field>
                            </th>
                        </ng-container>
                        <ng-container matColumnDef="valideFilter">
                            <th mat-header-cell *matHeaderCellDef colspan="2">
                                <zac-toggle-filter unCheckedIcon="error_outline" [selected]="valideFilter"
                                                   (changed)="valideFilter = $event; applyFilter()"></zac-toggle-filter>
                            </th>
                        </ng-container>
                        <tr mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></tr>
                        <tr mat-header-row *matHeaderRowDef="['valideFilter', 'zoekFilter']"></tr>
                        <tr (click)="!row.valide ? (expandedRow = expandedRow === row ? null : row): null"
                            [class]="row.valide ? 'ok':'error'" class="main-row" mat-row
                            *matRowDef="let row; columns: columnsToDisplay;"></tr>
                        <tr mat-row *matRowDef="let row; columns: ['expandedPrefix','expandedTitle','expandedDetail']"
                            class="detail-row"></tr>
                    </table>
                </div>
                <p *ngIf="dataSource.data.length === 0 && !loadingZaaktypes">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                <p *ngIf="dataSource.data.length === 0 && loadingZaaktypes">{{'msg.loading' | translate}}</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{'healthCheck.referentielijsten.inrichtingscheck' | translate}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-expansion-panel hideToggle>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            <mat-icon *ngIf="loadingCommunicatiekanaal">hourglass_empty</mat-icon>
                            <mat-icon *ngIf="!loadingCommunicatiekanaal && bestaatCommunicatiekanaalEformulier"
                                      color="primary">check_circle_outline
                            </mat-icon>
                            <mat-icon *ngIf="!loadingCommunicatiekanaal && !bestaatCommunicatiekanaalEformulier"
                                      color="warn">error_outline
                            </mat-icon>
                            <div>{{'healthCheck.communicatiekanaal.e-formulier' | translate}}</div>
                        </mat-panel-title>
                        <mat-panel-description>
                            <div *ngIf="!loadingCommunicatiekanaal">
                                <ng-container *ngIf="bestaatCommunicatiekanaalEformulier">
                                    {{'healthCheck.communicatiekanaal.e-formulier.beschikbaar' | translate}}
                                </ng-container>
                                <ng-container *ngIf="!bestaatCommunicatiekanaalEformulier">
                                    {{'healthCheck.communicatiekanaal.e-formulier.niet.beschikbaar' | translate}}
                                </ng-container>
                            </div>
                        </mat-panel-description>
                        <mat-icon>help</mat-icon>
                    </mat-expansion-panel-header>
                    {{'healthCheck.communicatiekanaal.e-formulier.uitleg' | translate}}
                </mat-expansion-panel>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <mat-card-title>
                    {{'healthCheck.build_informatie' | translate}}
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>
                    {{'healthCheck.build_informatie.versienummer' | translate}}
                    :{{ buildInformatie.versienummer | empty}}<br>
                    {{'healthCheck.build_informatie.commit' | translate}}: {{ buildInformatie.commit | empty}}<br>
                    {{'healthCheck.build_informatie.build_id' | translate}}: {{ buildInformatie.buildId | empty}}<br>
                    {{'healthCheck.build_informatie.build_datum_tijd' | translate}}: {{
                    buildInformatie.buildDatumTijd | empty}}
                </p>
            </mat-card-content>
        </mat-card>

    </mat-sidenav-content>
</mat-sidenav-container>
