<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-sidenav #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav #actionsSidenav mode="over" position="end" [ngSwitch]="action">
        <zac-informatie-object-edit *ngSwitchCase="'DOCUMENT_VERSIE_TOEVOEGEN'" [sideNav]="actionsSidenav"
                                    [infoObject]="documentNieuweVersieGegevens" [zaken]="zaken">
        </zac-informatie-object-edit>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutGap="20px">
            <mat-card fxFlex="calc(60%-20px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>
                        <mat-icon *ngIf="infoObject.locked" class="material-icons-outlined">lock</mat-icon>
                        {{'informatieobject' | translate}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab id="algemeneGegevens_tab" label="{{'gegevens.algemeen' | translate}}">

                            <div class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <zac-static-text [label]="'titel' | translate"
                                                     [value]="infoObject.titel"></zac-static-text>
                                    <zac-static-text [label]="'identificatie' | translate"
                                                     [value]="infoObject.identificatie"></zac-static-text>
                                    <zac-static-text [label]="'vertrouwelijkheidaanduiding' | translate"
                                                     [value]="'vertrouwelijkheidaanduiding.'+infoObject.vertrouwelijkheidaanduiding | translate"></zac-static-text>
                                    <zac-static-text [label]="'bestandsnaam' | translate"
                                                     [value]="infoObject.bestandsnaam"
                                                     [fileIcon]="getFileIcon(infoObject.bestandsnaam)"></zac-static-text>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text [label]="'documentType' | translate" [value]="infoObject.documentType"></zac-static-text>
                                    <zac-static-text [label]="'auteur' | translate" [value]="infoObject.auteur"></zac-static-text>
                                    <zac-static-text [label]="'versie' | translate" [value]="infoObject.versie"></zac-static-text>
                                    <zac-static-text [label]="'beschrijving' | translate" [value]="infoObject.beschrijving"></zac-static-text>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text [label]="'informatieobject.status' | translate"
                                                     [value]="'informatieobject.status.'+infoObject.status | translate"></zac-static-text>
                                    <zac-static-text [label]="'bronorganisatie' | translate" *ngIf="infoObject.bronorganisatie"
                                                     [value]="infoObject.bronorganisatie"></zac-static-text>
                                    <zac-static-text [label]="'taal' | translate"
                                                     [value]="infoObject.taal"></zac-static-text>
                                </div>
                            </div>
                            <div class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <zac-static-text [label]="'creatiedatum' | translate" [value]="infoObject.creatiedatum | datum"></zac-static-text>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text [label]="'registratiedatum' | translate"
                                                     [value]="infoObject.registratiedatumTijd | datum:'short'"></zac-static-text>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text [label]="'verzenddatum' | translate" [value]="infoObject.verzenddatum | datum"
                                                     *ngIf="infoObject.verzenddatum"></zac-static-text>
                                    <zac-static-text [label]="'ontvangstdatum' | translate" *ngIf="infoObject.ontvangstdatum"
                                                     [value]="infoObject.ontvangstdatum | datum"></zac-static-text>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab id="historie_tab" label="{{'historie' | translate}}">
                            <div class="table-wrapper historie-table">
                                <table mat-table [dataSource]="historie" matSort>
                                    <ng-container matColumnDef="datum">
                                        <th *matHeaderCellDef mat-header-cell
                                            mat-sort-header> {{'datum' | translate}} </th>
                                        <td *matCellDef="let regel" mat-cell>
                                            <div matTooltip="{{regel.datumTijd | datum:'short'}}">
                                                {{regel.datumTijd | datum | empty}}
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="gebruiker">
                                        <th *matHeaderCellDef mat-header-cell
                                            mat-sort-header> {{'door' | translate}} </th>
                                        <td *matCellDef="let regel" mat-cell>
                                            <div matTooltip="{{regel.applicatie}}">
                                                {{regel.door | empty}}
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="wijziging">
                                        <th mat-header-cell *matHeaderCellDef> {{'wijziging' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.attribuutLabel | translate" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="oudeWaarde">
                                        <th mat-header-cell *matHeaderCellDef> {{'waarde.oud' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.oudeWaarde | empty" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nieuweWaarde">
                                        <th mat-header-cell *matHeaderCellDef> {{'waarde.nieuw' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.nieuweWaarde | empty" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="toelichting">
                                        <th mat-header-cell *matHeaderCellDef> {{'toelichting' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.toelichting | empty" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="historieColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: historieColumns;"></tr>
                                </table>
                                <p *ngIf="historie.data.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>

            <mat-accordion class="mat-accordion" fxFlex="calc(40%-20px)" fxFlex.lt-lg="100">
                <mat-expansion-panel [disabled]="true">
                    <mat-expansion-panel-header class="mat-accordion-header">
                        {{'gerelateerdeZaken'| translate}}
                    </mat-expansion-panel-header>
                </mat-expansion-panel>
                <mat-expansion-panel *ngFor="let zaak of zaken" hideToggle [expanded]="zaken.length === 1">
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            {{zaak.zaakIdentificatie}}
                        </mat-panel-title>
                        <mat-panel-description>
                            {{zaak.zaaktype}}
                            <button mat-flat-button [routerLink]="['/zaken', zaak.zaakIdentificatie]" (click)="$event.stopPropagation()">
                                <mat-icon>visibility</mat-icon>
                            </button>
                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <zac-static-text [fxFlex]="100/3" [label]="'status' | translate"
                                     [value]="zaak.status|empty:'naam'"></zac-static-text>
                    <zac-static-text [fxFlex]="100/3" [label]="'startdatum' | translate" [value]="zaak.zaakStartDatum|datum"></zac-static-text>
                    <zac-static-text [fxFlex]="100/3" [label]="'einddatumGepland' | translate"
                                     [value]="zaak.zaakEinddatumGepland|datum|empty"></zac-static-text>
                </mat-expansion-panel>
            </mat-accordion>
        </div>
        <div fxLayout *ngIf="documentPreviewBeschikbaar">
            <mat-expansion-panel fxFlex="calc(100%-20px)" expanded="true">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="material-icons-outlined">plagiarism</mat-icon>
                        {{infoObject.titel}} | {{ 'document.preview' | translate}}
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <zac-document-viewer [document]="infoObject"></zac-document-viewer>
            </mat-expansion-panel>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
