/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-accordion {
  .mat-accordion-header {
    color: inherit;
    font-size: 14px;
    font-weight: 500;
  }

  & .mat-expansion-panel-header-title,
  & .mat-expansion-panel-header-description {
    flex-basis: 0;
    align-items: center;
  }

  & .mat-expansion-panel-header-description {
    justify-content: space-between;
  }

  & .mat-expansion-panel-spacing:nth-child(2) {
    margin: 0 0 16px 0;
    border-radius: 0 0 4px;
  }
}

.historie-table {
  height: 400px;
  overflow: auto;
}


.mat-chip-list {
  right: 30px;
  position: absolute;
}

.mat-chip {
  font-size: 9pt;

  &:hover::after {
    opacity: 0;
  }

  .mat-icon {
    font-size: 145%;
    height: auto;
    width: auto;
    margin-left: 4px;
    margin-right: -4px;
  }
}

