<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div fxLayout="row">
    <read-more class="filter-naam" fxFlexAlign="center" fxFlex [text]="actieveZoekopdracht?.naam" [maxLength]="75"></read-more>
    <div *ngIf="!zoekopdrachten.length" class="filter-control">
        <button [disabled]="!actieveFilters"
                mat-icon-button (click)="clearActief(true)" id="clearZoekopdrachtButton1">
            <mat-icon [ngClass]="actieveFilters ? 'filter-icon' : 'material-icons-outlined'">
                filter_alt
            </mat-icon>
            <mat-icon *ngIf="actieveFilters"
                      class="filter-button"
                      title="{{ 'actie.zoekopdracht.wissen' | translate }}">
                filter_alt_off
            </mat-icon>
        </button>
    </div>
    <div *ngIf="zoekopdrachten.length" class="filter-control">
        <button *ngIf="!actieveZoekopdracht && !actieveFilters"
                mat-icon-button [matMenuTriggerFor]="filterMenu" id="selecteerZoekopdrachtButton">
            <mat-icon class="material-icons-outlined"
                      title="{{ 'actie.zoekopdracht.selecteer' | translate }}">
                filter_alt
            </mat-icon>
        </button>
        <button *ngIf="actieveZoekopdracht || actieveFilters"
                mat-icon-button (click)="clearActief(true)" id="clearZoekopdrachtButton2">
            <mat-icon class="filter-icon">
                filter_alt
            </mat-icon>
            <mat-icon class="filter-button"
                      title="{{ 'actie.zoekopdracht.wissen' | translate }}">
                filter_alt_off
            </mat-icon>
        </button>
    </div>
    <button [disabled]="actieveZoekopdracht!=null"
            mat-icon-button (click)="saveSearch()" id="saveZoekopdrachtButton">
        <mat-icon title="{{ (actieveZoekopdracht ? actieveZoekopdracht.naam: 'actie.zoekopdracht.opslaan') | translate }}">
            {{ actieveZoekopdracht ? 'star' : 'star_outline' }}
        </mat-icon>
    </button>
    <mat-menu class="filter-menu" #filterMenu="matMenu" fxLayout="row">
        <button *ngFor="let value of zoekopdrachten"
                mat-menu-item (click)="setActief(value)" id="selecteerZoekopdracht">
                              <span fxFlexAlign="center" fxFlex>
                                <read-more [text]="value.naam" [maxLength]="75"></read-more>
                              </span>
            <mat-icon fxFlexAlign="center" fxFlex="nogrow"
                      (click)="deleteZoekopdracht($event, value)" id="deleteZoekopdracht"
                      title="{{ 'actie.zoekopdracht.verwijderen' | translate }}">
                delete
            </mat-icon>
        </button>
    </mat-menu>
</div>
