<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card>
    <mat-card-header class="flex-row">
        <mat-card-title>{{'enkelvoudigInformatieObjecten'| translate}}</mat-card-title>
        <mat-slide-toggle *ngIf="heeftGerelateerdeZaken"
                          [(ngModel)]="toonGekoppeldeZaakDocumenten" color="primary" class="flex-row"
                          id="gekoppeldeZaakDocumentenToon_toggle"
                          (change)="toggleGekoppeldeZaakDocumenten()">{{ 'toonGekoppeldeZaakDocumenten' | translate }}</mat-slide-toggle>
    </mat-card-header>
    <mat-card-content>
        <div class="table-wrapper">
            <table mat-table [dataSource]="enkelvoudigInformatieObjecten" matSort #documentenTable matSortDisableClear="true"
                   matSortActive="registratiedatumTijd" matSortDirection="asc" multiTemplateDataRows>

                <ng-container matColumnDef="downloaden">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="updateAll($event)"
                                      [checked]="selectAll">
                        </mat-checkbox>
                    </th>
                    <td mat-cell *matCellDef="let document">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="updateSelected($event, document)"
                                      [checked]="downloadAlsZipSelection.isSelected(document)">
                        </mat-checkbox>
                    </td>
                </ng-container>

                <ng-container matColumnDef="titel">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'titel' | translate}} </th>
                    <td mat-cell *matCellDef="let row" (click)="documentPreviewRow = documentPreviewRow === row ? null : row"
                        [ngClass]="{'pointer': isPreviewBeschikbaar(row.formaat)}">
                        <zac-document-icon [bestandsnaam]="row.bestandsnaam"></zac-document-icon>
                        {{row.titel}}
                        <mat-icon *ngIf="isPreviewBeschikbaar(row.formaat)" outlined>plagiarism</mat-icon>
                        <mat-icon *ngIf="row.startformulier" title="{{'startformulier' | translate}}" class="gold-star">star</mat-icon>
                    </td>
                </ng-container>

                <ng-container [matColumnDef]="column"
                              *ngFor="let column of [ 'zaakIdentificatie', 'relatieType', 'informatieobjectTypeOmschrijving', 'bestandsomvang', 'status', 'vertrouwelijkheidaanduiding', 'registratiedatumTijd', 'auteur']">
                    <th mat-sort-header mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
                    <td mat-cell *matCellDef="let row">
                        <ng-container *ngIf="column == 'zaakIdentificatie'">{{row[column] | empty}}</ng-container>
                        <ng-container *ngIf="column == 'relatieType'">{{row[column] | empty}}</ng-container>
                        <ng-container *ngIf="column == 'informatieobjectTypeOmschrijving'">{{row[column] | empty}}</ng-container>
                        <ng-container *ngIf="column == 'bestandsomvang'">{{row[column] | bestandsomvang | empty}}</ng-container>
                        <ng-container
                                *ngIf="column == 'status'">{{(row[column] ? 'informatieobject.status.' + row[column] : '')|translate | empty}}</ng-container>
                        <ng-container
                                *ngIf="column == 'vertrouwelijkheidaanduiding'">{{(row[column] ? 'vertrouwelijkheidaanduiding.' + row[column] : '')|translate | empty}}</ng-container>
                        <ng-container *ngIf="column == 'registratiedatumTijd'">{{row[column] | datum:'short' | empty}}</ng-container>
                        <ng-container *ngIf="column == 'auteur'">{{row[column]| empty}}</ng-container>
                    </td>
                </ng-container>

                <ng-container matColumnDef="indicaties">
                    <th mat-header-cell *matHeaderCellDef>{{'indicaties' | translate}}</th>
                    <td mat-cell *matCellDef="let row">
                        <zac-informatie-object-indicaties [document]="row" [layout]="indicatiesLayout.WERKLIJST"></zac-informatie-object-indicaties>
                    </td>
                </ng-container>

                <ng-container matColumnDef="url" stickyEnd>
                    <th mat-header-cell *matHeaderCellDef>
                        <div class="flex-row items-center">
                            <button mat-icon-button
                                    id="downloadZip_button"
                                    (click)="downloadAlsZip()"
                                    [disabled]="downloadAlsZipSelection.isEmpty()"
                                    title="{{ 'actie.downloaden.zip' | translate}}">
                                <mat-icon>folder_zip</mat-icon>
                            </button>
                            {{downloadAlsZipSelection.selected.length}}
                        </div>
                    </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="flex-row">
                            <a *ngIf="row.rechten.lezen" mat-icon-button
                               [routerLink]="['/informatie-objecten', row.uuid, this.getZaakUuidVanInformatieObject(row)]"
                               title="{{ 'actie.document.bekijken' | translate}}">
                                <mat-icon>visibility</mat-icon>
                            </a>
                            <button mat-icon-button *ngIf="isBewerkenToegestaan(row)"
                                    (click)="bewerken(row)"
                                    title="{{ 'actie.document.bewerken' | translate}}">
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                                <mat-icon>more_vert</mat-icon>
                            </button>
                            <mat-menu #menu="matMenu">
                                <button mat-menu-item *ngIf="!taakModus && row.rechten.wijzigen && !row.isBesluitDocument && !row.relatieType"
                                        [disabled]="isOntkoppelenDisabled(row)"
                                        (click)="documentOntkoppelen(row)">
                                    <mat-icon>link_off</mat-icon>
                                    <span>{{ 'actie.document.ontkoppelen' | translate}}</span>
                                </button>
                                <button mat-menu-item *ngIf="!taakModus && row.rechten.wijzigen && !row.isBesluitDocument && !row.relatieType"
                                        [disabled]="isDocumentVerplaatsenDisabled(row)"
                                        (click)="documentVerplaatsen(row)">
                                    <mat-icon>content_cut</mat-icon>
                                    <span>{{ 'actie.document.verplaatsen' | translate}}</span>
                                </button>
                                <a mat-menu-item
                                   [href]="getDownloadURL(row)">
                                    <mat-icon>download</mat-icon>
                                    <span>{{ 'actie.document.downloaden' | translate}}</span>
                                </a>
                            </mat-menu>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let row" colspan="8">
                        <div [@detailExpand]="row == documentPreviewRow ? 'expanded' : 'collapsed'">
                            <zac-document-viewer [document]="row" *ngIf="row == documentPreviewRow"></zac-document-viewer>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="documentColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: documentColumns;" [class.expanded-row]="documentPreviewRow === row"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="collapsed-row document-preview"></tr>

                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="10">
                        <ng-container *ngIf="loading$|async; else noResults">
                            <zac-skeleton-loader [loading$]="informatieObjecten$" [options]="{layout:skeletonLayout.TABLE}"></zac-skeleton-loader>
                        </ng-container>
                        <ng-template #noResults>
                            <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
                        </ng-template>
                    </td>
                </tr>

            </table>
        </div>
    </mat-card-content>
</mat-card>
