<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div fxLayout>
    <mat-card fxFlex="calc(100%-20px)">
        <mat-card-header>
            <mat-card-title>{{'enkelvoudigInformatieObjecten'| translate}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="table-wrapper">
                <table mat-table [dataSource]="enkelvoudigInformatieObjecten" matSort #documentenTable matSortDisableClear="true"
                       matSortActive="registratiedatumTijd" matSortDirection="asc" multiTemplateDataRows>
                    <ng-container matColumnDef="titel">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef> {{'titel' | translate}} </th>
                        <td mat-cell *matCellDef="let row" (click)="documentPreviewRow = documentPreviewRow === row ? null : row"
                            [ngClass]="{'pointer': isPreviewBeschikbaar(row.formaat)}">
                            {{row.titel | empty}}
                            <mat-icon *ngIf="isPreviewBeschikbaar(row.formaat)" class="material-icons-outlined">plagiarism</mat-icon>
                            <mat-icon *ngIf="row.startformulier" title="{{'startformulier' | translate}}" class="gold-star">star</mat-icon>
                        </td>
                    </ng-container>

                    <ng-container [matColumnDef]="column"
                                  *ngFor="let column of [ 'informatieobjectTypeOmschrijving', 'status', 'vertrouwelijkheidaanduiding', 'creatiedatum', 'registratiedatumTijd', 'auteur']">
                        <th mat-sort-header mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
                        <td mat-cell *matCellDef="let row">
                            <ng-container *ngIf="column == 'informatieobjectTypeOmschrijving'">{{row[column]|translate | empty}}</ng-container>
                            <ng-container *ngIf="column == 'status'">{{(row[column] ? 'informatieobject.status.' + row[column] : '')|translate | empty}}</ng-container>
                            <ng-container
                                    *ngIf="column == 'vertrouwelijkheidaanduiding'">{{'vertrouwelijkheidaanduiding.' + row[column]|translate | empty}}</ng-container>
                            <ng-container *ngIf="column == 'creatiedatum'">{{row[column] | datum | empty}}</ng-container>
                            <ng-container *ngIf="column == 'registratiedatumTijd'">{{row[column] | datum:'short' | empty}}</ng-container>
                            <ng-container *ngIf="column == 'auteur'">{{row[column]| empty}}</ng-container>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="url" stickyEnd>
                        <th mat-header-cell *matHeaderCellDef></th>
                        <td mat-cell *matCellDef="let row">
                            <button mat-flat-button [routerLink]="['/informatie-objecten', row.uuid]"
                                    title="{{ 'actie.document.bekijken' | translate}}">
                                <mat-icon>visibility</mat-icon>
                            </button>
                            <button *ngIf="!taakModus" mat-flat-button [disabled]="isOntkoppelenDisabled(row)" (click)="documentOntkoppelen(row)"
                                    title="{{ 'actie.document.ontkoppelen' | translate}}">
                                <mat-icon>link_off</mat-icon>
                            </button>
                            <button *ngIf="!taakModus" mat-flat-button [disabled]="isDocumentVerplaatsenDisabled(row)" (click)="documentVerplaatsen(row)"
                                    title="{{ 'actie.document.verplaatsen' | translate}}">
                                <mat-icon>content_cut</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="expandedDetail">
                        <td mat-cell *matCellDef="let row" colspan="8">
                            <div [@detailExpand]="row == documentPreviewRow ? 'expanded' : 'collapsed'">
                                <zac-document-viewer [document]="row" *ngIf="row == documentPreviewRow"></zac-document-viewer>
                            </div>
                        </td>
                    </ng-container>
                    <tr mat-header-row
                        *matHeaderRowDef="['titel','informatieobjectTypeOmschrijving','status','vertrouwelijkheidaanduiding','creatiedatum', 'registratiedatumTijd', 'auteur', 'url']"></tr>
                    <tr mat-row
                        *matRowDef="let row; columns: ['titel','informatieobjectTypeOmschrijving','status','vertrouwelijkheidaanduiding','creatiedatum', 'registratiedatumTijd', 'auteur', 'url'];"
                        [class.expanded-row]="documentPreviewRow === row"></tr>
                    <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="collapsed-row document-preview"></tr>

                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="8">
                            <zac-skeleton-loader [loading$]="informatieObjecten$" [options]="{layout:'table'}">
                                <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
                            </zac-skeleton-loader>
                        </td>
                    </tr>

                </table>
            </div>
        </mat-card-content>
    </mat-card>
</div>
