<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="table-wrapper">
    <table mat-table [dataSource]="dataSource" matSort>
        <ng-container matColumnDef="identificatie">
            <th mat-header-cell *matHeaderCellDef
                mat-sort-header="identificatie"> {{'zaak.identificatie' | translate}} </th>
            <td mat-cell *matCellDef="let zaak"> {{zaak.identificatie | empty}} </td>
        </ng-container>
        <ng-container matColumnDef="startdatum">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="startdatum"> {{'startdatum' | translate}} </th>
            <td mat-cell *matCellDef="let zaak"> {{zaak.startdatum | datum | empty}} </td>
        </ng-container>
        <ng-container matColumnDef="zaaktype">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="zaaktype"> {{'zaaktype' | translate}} </th>
            <td mat-cell *matCellDef="let zaak"> {{zaak.zaaktype}} </td>
        </ng-container>
        <ng-container matColumnDef="omschrijving">
            <th mat-header-cell *matHeaderCellDef mat-sort-header="omschrijving"> {{'omschrijving' | translate}} </th>
            <td mat-cell *matCellDef="let zaak"> {{zaak.omschrijving | empty}} </td>
        </ng-container>

        <ng-container matColumnDef="url" stickyEnd id="zaakButtons">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let zaak">
                <a *ngIf="zaak.rechten.lezen" mat-flat-button [routerLink]="['/zaken', zaak.identificatie]"
                        [id]="'zaakBekijken_' + zaak.uuid +'_button'"
                        title="{{ 'actie.zaak.bekijken' | translate }}">
                    <mat-icon>visibility</mat-icon>
                </a>
            </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columns"></tr>
        <tr mat-row *matRowDef="let row; columns: columns;"></tr>
        <tr class="mat-row" *matNoDataRow>
            <td class="mat-cell" colspan="4"><p>{{'msg.geen.gegevens.gevonden' | translate}}</p></td>
        </tr>
    </table>

    <mat-paginator [pageSize]="5" [hidePageSize]="true"></mat-paginator>
</div>
