<!--
  ~ SPDX-FileCopyrightText: 2022 - 2023 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<div (click)="edit()" *ngIf="!editing" class="view">
    <div class="static-text groep" [class.readonly]="readonly">
        <label class="static-text-label">
            {{'groep' | translate}}
            <mat-icon *ngIf="!readonly">edit</mat-icon>
        </label>
        <div *ngIf="!editing" class="static-text-content">
            {{ getFormControl('groep').defaultValue | empty:'naam' }}
            <div *ngIf="!readonly" class="edit-icon">
                <mat-icon>edit</mat-icon>
            </div>
        </div>
    </div>

    <div class="static-text behandelaar" [class.readonly]="readonly">
        <label class="static-text-label">
            {{'behandelaar' | translate}}
            <mat-icon *ngIf="!readonly">edit</mat-icon>
        </label>
        <div *ngIf="!editing" class="static-text-content">
            {{  getFormControl('medewerker').defaultValue | empty:'naam' }}
            <div *ngIf="!readonly" class="edit-icon">
                <mat-icon>edit</mat-icon>
            </div>
        </div>
    </div>
</div>

<div *ngIf="editing" (zacOutsideClick)="onOutsideClick()">
    <div class="static-text">
        <label class="static-text-label">
            {{'groep.behandelaar' | translate}}
            <mat-icon>edit</mat-icon>
        </label>
    </div>
    <mfb-form-field [field]="formField"
                    (click)="$event.stopPropagation()"></mfb-form-field>
    <mfb-form-field *ngIf="reasonField" [field]="reasonField" (click)="$event.stopPropagation()"></mfb-form-field>

    <div class="form-buttons">
        <div>
            <button (click)="assignToMe()" [hidden]="!showAssignToMe" color="accent" id="behandelaarKenAanMijToe_button"
                    mat-mini-fab
                    title="{{'actie.mij.toekennen' | translate}}">
                <mat-icon outlined>person_add</mat-icon>
            </button>

            <button (click)="release()" [hidden]="!showRelease" color="accent" id="behandelaarVrijgeven_button"
                    mat-mini-fab
                    title="{{'actie.vrijgeven' | translate}}">
                <mat-icon outlined>person_remove</mat-icon>
            </button>
        </div>
        <div>
            <button (click)="save()" [disabled]="formFields.invalid" color="primary" id="behandelaarOpslaan_button"
                    mat-mini-fab
                    title="{{'actie.opslaan' | translate}}">
                <mat-icon>check</mat-icon>
            </button>
            <button (click)="cancel()" color="warn" id="behandelaarAnnuleren_button" mat-mini-fab
                    title="{{'actie.annuleren' | translate}}">
                <mat-icon>close</mat-icon>
            </button>
        </div>
    </div>
</div>
