<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="static-text">
    <label class="static-text-label">{{label}}</label>
    <div class="static-text-content">{{value | datum | empty}}
        <mat-icon class="verlopen-label-icon"
                  [ngClass]="fatal ? 'verlopen-error' : 'verlopen-warning'"
                  *ngIf="isOverschreden(value,ended)"
                  [id]="fatal ? 'verlopen-error_icon' : 'verlopen-warning_icon'"
                  title="{{ 'msg.datum.overschreden' | translate}}">report_problem
        </mat-icon>
    </div>
</div>
