/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */
@import "src/variables";

.mat-mdc-card {
  background-color: @body-background-color;
  margin: 10px;

  .mat-mdc-card-title {
    font-size: 14px;
  }
}

.waarde {
  color: @box-shadow-color;
}

.on {
  color: #7fc87f;
}

.off {
  color: #fdb5b5;
}
