<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card>
    <mat-card-title>{{'zoeken.filter.zaak_betrokkene' | translate}}</mat-card-title>
    <mat-card-content class="zaak-betrokkene-filter">
        <mat-form-field appearance="standard">
            <mat-select id="betrokkeneRoltype_filter"
                        [formControl]="betrokkeneSelectControl"
                        (selectionChange)="roltypeChanged()">
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENEN">{{'betrokkeneRoltype.-alle-' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_INITIATOR">{{'betrokkeneRoltype.INITIATOR' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_MEDE_INITIATOR">{{'betrokkeneRoltype.MEDE_INITIATOR' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_BELANGHEBBENDE">{{'betrokkeneRoltype.BELANGHEBBENDE' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_BESLISSER">{{'betrokkeneRoltype.BESLISSER' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_ADVISEUR">{{'betrokkeneRoltype.ADVISEUR' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_KLANTCONTACTER">{{'betrokkeneRoltype.KLANTCONTACTER' | translate}}</mat-option>
                <mat-option [value]="ZoekVeld.ZAAK_BETROKKENE_ZAAKCOORDINATOR">{{'betrokkeneRoltype.ZAAKCOORDINATOR' | translate}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field appearance="standard">
            <input matInput placeholder="{{'bsn.vestigingsnummer.rsin' | translate}}" (blur)="idChanged()" (keyup.enter)="idChanged()"
                   [formControl]="klantIdControl">
            <mat-icon [ngClass]="{'active': dialogOpen}" matSuffix (click)="openDialog()">person</mat-icon>
        </mat-form-field>
    </mat-card-content>
</mat-card>
