/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-slide-toggle {
  right: 30px;
  position: absolute;
}

.mat-chip-list {
  right: 30px;
  position: absolute;
}

.mat-chip {
  font-size: 9pt;

  &:hover::after {
    opacity: 0;
  }

  .mat-icon {
    font-size: 145%;
    height: auto;
    width: auto;
    margin-left: 4px;
    margin-right: -4px;
  }
}

.historie-table {
  height: 400px;
  overflow: auto;
}
