<!--
  ~ SPDX-FileCopyrightText: 2021 - 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-drawer-container class="inner-sidenav-container" #sideNavContainer [class]="sideNaveMode">
    <mat-drawer #menuSidenav [mode]="sideNaveMode" position="start" opened="true" disableClose="true">
        <zac-side-nav (mode)="menuModeChanged($event)" [menu]="menu"></zac-side-nav>
    </mat-drawer>
    <mat-drawer #actionsSidenav mode="over" position="end" [ngSwitch]="action">
        <zac-klant-zoek *ngSwitchCase="'ZOEK_INITIATOR'"
                        (klantGegevens)="initiatorGeselecteerd($event.klant)"
                        [acties]="zaak.acties"
                        [initiator]="true"></zac-klant-zoek>
        <zac-klant-zoek *ngSwitchCase="'ZOEK_BETROKKENE'"
                        (klantGegevens)="betrokkeneGeselecteerd($event)"
                        [acties]="zaak.acties"
                        [zaaktypeUUID]="zaak.zaaktype.uuid"></zac-klant-zoek>
        <zac-bag-adres-zoek *ngSwitchCase="'ZOEK_BAG_ADRES'"
                            (bagObject)="adresGeselecteerd($event)"></zac-bag-adres-zoek>
        <zac-locatie-zoek *ngSwitchCase="'ZOEK_LOCATIE'"
                          [huidigeLocatie]="zaakLocatie"
                          (locatie)="locatieGeselecteerd($event)"></zac-locatie-zoek>
        <zac-informatie-object-add *ngSwitchCase="'DOCUMENT_TOEVOEGEN'"
                                   [sideNav]="actionsSidenav"
                                   [zaak]="zaak"
                                   (document)="documentToegevoegd($event)"></zac-informatie-object-add>
        <zac-informatie-object-create *ngSwitchCase="'DOCUMENT_MAKEN'"
                                      [sideNav]="actionsSidenav"
                                      [zaakUUID]="zaak.uuid"
                                      (redirectUrl)="documentAanmakenStarten($event)"
                                      (melding)="documentAanmakenNietMogelijk($event)"></zac-informatie-object-create>
        <zac-human-task-do *ngSwitchCase="'TAAK_STARTEN'"
                           (done)="taakGestart()"
                           [planItem]="actiefPlanItem"></zac-human-task-do>
        <zac-mail-create *ngSwitchCase="'MAIL_VERSTUREN'"
                         (mailVerstuurd)="mailVerstuurd()"
                         [zaak]="zaak"></zac-mail-create>
        <zac-ontvangstbevestiging *ngSwitchCase="'ONTVANGSTBEVESTIGING'"
                                  (ontvangstBevestigd)="ontvangstBevestigd()"
                                  [zaak]="zaak"></zac-ontvangstbevestiging>
        <zac-besluit-create *ngSwitchCase="'BESLUIT_VASTLEGGEN'"
                            (besluitVastgelegd)="besluitVastgelegd($event)"
                            [zaak]="zaak"></zac-besluit-create>

    </mat-drawer>
    <mat-drawer-content fxLayout="column" fxLayoutGap="20px">
        <zac-persoongegevens *ngIf="zaak.initiatorIdentificatieType==='BSN'" [bsn]="zaak.initiatorIdentificatie"
                             [isVerwijderbaar]="zaak.acties.verwijderenInitiator" (delete)="deleteInitiator()"></zac-persoongegevens>
        <zac-bedrijfsgegevens *ngIf="zaak.initiatorIdentificatieType==='VN'" [vestigingsnummer]="zaak.initiatorIdentificatie"
                              [isVerwijderbaar]="zaak.acties.verwijderenInitiator" (delete)="deleteInitiator()"></zac-bedrijfsgegevens>
        <zac-bedrijfsgegevens *ngIf="zaak.initiatorIdentificatieType==='RSIN'" [rsin]="zaak.initiatorIdentificatie"
                              [isVerwijderbaar]="zaak.acties.verwijderenInitiator" (delete)="deleteInitiator()"></zac-bedrijfsgegevens>
        <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutGap="20px">
            <mat-card fxFlex="calc(50%-20px)" fxFlex.lt-lg="100">
                <mat-card-header fxLayout="row">
                    <mat-card-title fxLayout="row">
                        {{'zaak' | translate}}
                    </mat-card-title>
                    <zac-zaak-indicaties [zaak]="zaak"></zac-zaak-indicaties>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="{{'gegevens.algemeen' | translate}}">
                            <div id="algemeneGegevens_tab" class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <zac-static-text [label]="'zaak.identificatie' | translate"
                                                     [value]="zaak.identificatie"></zac-static-text>
                                    <zac-static-text [label]="'zaaktype' | translate"
                                                     [value]="zaak.zaaktype.omschrijving"></zac-static-text>
                                    <zac-edit-select [formField]="editFormFields.get('communicatiekanaal')"
                                                     [reasonField]="editFormFields.get('reden')"
                                                     [readonly]="!zaak.acties.wijzigenOverig"
                                                     (onSave)="editZaakMetReden($event, 'communicatiekanaal')">
                                    </zac-edit-select>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-edit-select [formField]="editFormFields.get('vertrouwelijkheidaanduiding')"
                                                     [reasonField]="editFormFields.get('reden')"
                                                     [readonly]="!zaak.acties.wijzigenOverig"
                                                     (onSave)="editZaakMetReden($event, 'vertrouwelijkheidaanduiding')">
                                    </zac-edit-select>
                                    <zac-edit-groep [formField]="editFormFields.get('groep')"
                                                    [reasonField]="editFormFields.get('reden')"
                                                    [readonly]="!zaak.acties.wijzigenToekenning"
                                                    (onSave)="editGroep($event)"></zac-edit-groep>
                                    <zac-edit-behandelaar [formField]="editFormFields.get('behandelaar')"
                                                          [reasonField]="editFormFields.get('reden')"
                                                          [readonly]="!zaak.acties.wijzigenToekenning"
                                                          (onSave)="editBehandelaar($event)"
                                                          [showAssignToMe]="showAssignZaakToMe(zaak)"
                                                          (onAssignToMe)="assignZaakToMe($event)"></zac-edit-behandelaar>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="100" fxLayout.sm="row">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text fxFlex.sm="25" [label]="'registratiedatum' | translate"
                                                     [value]="zaak.registratiedatum | datum"></zac-static-text>
                                    <zac-static-text *ngIf="zaak.einddatum" fxFlex.sm="25" [label]="'einddatum' | translate"
                                                     [value]="zaak.einddatum | datum"></zac-static-text>
                                    <zac-static-text [label]="'status' | translate"
                                                     [value]="zaak.status | empty:'naam'"
                                                     [icon]="zaak.status?.toelichting ? toolTipIcon : null"
                                                     [matTooltip]="zaak.status?.toelichting"
                                                     [attr.role]="zaak.status?.toelichting ? 'tooltip' : null"
                                                     [attr.aria-label]="zaak.status?.toelichting"></zac-static-text>
                                    <zac-static-text [label]="'resultaat' | translate"
                                                     [value]="zaak.resultaat?.resultaattype | empty:'naam'"
                                                     [icon]="zaak.resultaat?.toelichting ? toolTipIcon : null"
                                                     [matTooltip]="zaak.resultaat?.toelichting"
                                                     [attr.role]="zaak.resultaat?.toelichting ? 'tooltip' : null"
                                                     [attr.aria-label]="zaak.resultaat?.toelichting"></zac-static-text>
                                    <zac-static-text *ngIf="zaak.archiefNominatie" fxFlex.sm="25"
                                                     [label]="'archiefNominatie.datum.'+zaak.archiefNominatie | translate"
                                                     [value]="zaak.archiefActiedatum | datum | empty"></zac-static-text>
                                </div>
                                <div fxFlex="100" fxLayout.sm="row">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text [label]="'locatie' | translate"
                                                     [value]="zaakLocatie?.weergavenaam" [icon]="!zaak.acties.wijzigenOverig ? null : locatieIcon"
                                                     (iconClicked)="!zaak.acties.wijzigenOverig ? null : editZaakLocatie()"></zac-static-text>
                                </div>

                                <div fxFlex="100" class="mat-divider-wrapper">
                                    <mat-divider></mat-divider>
                                </div>
                                <div fxFlex="100" fxLayout.sm="row">
                                    <zac-edit-datum-groep [startDatumField]="editFormFields.get('startdatum')"
                                                          [einddatumGeplandField]="editFormFields.get('einddatumGepland')"
                                                          [uiterlijkeEinddatumAfdoeningField]="editFormFields.get('uiterlijkeEinddatumAfdoening')"
                                                          [einddatumGeplandIcon]="editFormFieldIcons.get('einddatumGepland')"
                                                          [uiterlijkeEinddatumAfdoeningIcon]="editFormFieldIcons.get('uiterlijkeEinddatumAfdoening')"
                                                          [reasonField]="editFormFields.get('reden')"
                                                          (onSave)="editDatumGroep($event)"
                                                          [opgeschort]="zaak.isOpgeschort"
                                                          [opschortReden]="zaak.redenOpschorting"
                                                          [opschortDuur]="zaakOpschorting?.duurDagen"
                                                          [opschortDatumTijd]="zaakOpschorting?.vanafDatumTijd"
                                                          [verlengReden]="zaak.redenVerlenging"
                                                          [verlengDuur]="zaak.duurVerlenging"
                                                          [readonly]="!zaak.acties.wijzigenOverig"
                                                          [actieOpschorten]="zaak.acties.opschorten"
                                                          [actieHervatten]="zaak.acties.hervatten"
                                                          [actieVerlengen]="zaak.acties.verlengen"
                                                          (doOpschorting)="editOpschorting($event)"
                                                          (doVerlenging)="editVerlenging($event)"></zac-edit-datum-groep>
                                </div>
                                <div fxFlex="100" class="mat-divider-wrapper">
                                    <mat-divider></mat-divider>
                                </div>

                                <div fxFlex="100">
                                    <zac-edit-tekst [formField]="editFormFields.get('omschrijving')"
                                                    [reasonField]="editFormFields.get('reden')"
                                                    [readonly]="!zaak.acties.wijzigenOverig"
                                                    (onSave)="editZaakMetReden($event, 'omschrijving')"></zac-edit-tekst>
                                </div>
                                <div fxFlex="100">
                                    <zac-edit-tekst [formField]="editFormFields.get('toelichting')"
                                                    [reasonField]="editFormFields.get('reden')"
                                                    [readonly]="!zaak.acties.wijzigenOverig"
                                                    (onSave)="editZaakMetReden($event, 'toelichting')"></zac-edit-tekst>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="zaak.gerelateerdeZaken.length > 0" label="{{'gerelateerdeZaken' | translate}}">
                            <div id="gerelateerdeZaken_tab" class="table-wrapper">
                                <table mat-table [dataSource]="zaak.gerelateerdeZaken">
                                    <ng-container *ngFor="let column of gerelateerdeZaakColumns" [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef> {{'gerelateerde.zaak.' + column | translate}} </th>
                                        <td mat-cell *matCellDef="let row"> {{row[column] | empty}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="url" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let row">
                                            <button *ngIf="row.acties.lezen" mat-flat-button [routerLink]="['/zaken', row.identificatie]"
                                                    (click)="$event.stopPropagation()"
                                                    [id]="'zaakBekijken_' + row.identificatie +'_button'" title="{{ 'actie.zaak.bekijken' | translate }}">
                                                <mat-icon>visibility</mat-icon>
                                            </button>
                                            <button *ngIf="row.acties.koppelen" mat-flat-button (click)="startZaakOntkoppelenDialog(row)"
                                                    [id]="'zaakOntkoppelen_' + row.identificatie +'_button'" title="{{ 'actie.zaak.ontkoppelen' | translate }}">
                                                <mat-icon>link_off</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="gerelateerdeZaakColumns.concat(['url'])"></tr>
                                    <tr mat-row *matRowDef="let row; columns: gerelateerdeZaakColumns.concat(['url']);"></tr>
                                </table>
                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="historie.data.length > 0" label="{{'historie' | translate}}">
                            <div id="historie_tab" class="table-wrapper historie-table">
                                <table mat-table [dataSource]="historie" matSort #historieSort="matSort">
                                    <ng-container matColumnDef="datum">
                                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'datum' | translate}} </th>
                                        <td *matCellDef="let regel" mat-cell>
                                            <div matTooltip="{{regel.datumTijd | datum:'short'}}">{{regel.datumTijd | datum | empty}}</div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="gebruiker">
                                        <th *matHeaderCellDef mat-header-cell mat-sort-header> {{'door' | translate}} </th>
                                        <td *matCellDef="let regel" mat-cell>
                                            <div matTooltip="{{regel.applicatie}}">{{regel.door | empty}}</div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="wijziging">
                                        <th mat-header-cell *matHeaderCellDef> {{'wijziging' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.attribuutLabel | translate" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="oudeWaarde">
                                        <th mat-header-cell *matHeaderCellDef> {{'waarde.oud' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more *ngIf="regel.attribuutLabel !== 'zaakgeometrie'"
                                                       [text]="regel.oudeWaarde | empty"
                                                       [maxLength]="20"></read-more>
                                            <read-more *ngIf="regel.attribuutLabel === 'zaakgeometrie'"
                                                       [text]="regel.oudeWaarde | location | async | empty"
                                                       [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nieuweWaarde">
                                        <th mat-header-cell *matHeaderCellDef> {{'waarde.nieuw' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more *ngIf="regel.attribuutLabel !== 'zaakgeometrie'"
                                                       [text]="regel.nieuweWaarde | empty"
                                                       [maxLength]="20"></read-more>
                                            <read-more *ngIf="regel.attribuutLabel === 'zaakgeometrie'"
                                                       [text]="regel.nieuweWaarde | location | async | empty"
                                                       [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="toelichting">
                                        <th mat-header-cell *matHeaderCellDef> {{'toelichting' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.toelichting" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="historieColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: historieColumns;"></tr>
                                </table>
                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="betrokkenen.data.length > 0" label="{{'betrokkenen' | translate}}">
                            <div id="betrokkenen_tab" class="table-wrapper betrokkenen-table">
                                <table mat-table [dataSource]="betrokkenen" matSort>
                                    <ng-container matColumnDef="roltype">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'roltype' | translate }} </th>
                                        <td mat-cell *matCellDef="let betrokkene">
                                            <read-more [text]="betrokkene.roltype" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="betrokkenetype">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'betrokkenetype' | translate }} </th>
                                        <td mat-cell *matCellDef="let betrokkene">
                                            {{ 'betrokkenetype.' + betrokkene.type | translate }}
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="betrokkeneidentificatie">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'identificatie' | translate }} </th>
                                        <td mat-cell *matCellDef="let betrokkene">
                                            <read-more [text]="betrokkene.identificatie" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="roltoelichting">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'toelichting' | translate }} </th>
                                        <td mat-cell *matCellDef="let betrokkene">
                                            <read-more [text]="betrokkene.roltoelichting" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="rolid" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef></th>
                                        <td mat-cell *matCellDef="let row">
                                            <button *ngIf="zaak.acties.verwijderenBetrokkene"
                                                    mat-flat-button
                                                    (click)="deleteBetrokkene(row)"
                                                    title="{{ 'actie.betrokkene.verwijderen' | translate}}">
                                                <mat-icon>delete</mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="betrokkenenColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: betrokkenenColumns;"></tr>
                                </table>
                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="adressen.data.length > 0" label="{{'bagobjecten' | translate}}">
                            <div id="bagobjecten_tab" class="table-wrapper bagobjecten-table">
                                <table mat-table [dataSource]="adressen" matSort>
                                    <ng-container matColumnDef="straat">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'straat' | translate }} </th>
                                        <td mat-cell *matCellDef="let adres">
                                            <read-more [text]="adres.straat" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="huisnummer">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'huisnummer' | translate }} </th>
                                        <td mat-cell *matCellDef="let adres">{{ adres.huisnummer }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="postcode">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'postcode' | translate }} </th>
                                        <td mat-cell *matCellDef="let adres">{{ adres.postcode }}</td>
                                    </ng-container>
                                    <ng-container matColumnDef="woonplaats">
                                        <th mat-header-cell *matHeaderCellDef> {{ 'woonplaats' | translate }} </th>
                                        <td mat-cell *matCellDef="let adres">
                                            <read-more [text]="adres.woonplaats" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="adressenColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: adressenColumns;"></tr>
                                </table>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>
            <div fxFlex="calc(50%-20px)" fxFlex.lt-lg="100" fxLayout="column" fxLayoutGap="20px">
                <zac-besluit-view *ngIf="zaak.besluit" [besluit]="zaak.besluit"></zac-besluit-view>
                <mat-card class="taken-card">
                    <mat-card-header fxLayout="row">
                        <mat-card-title fxLayout="row">{{'taken'| translate}}</mat-card-title>
                        <mat-slide-toggle [(ngModel)]="toonAfgerondeTaken" color="primary" fxLayout="row"
                                          id="takenAfgerondeToon_toggle"
                                          (change)="filterTakenOpStatus()">{{ 'toonAfgerondeTaken' | translate }}</mat-slide-toggle>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="table-wrapper">
                            <table mat-table [dataSource]="takenDataSource" matSort multiTemplateDataRows #takenSort="matSort">
                                <ng-container matColumnDef="collapse">
                                <th mat-header-cell *matHeaderCellDef>
                                    <mat-icon *ngIf="!allTakenExpanded" (click)="expandTaken(true)">expand_more</mat-icon>
                                    <mat-icon *ngIf="allTakenExpanded" (click)="expandTaken(false)">expand_less</mat-icon>
                                </th>
                            </ng-container>
                            <ng-container matColumnDef="naam">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'naam' | translate}} </th>
                                <td mat-cell *matCellDef="let taak" colspan="2"> {{taak.data.naam | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'status' | translate}} </th>
                                <td mat-cell *matCellDef="let taak">
                                    <zac-status-label [taakStatus]="taak.data.status"></zac-status-label>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="creatiedatumTijd">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'creatiedatum' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.data.creatiedatumTijd | datum | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="toekenningsdatumTijd">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'toekenningsdatum' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.data.toekenningsdatumTijd | datum | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="streefdatum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'streefdatum' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.data.streefdatum | datum | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="groep">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'groep' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.data.groep |empty:'naam'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="behandelaar">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'behandelaar' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.data.behandelaar | empty:'naam'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="id" stickyEnd id="taakButtons">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <button *ngIf="row.data.acties.lezen" mat-flat-button [routerLink]="['/taken', row.data.id]"
                                            (click)="$event.stopPropagation()"
                                            [id]="'taakBekijken_' + row.data.id +'_button'"
                                            title="{{ 'actie.taak.bekijken' | translate }}">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                    <button mat-flat-button title="{{ 'actie.mij.toekennen' | translate }}"
                                            [id]="'kenTaakAanMijToe_' + row.data.id +'_button'"
                                            (click)="assignTaakToMe(row.data, $event)" *ngIf="showAssignTaakToMe(row.data)">
                                        <mat-icon>person_add_alt_1</mat-icon>
                                    </button>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="expandedTaakDetail">
                                <td mat-cell *matCellDef="let row" colspan="9">
                                    <div class="row-detail" [@detailExpand]="row.expanded ? 'expanded' : 'collapsed'">
                                        <div fxLayout="row wrap" fxLayoutGap="10px grid" fxFlexFill>
                                            <zac-static-text fxFlex="50" [label]="'uitkomst' | translate"
                                                             [value]="row.data.taakinformatie?.uitkomst | translate"></zac-static-text>
                                            <zac-static-text fxFlex="50" [label]="'bijlage' | translate" *ngIf="row.data.taakinformatie?.bijlagen"
                                                             [value]="row.data.taakinformatie?.bijlagen"></zac-static-text>
                                            <zac-static-text [label]="'opmerking' | translate" *ngIf="row.data.taakinformatie?.opmerking"
                                                             [value]="row.data.taakinformatie?.opmerking"></zac-static-text>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="['collapse'].concat(takenColumnsToDisplay)"></tr>
                            <tr mat-row *matRowDef="let row; columns: takenColumnsToDisplay;"
                                class="row"
                                [class.expanded-row]="row.expanded"
                                (click)="expandTaak(row)"></tr>
                            <tr mat-row *matRowDef="let row; columns: ['expandedTaakDetail']"
                                class="collapsed-row"></tr>
                            <tr class="mat-row" *matNoDataRow>
                                <td class="mat-cell" colspan="9">
                                    <zac-skeleton-loader [loading$]="taken$" [options]="{layout:'table'}">
                                        <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
                                    </zac-skeleton-loader>
                                </td>
                            </tr>
                            </table>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
        <zac-zaak-documenten [zaak]="zaak" [documentToegevoegd]="toegevoegdDocument"></zac-zaak-documenten>
        <zac-notities [uuid]="zaak.uuid" [type]="notitieType"></zac-notities>
    </mat-drawer-content>
</mat-drawer-container>
