/*
 * SPDX-FileCopyrightText: 2021 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.mat-slide-toggle {
  right: 30px;
  position: absolute;
}

.historie-table {
  height: 400px;
  overflow: auto;
}

.betrokkenen-table {
  height: 400px;
  overflow: auto;
}

.bagobjecten-table {
  height: 400px;
  overflow: auto;
}
