<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-sidenav-container class="inner-sidenav-container tablet-bottom-toolbar">
    <mat-sidenav #zaakMenuSideNav [mode]="(utilService.isTablet$|async) ?'over':'side'" [opened]="!(utilService.isTablet$|async)"
                 (mouseenter)="collapseSideNav(false)" (mouseleave)="collapseSideNav(true)">
        <zac-side-nav [menu]="menu" [collapsed]="collapsed"></zac-side-nav>
    </mat-sidenav>
    <mat-sidenav-content fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row wrap" fxLayout.lt-lg="column" fxLayoutGap="20px">
            <mat-card fxFlex="calc(50%-20px)" fxFlex.lt-lg="100">
                <mat-card-header>
                    <mat-card-title>
                        {{'zaak' | translate}}
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <mat-tab-group>
                        <mat-tab label="{{'gegevens.algemeen' | translate}}">
                            <div id="algemeneGegevens_tab" class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <zac-static-text [label]="'zaak.identificatie' | translate"
                                                     [value]="zaak.identificatie"></zac-static-text>
                                    <zac-static-text [label]="'zaaktype' | translate"
                                                     [value]="zaak.zaaktype.omschrijving"></zac-static-text>
                                    <zac-static-text [label]="'kanaal' | translate"
                                                     [value]="'-'"></zac-static-text>
                                    <zac-static-text [label]="'status' | translate"
                                                     [value]="zaak.status | empty:'naam'"></zac-static-text>
                                    <zac-static-text [label]="'resultaat' | translate"
                                                     [value]="zaak.resultaat | empty:'naam'"></zac-static-text>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="50">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text [label]="'vertrouwelijkheidaanduiding' | translate"
                                                     [value]="'vertrouwelijkheidaanduiding.'+zaak.vertrouwelijkheidaanduiding | translate"></zac-static-text>
                                    <zac-static-text [label]="'aanvrager' | translate"
                                                     [value]="'-'"></zac-static-text>
                                    <zac-edit-autocomplete [formField]="editFormFields.get('groep')"
                                                           (onSave)="editGroep($event)"></zac-edit-autocomplete>
                                    <zac-edit-behandelaar [formField]="editFormFields.get('behandelaar')"
                                                          (onSave)="editBehandelaar($event)"
                                                          [showAssignToMe]="showAssignToMe(zaak)"
                                                          (onAssignToMe)="assignToMe()"></zac-edit-behandelaar>
                                </div>
                                <div [fxFlex]="100/3" fxFlex.lt-md="100" fxLayout.sm="row">
                                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                                        <mat-divider></mat-divider>
                                    </div>
                                    <zac-static-text fxFlex.sm="25" [label]="'registratiedatum' | translate"
                                                     [value]="zaak.registratiedatum"></zac-static-text>

                                    <zac-edit-datum fxFlex.sm="25" [formField]="editFormFields.get('startdatum')"
                                                    (onSave)="editZaak($event, 'startdatum')"></zac-edit-datum>

                                    <zac-edit-datum fxFlex.sm="25" [formField]="editFormFields.get('einddatumGepland')"
                                                    (onSave)="editZaak($event, 'einddatumGepland')"
                                                    [icon]="editFormFieldIcons.get('einddatumGepland')"></zac-edit-datum>
                                    <zac-static-text fxFlex.sm="25" [label]="'einddatum' | translate"
                                                     [value]="zaak.einddatum | datum | empty"></zac-static-text>
                                    <zac-edit-datum fxFlex.sm="25" [formField]="editFormFields.get('uiterlijkeEinddatumAfdoening')"
                                                    (onSave)="editZaak($event, 'uiterlijkeEinddatumAfdoening')"
                                                    [icon]="editFormFieldIcons.get('uiterlijkeEinddatumAfdoening')"></zac-edit-datum>
                                </div>

                                <div fxFlex="100" *ngIf="zaak.indicatieOpschorting || zaak.indicatieVerlenging" class="mat-divider-wrapper">
                                    <mat-divider></mat-divider>
                                </div>
                                <div fxFlex="100" *ngIf="zaak.indicatieOpschorting">
                                    <zac-static-text [fxFlex]="100/3" [label]="'indicatieOpschorting' | translate"
                                                     [value]="zaak.indicatieOpschorting ? 'Ja' : 'Nee'"></zac-static-text>
                                    <zac-static-text [fxFlex]="100/3*2" [label]="'redenOpschorting' | translate"
                                                     [value]="zaak.redenOpschorting"></zac-static-text>
                                </div>

                                <div fxFlex="100" *ngIf="zaak.indicatieVerlenging">
                                    <zac-static-text [fxFlex]="100/3" [label]="'duurVerlenging' | translate"
                                                     [value]="zaak.duurVerlenging ? 'Ja' : 'Nee'"></zac-static-text>
                                    <zac-static-text [fxFlex]="100/3*2" [label]="'redenVerlenging' | translate"
                                                     [value]="zaak.redenVerlenging"></zac-static-text>
                                </div>

                                <div fxFlex="100" class="mat-divider-wrapper">
                                    <mat-divider></mat-divider>
                                </div>
                                <div fxFlex="100">
                                    <zac-edit-tekst [formField]="editFormFields.get('omschrijving')"
                                                    (onSave)="editZaak($event, 'omschrijving')"></zac-edit-tekst>
                                </div>
                                <div fxFlex="100">
                                    <zac-edit-tekst [formField]="editFormFields.get('toelichting')"
                                                    (onSave)="editZaak($event, 'toelichting')"></zac-edit-tekst>
                                </div>
                            </div>
                        </mat-tab>

                        <mat-tab *ngIf="zaak.gerelateerdeZaken.length > 0"
                                 label="{{'gerelateerdeZaken' | translate}}">
                            <div id="gerelateerdeZaken_tab" class="table-wrapper">
                                <table mat-table [dataSource]="zaak.gerelateerdeZaken">
                                    <ng-container *ngFor="let column of gerelateerdeZaakColumns"
                                                  [matColumnDef]="column">
                                        <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
                                        <td mat-cell *matCellDef="let row"> {{row[column] | empty}} </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="gerelateerdeZaakColumns"></tr>
                                    <tr mat-row *matRowDef="let row; columns: gerelateerdeZaakColumns;"></tr>
                                </table>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{'audittrail' | translate}}">
                            <div id="historie_tab" class="table-wrapper audit-table">
                                <table mat-table [dataSource]="auditTrail" matSort>
                                    <ng-container matColumnDef="datum">
                                        <th *matHeaderCellDef mat-header-cell
                                            mat-sort-header> {{'datum' | translate}} </th>
                                        <td *matCellDef="let regel" mat-cell>
                                            <div matTooltip="{{regel.wijzigingsDatumTijd | datum:'short'}}">
                                                {{regel.wijzigingsDatumTijd | datum | empty}}
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="gebruiker">
                                        <th *matHeaderCellDef mat-header-cell
                                            mat-sort-header> {{'door' | translate}} </th>
                                        <td *matCellDef="let regel" mat-cell>
                                            <div matTooltip="{{regel.applicatieWeergave}}">
                                                {{regel.gebruikersWeergave |  empty}}
                                            </div>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="wijziging">
                                        <th mat-header-cell *matHeaderCellDef> {{'wijziging' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.wijziging.wijziging" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="oudeWaarde">
                                        <th mat-header-cell *matHeaderCellDef> {{'waarde.oud' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.wijziging.oudeWaarde" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="nieuweWaarde">
                                        <th mat-header-cell *matHeaderCellDef> {{'waarde.nieuw' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.wijziging.nieuweWaarde" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <ng-container matColumnDef="toelichting">
                                        <th mat-header-cell *matHeaderCellDef> {{'toelichting' | translate}} </th>
                                        <td mat-cell *matCellDef="let regel">
                                            <read-more [text]="regel.toelichting" [maxLength]="20"></read-more>
                                        </td>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="auditTrailColumns; sticky: true"></tr>
                                    <tr mat-row *matRowDef="let row; columns: auditTrailColumns;"></tr>
                                </table>
                                <p *ngIf="auditTrail.data.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{'betrokkenen' | translate}}">
                            <div id="betrokkenen_tab" class="table-wrapper">
                                <p>{{'msg.geen.gegevens.gevonden' | translate}}</p>
                            </div>
                        </mat-tab>

                        <mat-tab label="{{'gegevens.overig'|translate}}">
                            <div id="overigeGegevens_tab" class="table-wrapper">
                                <table mat-table [dataSource]="zaak.eigenschappen">
                                    <caption><h4>{{'eigenschappen' | translate}}</h4></caption>
                                    <ng-container [matColumnDef]="column" *ngFor="let column of ['naam', 'waarde']">
                                        <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
                                        <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="url" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef></th>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="['naam', 'waarde']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['naam', 'waarde'];"></tr>
                                </table>
                                <p *ngIf="zaak.eigenschappen.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                            </div>

                            <div class="table-wrapper">
                                <table mat-table [dataSource]="zaak.kenmerken">
                                    <caption><h4>Kenmerken</h4></caption>
                                    <ng-container [matColumnDef]="column" *ngFor="let column of ['naam', 'waarde']">
                                        <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
                                        <td mat-cell *matCellDef="let row"> {{row[column]}} </td>
                                    </ng-container>
                                    <ng-container matColumnDef="url" stickyEnd>
                                        <th mat-header-cell *matHeaderCellDef></th>
                                    </ng-container>
                                    <tr mat-header-row *matHeaderRowDef="['naam', 'waarde']"></tr>
                                    <tr mat-row *matRowDef="let row; columns: ['naam', 'waarde'];"></tr>
                                </table>
                                <p *ngIf="zaak.kenmerken.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                            </div>
                        </mat-tab>
                    </mat-tab-group>
                </mat-card-content>
            </mat-card>

            <mat-card fxFlex="calc(50%-20px)" fxFlex.lt-lg="100">
                <mat-card-header fxLayout="row">
                    <mat-card-title fxLayout="row">{{'taken'| translate}}</mat-card-title>
                    <mat-slide-toggle [(ngModel)]="toonAfgerondeTaken" color="primary" fxLayout="row"
                                      id="takenAfgerondeToon_toggle"
                                      (change)="filterTakenOpStatus()">{{ 'toonAfgerondeTaken' | translate }}</mat-slide-toggle>
                </mat-card-header>
                <mat-card-content>
                    <div class="table-wrapper">
                        <table mat-table [dataSource]="takenDataSource" matSort>
                            <ng-container matColumnDef="naam">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'naam' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.naam | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="status">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'status' | translate}} </th>
                                <td mat-cell *matCellDef="let taak">
                                    <zac-status-label [taakStatus]="taak.status"></zac-status-label>
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="creatiedatumTijd">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'creatiedatum' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.creatiedatumTijd | datum | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="toekenningsdatumTijd">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'toekenningsdatum' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.toekenningsdatumTijd | datum | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="streefdatum">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'streefdatum' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.streefdatum | datum | empty}} </td>
                            </ng-container>
                            <ng-container matColumnDef="groep">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'groep' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.groep |empty:'naam'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="behandelaar">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'behandelaar' | translate}} </th>
                                <td mat-cell *matCellDef="let taak"> {{taak.behandelaar | empty:'naam'}} </td>
                            </ng-container>
                            <ng-container matColumnDef="id" stickyEnd id="taakButtons">
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let taak">
                                    <button mat-flat-button [routerLink]="['/taken', taak.id]"
                                            [id]="'taakBekijken_' + taak.id +'_button'"
                                            title="{{ 'actie.taak.bekijken' | translate }}">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                    <button mat-flat-button title="{{ 'actie.mij.toekennen' | translate }}"
                                            [id]="'kenTaakAanMijToe_' + taak.id +'_button'"
                                            (click)="assignTaskToMe(taak)" *ngIf="showAssignToMe(taak)">
                                        <mat-icon>person_add_alt_1</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="takenColumnsToDisplay"></tr>
                            <tr mat-row *matRowDef="let row; columns: takenColumnsToDisplay;"></tr>
                        </table>
                        <p *ngIf="takenDataSource.data.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>

        <div fxLayout>
            <mat-card fxFlex="calc(100%-20px)">
                <mat-card-header>
                    <mat-card-title>{{'enkelvoudigInformatieObjecten'| translate}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div class="table-wrapper">
                        <table mat-table [dataSource]="enkelvoudigInformatieObjecten">
                            <ng-container [matColumnDef]="column"
                                          *ngFor="let column of ['titel', 'status', 'vertrouwelijkheidaanduiding', 'creatiedatum', 'auteur']">
                                <th mat-header-cell *matHeaderCellDef> {{column | translate}} </th>
                                <td mat-cell *matCellDef="let row">
                                    <ng-container *ngIf="column == 'titel'">{{row[column] | empty}}</ng-container>
                                    <ng-container *ngIf="column == 'status'">{{'informatieobject.status.' + row[column]|translate | empty}}</ng-container>
                                    <ng-container
                                            *ngIf="column == 'vertrouwelijkheidaanduiding'">{{'vertrouwelijkheidaanduiding.' + row[column]|translate | empty}}</ng-container>
                                    <ng-container *ngIf="column == 'creatiedatum'">{{row[column] | datum | empty}}</ng-container>
                                    <ng-container *ngIf="column == 'auteur'">{{row[column]| empty}}</ng-container>
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="url" stickyEnd>
                                <th mat-header-cell *matHeaderCellDef></th>
                                <td mat-cell *matCellDef="let row">
                                    <button mat-flat-button [routerLink]="['/informatie-objecten', row.uuid]"
                                            title="{{ 'actie.document.bekijken' | translate}}">
                                        <mat-icon>visibility</mat-icon>
                                    </button>
                                </td>
                            </ng-container>
                            <tr mat-header-row
                                *matHeaderRowDef="['titel','status','vertrouwelijkheidaanduiding','creatiedatum', 'auteur', 'url']"></tr>
                            <tr mat-row
                                *matRowDef="let row; columns: ['titel','status','vertrouwelijkheidaanduiding','creatiedatum', 'auteur', 'url'];"></tr>
                        </table>
                        <p *ngIf="enkelvoudigInformatieObjecten.length == 0">{{'msg.geen.gegevens.gevonden' | translate}}</p>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
        <zac-notities [uuid]="zaak.uuid" [type]="notitieType"></zac-notities>
    </mat-sidenav-content>
</mat-sidenav-container>
<mat-toolbar class="bottom-toolbar" fxHide.gt-sm>

    <div fxLayout="row" fxLayoutAlign="start center">
        <button mat-icon-button (click)="zaakMenuSideNav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
    </div>

</mat-toolbar>
