<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="static-text">
    <label class="static-text-label">{{label}}</label>
    <div class="static-text-content">
        <i *ngIf="fileIcon" class="fa-solid {{fileIcon.icon}} {{fileIcon.color}}"></i>  {{value | empty}}
        <mat-icon class="label-icon"
                  [ngClass]="icon.styleClass"
                  *ngIf="icon"
                  (click)="iconClicked.emit()"
                  title="{{ icon.title | translate}}">
            {{icon.icon}}
        </mat-icon>
    </div>
</div>
