<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-card [formGroup]="formGroup">
    <mat-card-title>{{'zoeken.filter.' + (label | lowercase) | translate}}</mat-card-title>
    <mat-card-content>
        <div *ngFor="let name of opties;">
            <mat-checkbox (change)="checkboxChange()" [formControlName]="name">
                <read-more *ngIf="isVertaalbaar(label)" [text]="VERTAALBAARE_FACETTEN[label]+'.'+name | translate" [maxLength]="30"></read-more>
                <read-more *ngIf="!isVertaalbaar(label)" [text]="name" [maxLength]="30"></read-more>
            </mat-checkbox>
        </div>
    </mat-card-content>
</mat-card>
