<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->
<div class="static-text" (click)="edit(true)" [class.readonly]="readonly">
    <label class="static-text-label">
        {{formField.label | translate}}
        <mat-icon>edit</mat-icon>
    </label>
    <div *ngIf="!editing" class="static-text-content">
        {{value | empty}}
        <div class="edit-icon">
            <mat-icon>edit</mat-icon>
        </div>
    </div>
</div>

<div *ngIf="editing" (zacOutsideClick)="onOutsideClick()">
    <mfb-form-field [field]="formField" (click)="$event.stopPropagation()"></mfb-form-field>
    <mfb-form-field [field]="reasonField" (click)="$event.stopPropagation()"></mfb-form-field>

    <div class="form-buttons">
        <button (click)="save()" color="primary" id="groepOpslaan_button" mat-mini-fab
                title="{{'actie.opslaan' | translate}}">
            <mat-icon>check</mat-icon>
        </button>
        <button (click)="cancel()" color="warn" id="groepAnnuleren_button" mat-mini-fab
                title="{{'actie.annuleren' | translate}}">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
