<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div *ngIf="!editing">
    <div class="static-text flex-row flex-wrap flex-col-xs" [class.readonly]="readonly" (click)="edit()">
        <div class="flex-1 w33 w100-sm">
            <label class="static-text-label">
                {{startDatumField.label | translate}}
                <mat-icon *ngIf="!readonly">edit</mat-icon>
            </label>
            <div class="static-text-content">
                {{startDatumField.formControl.defaultValue | datum}}
            </div>
        </div>
        <div class="flex-1 w33 w100-sm">
            <label class="static-text-label">
                {{einddatumGeplandField.label | translate}}
                <mat-icon *ngIf="!readonly">edit</mat-icon>
            </label>
            <div class="static-text-content">
                <div>
                    {{einddatumGeplandField.formControl.defaultValue | datum | empty}}
                    <mat-icon class="label-icon"
                              [ngClass]="einddatumGeplandIcon.styleClass"
                              *ngIf="showEinddatumGeplandIcon"
                              title="{{ einddatumGeplandIcon.title | translate}}">
                        {{einddatumGeplandIcon.icon}}
                    </mat-icon>
                </div>
            </div>
        </div>
        <div class="flex-1 w33 w100-sm">
            <label class="static-text-label">
                {{uiterlijkeEinddatumAfdoeningField.label | translate}}
                <mat-icon *ngIf="!readonly">edit</mat-icon>
            </label>
            <div class="static-text-content">
                <div>
                    {{uiterlijkeEinddatumAfdoeningField.formControl.defaultValue | datum}}
                    <mat-icon class="label-icon"
                              [ngClass]="uiterlijkeEinddatumAfdoeningIcon.styleClass"
                              *ngIf="showUiterlijkeEinddatumAfdoeningIcon"
                              title="{{ uiterlijkeEinddatumAfdoeningIcon.title | translate}}">
                        {{uiterlijkeEinddatumAfdoeningIcon.icon}}
                    </mat-icon>
                </div>
                <div *ngIf="!readonly" class="edit-icon">
                    <mat-icon>edit</mat-icon>
                </div>
            </div>
        </div>
    </div>
    <div class="flex-row space-between toelichting">
        <div class="gap-5 flex-col">
            <div *ngIf="verlengDuur">
                {{'duurVerlenging' | translate:{duur: verlengDuur} }}
            </div>
            <div *ngIf="opgeschort">
                {{'duurDagenOpschorting' | translate:{dagen: opschortDuur} }}
            </div>
        </div>
        <div class="flex-row">
            <div *ngIf="actieVerlengen" class="time-control">
                <button mat-icon-button color="primary" (click)="verlengen()" title="{{ 'actie.zaak.verlengen' | translate}}">
                    <mat-icon class="time-button">history</mat-icon>
                </button>
            </div>
            <div *ngIf="actieOpschorten" class="play-control">
                <button mat-icon-button color="primary"
                        [disabled]="isHervat"
                        (click)="opschorten()"
                        title="{{ isHervat ? ('msg.zaak.opschorten.niet.toegestaan' | translate:{reden: opschortReden}) : ('actie.zaak.opschorten' | translate)}}">
                    <mat-icon class="play-icon">play_arrow</mat-icon>
                    <mat-icon class="play-button">pause_circle_outline</mat-icon>
                </button>
            </div>
            <div *ngIf="actieHervatten" class="play-control">
                <button mat-icon-button color="primary" (click)="hervatten()" title="{{ 'actie.zaak.hervatten' | translate}}">
                    <mat-icon class="play-icon">pause</mat-icon>
                    <mat-icon class="play-button">play_circle_outline</mat-icon>
                </button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="editing" (zacOutsideClick)="onOutsideClick()">
    <div class="flex-row flex-col-xs flex-wrap gap-5">
        <div class="flex-1 w50-md">
            <mfb-form-field [field]="startDatumField" (valueChanges)="validate()" (click)="$event.stopPropagation()"></mfb-form-field>
        </div>
        <div class="flex-1 w50-md">
            <mfb-form-field [field]="einddatumGeplandField" (valueChanges)="validate()" (click)="$event.stopPropagation()"></mfb-form-field>
            <mat-error class="error-text" *ngIf="showEinddatumGeplandError">
                {{ 'msg.error.date.invalid.streef' | translate}}</mat-error>
        </div>
        <div class="flex-1 w50-md">
            <mfb-form-field [field]="uiterlijkeEinddatumAfdoeningField" (valueChanges)="validate()" (click)="$event.stopPropagation()"></mfb-form-field>
            <mat-error class="error-text" *ngIf="showUiterlijkeEinddatumAfdoeningError">
                {{ 'msg.error.date.invalid.fatale' + (einddatumGeplandField.formControl.defaultValue ? '1' : '2') | translate}}</mat-error>
        </div>
        <mfb-form-field class="w100" [field]="reasonField" (click)="$event.stopPropagation()"></mfb-form-field>
    </div>

    <div class="form-buttons">
        <button (click)="save()" [disabled]="hasError() || formFields.invalid" color="primary" id="datumOpslaan_button" mat-mini-fab
                title="{{'actie.opslaan' | translate}}">
            <mat-icon>check</mat-icon>
        </button>
        <button (click)="cancel()" color="warn" id="datumAnnuleren_button" mat-mini-fab
                title="{{'actie.annuleren' | translate}}">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
