/*
 * SPDX-FileCopyrightText: 2022 Atos
 * SPDX-License-Identifier: EUPL-1.2+
 */

.error-text {
  font-size: 75%;
}

.datum-field {
  padding-right: 5px;
}

.datum-groep-wrapper {
  min-height: 24px;
  flex: 1 1 100%;
  display: flex;
  justify-content: space-between;
  white-space: pre-line;
}

.datum-control-wrapper {
  width: 100%;
}

.time-control {
  .time-button {
    transform: scaleX(-1);
  }

  float: right;
}

.play-control {
  &:hover {
    .play-icon {
      visibility: hidden;
    }

    .play-button {
      visibility: visible;
    }
  }

  .play-icon {
    visibility: visible;
    color: black;
  }

  .play-button {
    visibility: hidden;
    margin-left: -24px;
  }

  float: right;
}
