<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div class="static-text" (click)="edit(true)" [class.readonly]="readonly">
    <div *ngIf="!editing" class="static-text-content">
        <div [fxFlex]="100/3">
            <label class="static-text-label">
                {{startDatumField.label | translate}}
                <mat-icon>edit</mat-icon>
            </label>
            <div>
                {{startDatum | datum | empty}}
            </div>
        </div>
        <div [fxFlex]="100/3">
            <label class="static-text-label">
                {{streefDatumField.label | translate}}
                <mat-icon>edit</mat-icon>
            </label>
            <div>
                {{streefDatum | datum | empty}}
                <mat-icon class="label-icon"
                          [ngClass]="streefDatumIcon.styleClass"
                          *ngIf="showStreefDatumIcon"
                          title="{{ streefDatumIcon.title | translate}}">
                    {{streefDatumIcon.icon}}
                </mat-icon>
            </div>
        </div>
        <div [fxFlex]="100/3 - 2.5">
            <label class="static-text-label">
                {{fataleDatumField.label | translate}}
                <mat-icon>edit</mat-icon>
            </label>
            <div>
                {{fataleDatum | datum | empty}}
                <mat-icon class="label-icon"
                          [ngClass]="fataleDatumIcon.styleClass"
                          *ngIf="showFataleDatumIcon"
                          title="{{ fataleDatumIcon.title | translate}}">
                    {{fataleDatumIcon.icon}}
                </mat-icon>
            </div>
        </div>
        <div class="edit-icon">
            <mat-icon>edit</mat-icon>
        </div>
    </div>
</div>

<div *ngIf="editing" (zacOutsideClick)="onOutsideClick()">
    <div>
        <mfb-form-field [fxFlex]="100/3" [field]="startDatumItem" (click)="$event.stopPropagation()"></mfb-form-field>
        <mfb-form-field [fxFlex]="100/3" [field]="streefDatumItem" (click)="$event.stopPropagation()"></mfb-form-field>
        <mfb-form-field [fxFlex]="100/3" [field]="fataleDatumItem" (click)="$event.stopPropagation()"></mfb-form-field>
    </div>
    <div *ngFor="let err of errors" class="static-text">
        <mat-error>{{err | translate}}</mat-error>
    </div>
    <div>
        <mfb-form-field [field]="reasonItem" (click)="$event.stopPropagation()"></mfb-form-field>
    </div>
    <div class="form-buttons">
        <button (click)="save()" color="primary" id="datumOpslaan_button" mat-mini-fab
                title="{{'actie.opslaan' | translate}}">
            <mat-icon>check</mat-icon>
        </button>
        <button (click)="cancel()" color="warn" id="datumAnnuleren_button" mat-mini-fab
                title="{{'actie.annuleren' | translate}}">
            <mat-icon>close</mat-icon>
        </button>
    </div>
</div>
