<!--
  ~ SPDX-FileCopyrightText: 2021 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-nav-list [@sideNavToggle]="menuState" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
    <ng-container *ngFor="let menuItem of menu" [ngSwitch]="menuItem.type">
        <h3 mat-subheader *ngSwitchCase="menuItemType.HEADER">
            <mat-icon *ngIf="menuState===MenuState.CLOSED">{{menuItem.icon ? menuItem.icon : 'more_horiz'}}</mat-icon>
            <span *ngIf="menuState===MenuState.OPEN"> {{menuItem.title | translate}}</span>
        </h3>
        <mat-divider *ngSwitchCase="menuItemType.HEADER"></mat-divider>

        <a mat-list-item *ngSwitchCase="menuItemType.LINK" routerLink="{{asLinkMenuItem(menuItem).url}}" routerLinkActive="active">
            <mat-icon [matTooltipDisabled]="menuState === MenuState.OPEN" matTooltipPosition="after" [matTooltip]="menuItem.title | translate"
                      mat-list-icon>{{menuItem.icon}}</mat-icon>
            <div mat-line>{{menuItem.title | translate}}</div>
        </a>
        <a mat-list-item *ngSwitchCase="menuItemType.BUTTON" (click)="onClick(asButtonMenuItem(menuItem))" routerLinkActive="active">
            <mat-icon [matTooltipDisabled]="menuState === MenuState.OPEN" matTooltipPosition="after" [matTooltip]="menuItem.title | translate"
                      mat-list-icon>{{menuItem.icon}}</mat-icon>
            <div mat-line>{{menuItem.title | translate}}</div>
        </a>
        <a mat-list-item *ngSwitchCase="menuItemType.HREF" [href]="asHrefMenuItem(menuItem).url">
            <mat-icon [matTooltipDisabled]="menuState === MenuState.OPEN" matTooltipPosition="after" [matTooltip]="menuItem.title | translate"
                      mat-list-icon>{{menuItem.icon}}</mat-icon>
            <div mat-line>{{menuItem.title | translate}}</div>
        </a>
    </ng-container>
</mat-nav-list>
<mat-toolbar class="toolbar-footer">
    <button (click)="toggleMenu()" mat-mini-fab color="" id="toggleMenuButon" title="{{'actie.menu.aanpassen' | translate}}">
        <mat-icon [@rotated180]="menuMode">{{menuMode === MenuMode.AUTO ? 'menu' : 'menu_open'}}</mat-icon>
    </button>
</mat-toolbar>



