<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<mat-chip-list [ngClass]="{'list': zaakZoekObject, 'view': zaak}" selectable="false" fxLayout="row">
    <mat-chip *ngFor="let indicatie of indicaties"
              [color]="indicatie.primary ? 'accent' : null"
              [selected]="indicatie.primary ? true : null"
              [matTooltip]="zaakZoekObject ? indicatie.tooltip.list : indicatie.tooltip.view">
        {{zaakZoekObject ? indicatie.content.list : indicatie.content.view}}
    </mat-chip>
</mat-chip-list>
