<!--
  ~ SPDX-FileCopyrightText: 2022 Atos
  ~ SPDX-License-Identifier: EUPL-1.2+
  -->

<div fxLayout>
    <mat-expansion-panel fxFlex="calc(100%-20px)"
                         [expanded]="klantExpanded"
                         (expandedChange)="klantExpandedChanged($event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{'initiator.titel'| translate}}
            </mat-panel-title>
            <mat-panel-description>
                <zac-skeleton-loader [loading$]="bedrijf$">
                    {{bedrijf?.naam}}
                </zac-skeleton-loader>
                <button *ngIf="bedrijf && isWijzigbaar" [title]="'actie.verwijderen' | translate" mat-icon-button (click)="$event.stopPropagation(); delete.emit(bedrijf)">
                    <mat-icon>delete</mat-icon>
                </button>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <zac-skeleton-loader [loading$]="bedrijf$" [options]="{layout:'fields', fields:8, fieldsPerRow:4}">
            <div id="bedrijfsgegevens" class="content" fxLayout="row wrap" fxLayout.lt-sm="column wrap">
                <div [fxFlex]="100/4" fxFlex.lt-md="50">
                    <zac-static-text [label]="'handelsnaam' | translate"
                                     [value]="bedrijf?.naam"></zac-static-text>
                    <zac-static-text [label]="'vestigingsadres' | translate"
                                     [value]="bedrijf?.adres"></zac-static-text>

                </div>
                <div [fxFlex]="100/4" fxFlex.lt-md="50">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text [label]="'vestigingsnummer' | translate"
                                     [value]="bedrijf?.vestigingsnummer"></zac-static-text>
                    <zac-static-text [label]="'kvknummer' | translate"
                                     [value]="bedrijf?.kvkNummer"></zac-static-text>
                </div>
                <div [fxFlex]="100/4" fxFlex.lt-md="50" fxLayout.sm="row">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text [label]="'type' | translate"
                                     [value]="bedrijf?.type"></zac-static-text>
                    <zac-static-text fxFlex.sm="25" [label]="'telefoonnummer' | translate"
                                     [value]="'-'"></zac-static-text>

                </div>
                <div [fxFlex]="100/4" fxFlex.lt-md="50" fxLayout.sm="row">
                    <div class="mat-divider-wrapper" fxHide fxShow.lt-sm>
                        <mat-divider></mat-divider>
                    </div>
                    <zac-static-text fxFlex.sm="25" [label]="'emailadres' | translate"
                                     [value]="'-'"></zac-static-text>
                    <zac-static-text fxFlex.sm="25" [label]="'telefoonnummer2' | translate"
                                     [value]="'-'"></zac-static-text>
                </div>
            </div>
        </zac-skeleton-loader>
    </mat-expansion-panel>
</div>
