openapi: 3.0.0
info:
  title: IMBAG API - van de LVBAG
  description: "Dit is de [BAG API](https://zakelijk.kadaster.nl/-/bag-api) Individuele\
    \ Bevragingen van de Landelijke Voorziening Basisregistratie Adressen en Gebouwen\
    \ (LVBAG).\n\nMeer informatie over de Basisregistratie Adressen en Gebouwen is\
    \ te vinden op de website van het [Ministerie van Binnenlandse Zaken en Koninkrijksrelaties](https://www.geobasisregistraties.nl/basisregistraties/adressen-en-gebouwen)\
    \ en [Kadaster](https://zakelijk.kadaster.nl/bag).\n\nDe BAG API levert informatie\
    \ conform de [BAG Catalogus 2018](https://www.geobasisregistraties.nl/documenten/publicatie/2018/03/12/catalogus-2018)\
    \ en het informatiemodel IMBAG 2.0.\nDe API specificatie volgt de [Nederlandse\
    \ API-Strategie](https://docs.geostandaarden.nl/api/API-Strategie) specificatie\
    \ versie van 20200204 en is opgesteld in [OpenAPI Specificatie](https://www.forumstandaardisatie.nl/standaard/openapi-specification)\
    \ (OAS) v3.\n\nHet standaard mediatype HAL (`application/hal+json`) wordt gebruikt.\
    \ Dit is een mediatype voor het weergeven van resources en hun relaties via hyperlinks.\n\
    \nDeze API is vooral gericht op individuele bevragingen (op basis van de identificerende\
    \ gegevens van een object).\nOm gebruik te kunnen maken van de BAG API is een\
    \ API key nodig, deze kan verkregen worden door het [aanvraagformulier](https://formulieren.kadaster.nl/aanvraag_bag_api_individuele_bevragingen_productie)\
    \ in te vullen.\n\nVoor vragen, neem contact op met de LVBAG beheerder o.v.v.\
    \ BAG API 2.0. We zijn aan het kijken naar een geschikt medium hiervoor, mede\
    \ ook om de API iteratief te kunnen opstellen of doorontwikkelen samen met de\
    \ community. Als de API iets (nog) niet kan, wat u wel graag wilt, neem dan contact\
    \ op."
  termsOfService: https://zakelijk.kadaster.nl/algemene-voorwaarden
  contact:
    name: Kadaster - Beheerder LVBAG
    url: https://zakelijk.kadaster.nl/bag
  license:
    name: "European Union Public License, version 1.2 (EUPL-1.2)"
    url: https://eupl.eu/1.2/nl/
  version: 2.6.0
servers:
  - url: https://api.bag.acceptatie.kadaster.nl/lvbag/individuelebevragingen/v2
    description: LVBAG - ACCEPTATIE
  - url: https://api.bag.kadaster.nl/lvbag/individuelebevragingen/v2
    description: LVBAG - PRODUCTIE
security:
  - apiKeyBAG: [ ]
tags:
  - name: Bronhouder
    description: Dit endpoint levert één of meer bronhouder(s).
  - name: Woonplaats
    description: "Dit endpoint levert één of meer (voorkomens van) woonplaats(en), met\
    \ embedded resources en links."
  - name: Nummeraanduiding
    description: "Dit endpoint levert één of meer (voorkomens van) nummeraanduiding(en),\
    \ met embedded resources en links."
  - name: Openbare ruimte
    description: "Dit endpoint levert één of meer (voorkomens van) openbare ruimte(n),\
    \ met embedded resources en links."
  - name: Verblijfsobject
    description: "Dit endpoint levert één of meer (voorkomens van) verblijfsobject(en),\
    \ met embedded resources en links."
  - name: Adres uitgebreid
    description: "Deze service levert uitgebreide informatie van één of meer huidige\
    \  adressen, met embedded resources en links. Huidig betekent dat het adres  actueel\
    \ is en geen eind status heeft. Voor een toelichting zie de  [Praktijkhandleiding\
    \ BAG](https://imbag.github.io/praktijkhandleiding/artikelen/wat-is-het-verschil-tussen-actieve-voorkomens-actuele-voorkomens-en-huidige-voorkomens)."
  - name: Ligplaats
    description: "Dit endpoint levert één of meer (voorkomens van) ligplaats(en), met\
    \ embedded resources en links."
  - name: Standplaats
    description: "Dit endpoint levert één of meer (voorkomens van) standplaats(en),\
    \ met embedded resources en links."
  - name: Pand
    description: "Dit endpoint levert één of meer (voorkomens van) pand(en), met embedded\
    \ resources en links."
  - name: Algemene informatie
    description: Het endpoint voor algemene informatie levert informatie op van de API.
  - name: Adres
    description: "Deze services leveren één of meer huidige adressen, met embedded resources\
    \ en links. Huidig betekent dat het adres actueel is en geen eind status heeft.\
    \ Voor een toelichting zie de [Praktijkhandleiding BAG](https://imbag.github.io/praktijkhandleiding/artikelen/wat-is-het-verschil-tussen-actieve-voorkomens-actuele-voorkomens-en-huidige-voorkomens)."
  - name: Adresseerbaar object
    description: Dit endpoint levert één of meer (voorkomens van) adresseerbare objecten
      met embedded resources en links.
paths:
  /bronhouders/{identificatie}:
    get:
      tags:
        - Bronhouder
      summary: Bevragen bronhouder met de bronhouder identificatie (gemeentecode).
      description: "Bevragen/raadplegen van een bronhouder met de identificatie van\
        \ een bronhouder (gemeentecode).\nDe geldigOp en beschikbaarOp parameters\
        \ kunnen gebruikt worden voor  tijdreis vragen, zie  [functionele specificatie\
        \ tijdreizen](https://github.com/lvbag/BAG-API/blob/master/Features/tijdreizen.feature). "
      operationId: bevragenBronhouder
      parameters:
        - name: identificatie
          in: path
          description: "Een officiële code die aan een gemeente is toegekend en ontleend\
          \ is \naan tabel 33.\n"
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/GemeenteCode'
        - name: geldigOp
          in: query
          description: "Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`\n\
          Deze parameter komt uit de API strategie, het hoofdstuk \n[Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2019-11-23
        - name: beschikbaarOp
          in: query
          description: "Filtert op objecten die beschikbaar zijn op de opgegeven datum\
          \ en tijd \n`YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss' en\
          \ milliseconden \n'.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden \nweggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ \nrespectievelijk '.000'. Indien er voor de milliseconden '.sss' meer\
          \ dan 3 \ncijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt\
          \ tot '.123'.\nDeze parameter komt uit de API strategie, het hoofdstuk \n\
          [Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Bevraging bronhouder geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BronhouderHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
  /bronhouders:
    get:
      tags:
        - Bronhouder
      summary: Bevragen bronhouder met een object identificatie.
      description: "Bevragen/raadplegen van een bronhouder met de identificatie van\
        \ een object. De identificatie van één van de objecten: woonplaats, openbare\
        \ ruimte, nummeraanduiding, ligplaats, standplaats, verblijfsobject of pand\
        \ dient gespecificeerd te worden:<br/>\nDe geldigOp en beschikbaarOp parameters\
        \ kunnen gebruikt worden voor  tijdreis vragen, zie  [functionele specificatie\
        \ tijdreizen](https://github.com/lvbag/BAG-API/blob/master/Features/tijdreizen.feature). "
      operationId: zoekBronhouder
      parameters:
        - name: woonplaatsIdentificatie
          in: query
          description: De identificatie van een woonplaats uit de BAG.
          required: false
          deprecated: true
          style: form
          explode: true
          schema:
            $ref: '#/components/schemas/WoonplaatsIdentificatie'
        - name: objectIdentificatie
          in: query
          description: "De identificatie van een object uit de BAG. Deze is 4 lang bij\
          \ een \nwoonplaats en 16 lang bij de andere objecten.\n"
          required: false
          style: form
          explode: true
          schema:
            pattern: "^[0-9]{4}(?:01|02|03|10|20|30)[0-9]{10}$|^[0-9]{3}[1-9]$|^[0-9]{2}[1-9][0-9]$|^[0-9][1-9][0-9]{2}$|^[1-9][0-9]{3}$"
            type: string
            example: "0226100000008856"
        - name: geldigOp
          in: query
          description: "Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`\n\
          Deze parameter komt uit de API strategie, het hoofdstuk \n[Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2019-11-23
        - name: beschikbaarOp
          in: query
          description: "Filtert op objecten die beschikbaar zijn op de opgegeven datum\
          \ en tijd \n`YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss' en\
          \ milliseconden \n'.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden \nweggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ \nrespectievelijk '.000'. Indien er voor de milliseconden '.sss' meer\
          \ dan 3 \ncijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt\
          \ tot '.123'.\nDeze parameter komt uit de API strategie, het hoofdstuk \n\
          [Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
      responses:
        "200":
          description: Bevraging zoekBronhouder geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BronhouderHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
  /bronhouders/{identificatie}/{versie}/{timestampRegistratieLv}:
    get:
      tags:
        - Bronhouder
      summary: "bevragen voorkomen van een bronhouder met de identificatie van een\
        \ bronhouder en de identificatie van een voorkomen, bestaande uit een versie\
        \ en een timestamp van het tijdstip van registratie in de LV BAG."
      description: "Bevragen/raadplegen van een voorkomen van een bronhouder met de\
        \ identificatie van een bronhouder en de identificatie van een voorkomen,\
        \ bestaande uit een versie en een timestamp van het tijdstip van registratie\
        \ in de LV BAG."
      operationId: bronhouderIdentificatieVoorkomen
      parameters:
        - name: identificatie
          in: path
          description: "Een officiële code die aan een gemeente is toegekend en ontleend\
          \ is \naan tabel 33.\n"
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/GemeenteCode'
        - name: versie
          in: path
          description: De versie van een voorkomen van een object.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 1
        - name: timestampRegistratieLv
          in: path
          description: Een timestamp van het tijdstip waarop een voorkomen is geregistreerd
            in de LV BAG.
          required: true
          style: simple
          explode: false
          schema:
            pattern: ^\d+$
            type: string
            example: "1530403860000"
      responses:
        "200":
          description: Bevraging bronhouderIdentificatieVoorkomen geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/BronhouderHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
  /woonplaatsen/{identificatie}:
    get:
      tags:
        - Woonplaats
      summary: bevragen van een woonplaats met de identificatie van een woonplaats.
      description: "Bevragen/raadplegen van een voorkomen van een Woonplaats met de\
        \ identificatie van de woonplaats. \nParameter huidig kan worden toegepast,\
        \ zie [functionele specificatie huidig](https://github.com/lvbag/BAG-API/blob/master/Features/huidig.feature).\n\
        De geldigOp en beschikbaarOp parameters kunnen gebruikt worden voor  tijdreis\
        \ vragen, zie  [functionele specificatie tijdreizen](https://github.com/lvbag/BAG-API/blob/master/Features/tijdreizen.feature).\
        \ \nAls expand=bronhouders, geometrie of true dan worden de gevraagde of alle\
        \ gerelateerde objecten als geneste resource geleverd, zie [functionele specificatie\
        \ expand](https://github.com/lvbag/BAG-API/blob/master/Features/expand.feature)."
      operationId: woonplaatsIdentificatie
      parameters:
        - name: identificatie
          in: path
          description: De identificatie van een woonplaats uit de BAG.
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/WoonplaatsIdentificatie'
        - name: geldigOp
          in: query
          description: "Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`\n\
          Deze parameter komt uit de API strategie, het hoofdstuk \n[Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2019-11-23
        - name: beschikbaarOp
          in: query
          description: "Filtert op objecten die beschikbaar zijn op de opgegeven datum\
          \ en tijd \n`YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss' en\
          \ milliseconden \n'.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden \nweggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ \nrespectievelijk '.000'. Indien er voor de milliseconden '.sss' meer\
          \ dan 3 \ncijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt\
          \ tot '.123'.\nDeze parameter komt uit de API strategie, het hoofdstuk \n\
          [Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: expand
          in: query
          description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Accept-Crs
          in: header
          description: Gewenste CRS van de coördinaten in de response.
          required: false
          deprecated: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
        - name: huidig
          in: query
          description: Indicatie dat alleen actuele object voorkomens zonder eindstatus
            gewenst zijn.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            default: false
      responses:
        "200":
          description: Bevraging woonplaatsIdentificatie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
            Content-Crs:
              $ref: '#/components/headers/Content-Crs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsIOHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
  /woonplaatsen/{identificatie}/lvc:
    get:
      tags:
        - Woonplaats
      summary: bevragen van de levenscyclus van een woonplaats met de identificatie
        van een woonplaats.
      description: "Bevragen/raadplegen van de levenscyclus van een Woonplaats met\
        \ de identificatie van de woonplaats.\nAls expand=bronhouders, geometrie of\
        \ true dan worden de gevraagde of alle gerelateerde objecten als geneste resource\
        \ geleverd, zie [functionele specificatie expand](https://github.com/lvbag/BAG-API/blob/master/Features/expand.feature)."
      operationId: woonplaatsLvcIdentificatie
      parameters:
        - name: identificatie
          in: path
          description: De identificatie van een woonplaats uit de BAG.
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/WoonplaatsIdentificatie'
        - name: geheleLvc
          in: query
          description: |
            Filtert naast geldige voorkomens ook de voorkomens die uit de geldige levenscyclus van het object zijn verwijderd.
            Als deze parameter wordt weggelaten worden alleen geldige voorkomens geretourneerd (default is false).
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: true
            default: false
        - name: expand
          in: query
          description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Accept-Crs
          in: header
          description: Gewenste CRS van de coördinaten in de response.
          required: false
          deprecated: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
      responses:
        "200":
          description: Bevraging woonplaatsLvcIdentificatie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
            Content-Crs:
              $ref: '#/components/headers/Content-Crs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsIOLvcHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
  /woonplaatsen:
    get:
      tags:
        - Woonplaats
      summary: "Zoeken van één of meer woonplaatsen met een woonplaatsnaam, geometrische\
        \ locatie of binnen een bounding box."
      description: "Zoeken van actuele woonplaatsen:\n\n1. met een woonplaatsnaam.\n\
        \n2. met een geometrische locatie.\n\n3. binnen een geometrische contour (rechthoek).\n\
        \n\nParameter huidig kan worden toegepast, zie [functionele specificatie huidig](https://github.com/lvbag/BAG-API/blob/master/Features/huidig.feature).\n\
        \nDe geldigOp en beschikbaarOp parameters kunnen gebruikt worden voor \ntijdreis\
        \ vragen, zie \n[functionele specificatie tijdreizen](https://github.com/lvbag/BAG-API/blob/master/Features/tijdreizen.feature).\
        \ \n\nAls expand=bronhouders, geometrie of true dan worden de gevraagde of\
        \ alle gerelateerde objecten als geneste resource geleverd, zie\n[functionele\
        \ specificatie expand](https://github.com/lvbag/BAG-API/blob/master/Features/expand.feature).\n\
        \nVoor paginering, zie: [functionele specificatie paginering](https://github.com/lvbag/BAG-API/blob/master/Features/paginering.feature).\n"
      operationId: zoekWoonplaatsen
      parameters:
        - name: naam
          in: query
          description: De naam van een woonplaats object uit de BAG.
          required: false
          style: form
          explode: true
          schema:
            maxLength: 80
            minLength: 1
            pattern: "^[\\u0020-\\u007E;\\u00A0-\\u00FF;\\u0100-\\u0113;\\u0116-\\u012B;\\\
            u012E-\\u014D;\\u0150-\\u017E;\\u02C7;\\u02D8-\\u02DB;\\u02DD;\\u2015;\\\
            u2018-\\u2019;\\u201C-\\u201D;\\u20AC;\\u2122;\\u2126;\\u215B-\\u215E;\\\
            u2190-\\u2193;\\u266A;]*"
            type: string
            example: Duiven
        - name: geldigOp
          in: query
          description: "Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`\n\
          Deze parameter komt uit de API strategie, het hoofdstuk \n[Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2019-11-23
        - name: beschikbaarOp
          in: query
          description: "Filtert op objecten die beschikbaar zijn op de opgegeven datum\
          \ en tijd \n`YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss' en\
          \ milliseconden \n'.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden \nweggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ \nrespectievelijk '.000'. Indien er voor de milliseconden '.sss' meer\
          \ dan 3 \ncijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt\
          \ tot '.123'.\nDeze parameter komt uit de API strategie, het hoofdstuk \n\
          [Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: huidig
          in: query
          description: Indicatie dat alleen actuele object voorkomens zonder eindstatus
            gewenst zijn.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            default: false
        - name: expand
          in: query
          description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Accept-Crs
          in: header
          description: Gewenste CRS van de coördinaten in de response.
          required: false
          deprecated: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
        - name: Content-Crs
          in: header
          description: CRS van de meegegeven geometrie.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
        - name: page
          in: query
          description: Pagina nummer
          required: false
          style: form
          explode: true
          schema:
            minimum: 1
            type: integer
            default: 1
        - name: pageSize
          in: query
          description: Aantal resultaten per pagina
          required: false
          style: form
          explode: true
          schema:
            maximum: 100
            minimum: 10
            type: integer
            default: 20
        - name: point
          in: query
          description: "Punt conform OGC API Features standaard.\nMet de content-crs\
          \ header wordt aangegeven in welk CRS de coördinaten van het punt is. \n"
          required: false
          style: form
          explode: false
          schema:
            $ref: '#/components/schemas/pointGeoJSON'
          example:
            type: Point
            coordinates:
              - 196733.51
              - 439931.89
        - name: bbox
          in: query
          description: "Rechthoek (bounding box) waarbinnen het object dat je zoekt\
          \ valt.\nVoor een definitie van bbox, zie [OGC API Features specificatie\
          \ - bbox definitie](https://docs.opengeospatial.org/is/17-069r3/17-069r3.html#ats_core_fc-bbox-definition).\n\
          Met de content-crs header wordt aangegeven in welk CRS de coördinaten van\
          \ de bbox zijn. \nCoördinaten worden als volgt opgegeven: linksonder x,\
          \ linksonder y, rechtsboven x, rechtsboven y.\nDe oppervlakte van de bounding\
          \ box mag maximaal 250.000 vierkante meter zijn.\n"
          required: false
          style: form
          explode: false
          schema:
            maxItems: 4
            minItems: 4
            type: array
            example:
              - 196733.51
              - 439931.89
              - 196833.51
              - 440031.89
            items:
              type: number
      responses:
        "200":
          description: zoekWoonplaatsen geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
            X-Pagination-Page:
              $ref: '#/components/headers/X-Pagination-Page'
            X-Pagination-Limit:
              $ref: '#/components/headers/X-Pagination-Limit'
            Content-Crs:
              $ref: '#/components/headers/Content-Crs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsIOHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
    post:
      tags:
        - Woonplaats
      summary: bevragen van een woonplaats met een geometrische locatie.
      description: "Bevragen/raadplegen van een voorkomen van een Woonplaats met een\
        \ geometrische locatie.\nParameter huidig kan worden toegepast, zie [functionele\
        \ specificatie huidig](https://github.com/lvbag/BAG-API/blob/master/Features/huidig.feature).\n\
        De geldigOp en beschikbaarOp parameters kunnen gebruikt worden voor  tijdreis\
        \ vragen, zie  [functionele specificatie tijdreizen](https://github.com/lvbag/BAG-API/blob/master/Features/tijdreizen.feature).\
        \ \nAls expand=bronhouders, geometrie of true dan worden de gevraagde of alle\
        \ gerelateerde objecten als geneste resource geleverd, zie [functionele specificatie\
        \ expand](https://github.com/lvbag/BAG-API/blob/master/Features/expand.feature)."
      operationId: woonplaatsGeometrie
      parameters:
        - name: geldigOp
          in: query
          description: "Filtert op objecten die geldig zijn op de opgegeven datum `JJJJ-MM-DD`\n\
          Deze parameter komt uit de API strategie, het hoofdstuk \n[Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date
            example: 2019-11-23
        - name: beschikbaarOp
          in: query
          description: "Filtert op objecten die beschikbaar zijn op de opgegeven datum\
          \ en tijd \n`YYYY-MM-DDThh:mm:ss.sss'. Hierin kunnen de seconden ':ss' en\
          \ milliseconden \n'.sss' of alleen de milliseconden conform ISO 8601 specificatie\
          \ worden \nweggelaten, in dat geval krijgen deze automatisch de waarde ':00'\
          \ \nrespectievelijk '.000'. Indien er voor de milliseconden '.sss' meer\
          \ dan 3 \ncijfers worden opgegeven, bv. '.12345', dan wordt dit afgekapt\
          \ tot '.123'.\nDeze parameter komt uit de API strategie, het hoofdstuk \n\
          [Temporal](https://docs.geostandaarden.nl/api/API-Strategie-ext/#temporal).\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
            format: date-time
        - name: huidig
          in: query
          description: Indicatie dat alleen actuele object voorkomens zonder eindstatus
            gewenst zijn.
          required: false
          style: form
          explode: true
          schema:
            type: boolean
            example: false
            default: false
        - name: expand
          in: query
          description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Content-Crs
          in: header
          description: CRS van de meegegeven geometrie.
          required: false
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
        - name: Accept-Crs
          in: header
          description: Gewenste CRS van de coördinaten in de response.
          required: false
          deprecated: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
      requestBody:
        description: Geometrisch punt waarop de woonplaatsen bepaald moeten worden.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/pointGeoJSON'
            example:
              type: Point
              coordinates: "[196733.510, 439931.890]"
        required: true
      responses:
        "200":
          description: Bevraging woonplaatsGeometrie geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
            Content-Crs:
              $ref: '#/components/headers/Content-Crs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsIOHalCollection'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "415":
          description: Unsupported media type.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 415
                title: Media-type niet ondersteund
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.16
                  415 Unsupported Media Type
                detail: The server is refusing the request because the entity of the
                  request is in a format not supported by the requested resource for
                  the requested method.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: unsupported
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
          description: Er is een onverwachte fout opgetreden.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
      security:
        - apiKeyBAG: [ ]
  /woonplaatsen/{identificatie}/{versie}/{timestampRegistratieLv}:
    get:
      tags:
        - Woonplaats
      summary: "bevragen van een voorkomen van een woonplaats met de identificatie\
        \ van een woonplaats en de identificatie van een voorkomen, bestaande uit\
        \ een versie en een timestamp van het tijdstip van registratie in de LV BAG."
      description: "Bevragen/raadplegen van een voorkomen van een Woonplaats met de\
        \ identificatie van een woonplaats en de identificatie van een voorkomen,\
        \ bestaande uit een versie en een timestamp van het tijdstip van registratie\
        \ in de LV BAG.\nAls expand=bronhouders, geometrie of true dan worden de gevraagde\
        \ of alle gerelateerde objecten als geneste resource geleverd, zie [functionele\
        \ specificatie expand](https://github.com/lvbag/BAG-API/blob/master/Features/expand.feature)."
      operationId: woonplaatsIdentificatieVoorkomen
      parameters:
        - name: identificatie
          in: path
          description: De identificatie van een woonplaats uit de BAG.
          required: true
          style: simple
          explode: false
          schema:
            $ref: '#/components/schemas/WoonplaatsIdentificatie'
        - name: versie
          in: path
          description: De versie van een voorkomen van een object.
          required: true
          style: simple
          explode: false
          schema:
            type: integer
            example: 1
        - name: timestampRegistratieLv
          in: path
          description: "Een timestamp van het tijdstip waarop een voorkomen is geregistreerd\
          \ \nin de LV BAG.\n"
          required: true
          style: simple
          explode: false
          schema:
            pattern: ^\d+$
            type: string
            example: "1530403860000"
        - name: expand
          in: query
          description: "Hier kan aangegeven worden welke gerelateerde resources meegeladen\
          \ moeten worden. Resources en velden van resources die gewenst zijn kunnen\
          \ in de expand parameter kommagescheiden worden opgegeven. Specifieke velden\
          \ van resource kunnen worden opgegeven door het opgeven van de resource-naam\
          \ gevolgd door de veldnaam, met daartussen een punt."
          required: false
          style: form
          explode: true
          schema:
            type: string
        - name: Accept-Crs
          in: header
          description: Gewenste CRS van de coördinaten in de response.
          required: false
          deprecated: true
          style: simple
          explode: false
          schema:
            type: string
            enum:
              - epsg:28992
      responses:
        "200":
          description: Bevraging woonplaatsIdentificatieVoorkomen geslaagd
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            warning:
              $ref: '#/components/headers/Warning'
            Content-Crs:
              $ref: '#/components/headers/Content-Crs'
          content:
            application/hal+json:
              schema:
                $ref: '#/components/schemas/WoonplaatsIOHal'
        "400":
          description: Bad request
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 400
                title: Ten minste één parameter moet worden opgegeven.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.1
                  400 Bad Request
                detail: The request could not be understood by the server due to malformed
                  syntax. The client SHOULD NOT repeat the request without modification.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: paramsRequired
                invalid-params:
                  - type: https://www.vng.nl/realisatie/api/validaties/integer
                    name: verblijfplaats_huisnummer
                    code: integer
                    reason: Waarde is geen geldige integer.
        "401":
          description: Unauthorized. Je hebt waarschijnlijk geen geldige `X-Api-Key`
            header meegestuurd.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 401
                title: Niet correct geauthenticeerd.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.2
                  401 Unauthorized
                detail: The request requires user authentication. The response MUST
                  include a WWW-Authenticate header field (section 14.47) containing
                  a challenge applicable to the requested resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: authentication
        "403":
          description: Forbidden. Je hebt geen rechten om deze URL te benaderen.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 403
                title: U bent niet geautoriseerd voor deze operatie.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.4
                  403 Forbidden
                detail: "The server understood the request, but is refusing to fulfill\
                  \ it."
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: autorisation
        "404":
          description: Not found.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 404
                title: Opgevraagde resource bestaat niet.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.5
                  404 Not Found
                detail: The server has not found anything matching the Request-URI.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notFound
        "405":
          description: Method not allowed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              example:
                status: 405
                title: Methode niet toegestaan
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.6
                  405 Method Not Allowed
                detail: The method specified in the Request-Line is not allowed for
                  the resource identified by the Request-URI. The response MUST include
                  an Allow header containing a list of valid methods for the requested
                  resource.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: methodNotAllowed
        "406":
          description: Not Acceptable. Je hebt waarschijnlijk een gewenst formaat
            met de `Accept` header verstuurd welke niet ondersteund wordt.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            acceptCrs:
              $ref: '#/components/headers/Accept-Crs'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 406
                title: Gevraagde contenttype wordt niet ondersteund.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.7
                  406 Not Acceptable
                detail: The resource identified by the request is only capable of
                  generating response entities which have content characteristics
                  not acceptable according to the accept headers sent in the request
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAcceptable
        "412":
          description: Precondition failed.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 412
                title: Niet voldaan aan vooraf gestelde voorwaarde
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.4.13
                  412 Precondition Failed
                detail: The precondition given in one or more of the request-header
                  fields evaluated to false when it was tested on the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: preconditionFailed
        "500":
          description: Internal server error.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 500
                title: Interne server fout.
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.1
                  500 Internal server error
                detail: The server encountered an unexpected condition which prevented
                  it from fulfilling the request.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: serverError
        "503":
          description: Service Unavailable. Er vindt mogelijk (gepland) onderhoud
            of een storing plaats.
          headers:
            api-version:
              $ref: '#/components/headers/API-Version'
            Retry-After:
              description: Tijdstip waarop verwacht wordt dat de service weer beschikbaar
                zal zijn.
              style: simple
              explode: false
              schema:
                type: string
                format: date-time
              x-example: "Sun, 28 Nov 2017 16:41:41 GMT"
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: 503
                title: "Bronservice {bron} is tijdelijk niet beschikbaar."
                type: https://www.w3.org/Protocols/rfc2616/rfc2616-sec10.html#/10.5.4
                  503 Service Unavailable
                detail: The service is currently unable to handle the request due
                  to a temporary overloading or maintenance of the server.
                instance: https://datapunt.voorbeeldgemeente.nl/api/v1/resourcenaam?parameter=waarde
                code: notAvailable
        default:
[...]
